nodered_flows/cyber_attack.json
[
    {
        "id": "75de21df87d0d399",
        "type": "ui-template",
        "z": "8845baed1e08988e",
        "group": "ui_grp_kcterm",
        "name": "Hacker Terminal",
        "order": 1,
        "width": 0,
        "height": 0,
        "format": "<div style=\"background:#0f172a;color:#10b981;padding:15px;height:450px;overflow-y:auto;font-family:monospace;margin:0;border-radius:4px;\"><h3>root@kali-linux:~#</h3><pre style=\"white-space:pre-wrap;\" v-text=\"msg.payload||'Awaiting target node deployment...' \"></pre></div>",
        "storeOutMessages": true,
        "resendOnRefresh": true,
        "templateScope": "local",
        "className": "",
        "x": 1260,
        "y": 380,
        "wires": [
            []
        ]
    },
    {
        "id": "c387e9b10560ba7c",
        "type": "function",
        "z": "8845baed1e08988e",
        "name": "Loading Msg",
        "func": "return { payload: '[*] Compiling payload...\\n[*] Connecting to daemon...\\n[*] Please wait for execution to finish...' };",
        "outputs": 1,
        "x": 360,
        "y": 500,
        "wires": [
            [
                "75de21df87d0d399"
            ]
        ]
    },
    {
        "id": "b8018a0769d072c7",
        "type": "ui-button",
        "z": "8845baed1e08988e",
        "group": "ui_grp_phases",
        "name": "Phase 0 Button",
        "label": "Start Attacker Node",
        "order": 1,
        "width": 0,
        "height": 0,
        "emulateClick": false,
        "tooltip": "Creates node isolated from target network",
        "color": "white",
        "bgcolor": "#475569",
        "className": "",
        "icon": "server",
        "iconPosition": "left",
        "payload": "",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "buttonColor": "",
        "textColor": "",
        "iconColor": "",
        "enableClick": true,
        "enablePointerdown": false,
        "pointerdownPayload": "",
        "pointerdownPayloadType": "str",
        "enablePointerup": false,
        "pointerupPayload": "",
        "pointerupPayloadType": "str",
        "x": 140,
        "y": 140,
        "wires": [
            [
                "4dadd1c5857d401e",
                "c387e9b10560ba7c"
            ]
        ]
    },
    {
        "id": "4dadd1c5857d401e",
        "type": "function",
        "z": "8845baed1e08988e",
        "name": "Prep Create",
        "func": "msg.url = 'http://docker-proxy:2375/containers/create?name=iot_attacker_node';\nmsg.method = 'POST';\n// Important: explicitly define request timeout to avoid 120s limit failure\nmsg.timeout = 300000; \nmsg.payload = {\n  'Image': 'iot-attacker',\n  'Tty': true,\n  'OpenStdin': true,\n  'HostConfig': {\n    'NetworkMode': 'bridge',\n    'AutoRemove': true\n  }\n};\nreturn msg;",
        "outputs": 1,
        "x": 360,
        "y": 140,
        "wires": [
            [
                "e71e27cbc63aaa27"
            ]
        ]
    },
    {
        "id": "e71e27cbc63aaa27",
        "type": "http request",
        "z": "8845baed1e08988e",
        "name": "Create API",
        "method": "POST",
        "ret": "obj",
        "paytoqs": "ignore",
        "url": "",
        "tls": "",
        "persist": false,
        "proxy": "",
        "authType": "",
        "senderr": false,
        "x": 520,
        "y": 140,
        "wires": [
            [
                "26c08aad29a4ecd0"
            ]
        ]
    },
    {
        "id": "26c08aad29a4ecd0",
        "type": "function",
        "z": "8845baed1e08988e",
        "name": "Prep Start",
        "func": "if(!msg.payload || !msg.payload.Id) {\n  return [null, {payload:'[-] Failed to create container. Already exists?\\n' + JSON.stringify(msg.payload)}];\n}\nmsg.url = 'http://docker-proxy:2375/containers/iot_attacker_node/start';\nmsg.method = 'POST';\nmsg.payload = {};\nmsg.timeout = 300000;\nreturn [msg, null];",
        "outputs": 2,
        "x": 680,
        "y": 140,
        "wires": [
            [
                "1f4772905fea5caf"
            ],
            [
                "75de21df87d0d399"
            ]
        ]
    },
    {
        "id": "1f4772905fea5caf",
        "type": "http request",
        "z": "8845baed1e08988e",
        "name": "Start API",
        "method": "POST",
        "ret": "txt",
        "paytoqs": "ignore",
        "url": "",
        "tls": "",
        "persist": false,
        "proxy": "",
        "authType": "",
        "senderr": false,
        "x": 840,
        "y": 140,
        "wires": [
            [
                "e72c5e0d60fc28d2"
            ]
        ]
    },
    {
        "id": "e72c5e0d60fc28d2",
        "type": "function",
        "z": "8845baed1e08988e",
        "name": "Parse Success",
        "func": "msg.payload = '[+] Attacker VM successfully provisioned.\\n[+] Container running outside target network (isolated bridge).\\n[+] Ready to execute Phase 1.';\nreturn msg;",
        "outputs": 1,
        "x": 990,
        "y": 140,
        "wires": [
            [
                "75de21df87d0d399"
            ]
        ]
    },
    {
        "id": "dd705da3503a763a",
        "type": "ui-button",
        "z": "8845baed1e08988e",
        "group": "ui_grp_phases",
        "name": "Phase 1 Button",
        "label": "Breach Into Network",
        "order": 2,
        "width": 0,
        "height": 0,
        "emulateClick": false,
        "tooltip": "Connects attacker to internal network",
        "color": "white",
        "bgcolor": "#57534e",
        "className": "",
        "icon": "login",
        "iconPosition": "left",
        "payload": "",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "buttonColor": "",
        "textColor": "",
        "iconColor": "",
        "enableClick": true,
        "enablePointerdown": false,
        "pointerdownPayload": "",
        "pointerdownPayloadType": "str",
        "enablePointerup": false,
        "pointerupPayload": "",
        "pointerupPayloadType": "str",
        "x": 140,
        "y": 200,
        "wires": [
            [
                "09ba97a60d6f93c3",
                "c387e9b10560ba7c"
            ]
        ]
    },
    {
        "id": "09ba97a60d6f93c3",
        "type": "function",
        "z": "8845baed1e08988e",
        "name": "Set Connect POST",
        "func": "msg.url = 'http://docker-proxy:2375/networks/iot_infralab_net/connect';\nmsg.method = 'POST';\nmsg.payload = { \"Container\": \"iot_attacker_node\" };\nmsg.timeout = 300000;\nreturn msg;",
        "outputs": 1,
        "x": 380,
        "y": 200,
        "wires": [
            [
                "23c78849e5b95c7c"
            ]
        ]
    },
    {
        "id": "23c78849e5b95c7c",
        "type": "http request",
        "z": "8845baed1e08988e",
        "name": "Connect API",
        "method": "use",
        "ret": "txt",
        "paytoqs": "ignore",
        "url": "",
        "tls": "",
        "persist": false,
        "proxy": "",
        "authType": "",
        "senderr": false,
        "x": 560,
        "y": 200,
        "wires": [
            [
                "c319a03c9a06f4c3"
            ]
        ]
    },
    {
        "id": "c319a03c9a06f4c3",
        "type": "function",
        "z": "8845baed1e08988e",
        "name": "Fmt Response",
        "func": "if(msg.statusCode === 200) {\n  msg.payload = '[+] Initial Access Achieved.\\n[+] Exploit successful. Attacker node bridged into iot_infralab_net.\\n[+] Target internal network is now reachable.';\n} else if(msg.statusCode === 403) {\n  msg.payload = '[*] Target perimeter already breached.\\n[*] Node is already attached to the internal network.\\n[+] Proceed to Phase 2.';\n} else {\n  msg.payload = '[-] Sploit Failed. Make sure Phase 0 is complete.\\nError: ' + msg.payload;\n}\nreturn msg;",
        "outputs": 1,
        "x": 730,
        "y": 200,
        "wires": [
            [
                "75de21df87d0d399"
            ]
        ]
    },
    {
        "id": "9416f34a04042acf",
        "type": "ui-button",
        "z": "8845baed1e08988e",
        "group": "ui_grp_phases",
        "name": "Phase 2 Button",
        "label": "Reconnaissance (Nmap)",
        "order": 3,
        "width": 0,
        "height": 0,
        "emulateClick": false,
        "tooltip": "Fast Nmap subnet scan",
        "color": "white",
        "bgcolor": "#0284c7",
        "className": "",
        "icon": "wifi_tethering",
        "iconPosition": "left",
        "payload": "",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "buttonColor": "",
        "textColor": "",
        "iconColor": "",
        "enableClick": true,
        "enablePointerdown": false,
        "pointerdownPayload": "",
        "pointerdownPayloadType": "str",
        "enablePointerup": false,
        "pointerupPayload": "",
        "pointerupPayloadType": "str",
        "x": 160,
        "y": 260,
        "wires": [
            [
                "e96e29fd78fbbd02",
                "c387e9b10560ba7c"
            ]
        ]
    },
    {
        "id": "e96e29fd78fbbd02",
        "type": "function",
        "z": "8845baed1e08988e",
        "name": "Cmd: Nmap Fast",
        "func": "// Reduced to /24 instead of /16 and added --min-rate to guarantee completion in under 15 seconds\nmsg.cmd = ['nmap', '-sS', '-p', '1883,8086,1880', '--min-rate', '1000', '172.18.0.0/24'];\nreturn msg;",
        "outputs": 1,
        "x": 360,
        "y": 260,
        "wires": [
            [
                "acac860e9757598e"
            ]
        ]
    },
    {
        "id": "0d36e56593bfe3e3",
        "type": "ui-button",
        "z": "8845baed1e08988e",
        "group": "ui_grp_phases",
        "name": "Phase 4 Button",
        "label": "Impact (DDoS Flood)",
        "order": 5,
        "width": 0,
        "height": 0,
        "emulateClick": false,
        "tooltip": "Hping3 Broker Flood",
        "color": "white",
        "bgcolor": "#dc2626",
        "className": "",
        "icon": "bolt",
        "iconPosition": "left",
        "payload": "",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "buttonColor": "",
        "textColor": "",
        "iconColor": "",
        "enableClick": true,
        "enablePointerdown": false,
        "pointerdownPayload": "",
        "pointerdownPayloadType": "str",
        "enablePointerup": false,
        "pointerupPayload": "",
        "pointerupPayloadType": "str",
        "x": 160,
        "y": 380,
        "wires": [
            [
                "62e6252d3fb2837d",
                "c387e9b10560ba7c"
            ]
        ]
    },
    {
        "id": "62e6252d3fb2837d",
        "type": "function",
        "z": "8845baed1e08988e",
        "name": "Cmd: Hping3",
        "func": "msg.cmd = ['hping3', '-S', '-p', '1883', '-c', '1000', '-i', 'u1000', 'mosquitto'];\nreturn msg;",
        "outputs": 1,
        "x": 360,
        "y": 380,
        "wires": [
            [
                "acac860e9757598e"
            ]
        ]
    },
    {
        "id": "acac860e9757598e",
        "type": "function",
        "z": "8845baed1e08988e",
        "name": "Prep Exec Target",
        "func": "let cmd = msg.cmd;\nmsg.url = 'http://docker-proxy:2375/containers/iot_attacker_node/exec';\nmsg.method = 'POST';\nmsg.timeout = 300000;\nmsg.payload = {\n  'AttachStdout': true,\n  'AttachStderr': true,\n  'Tty': true,\n  'Cmd': cmd\n};\nreturn msg;",
        "outputs": 1,
        "x": 560,
        "y": 320,
        "wires": [
            [
                "056cd3b42425aeb3"
            ]
        ]
    },
    {
        "id": "056cd3b42425aeb3",
        "type": "http request",
        "z": "8845baed1e08988e",
        "name": "Exec Create API",
        "method": "use",
        "ret": "obj",
        "paytoqs": "ignore",
        "url": "",
        "tls": "",
        "persist": false,
        "proxy": "",
        "authType": "",
        "senderr": false,
        "x": 740,
        "y": 320,
        "wires": [
            [
                "b5b03efe48aeed56"
            ]
        ]
    },
    {
        "id": "b5b03efe48aeed56",
        "type": "function",
        "z": "8845baed1e08988e",
        "name": "Start Exec Trigger",
        "func": "if(!msg.payload || !msg.payload.Id) {\n  return [null, {payload: '[-] ERROR: Execution failed. Ensure Phase 0 & 1 were completed first.'}];\n}\nmsg.url = 'http://docker-proxy:2375/exec/' + msg.payload.Id + '/start';\nmsg.method = 'POST';\nmsg.timeout = 300000;\nmsg.payload = { 'Detach': false, 'Tty': true };\nreturn [msg, null];",
        "outputs": 2,
        "x": 920,
        "y": 320,
        "wires": [
            [
                "695e96de837a4c70"
            ],
            [
                "75de21df87d0d399"
            ]
        ]
    },
    {
        "id": "695e96de837a4c70",
        "type": "http request",
        "z": "8845baed1e08988e",
        "name": "Start Cmd Request",
        "method": "use",
        "ret": "txt",
        "paytoqs": "ignore",
        "url": "",
        "tls": "",
        "persist": false,
        "proxy": "",
        "authType": "",
        "senderr": false,
        "x": 1100,
        "y": 320,
        "wires": [
            [
                "a278ba941ca7ddd5"
            ]
        ]
    },
    {
        "id": "a278ba941ca7ddd5",
        "type": "function",
        "z": "8845baed1e08988e",
        "name": "Buffer to Terminal Format",
        "func": "/* Formats raw Docker buffer straight to text */\nif (typeof msg.payload === 'object') {\n    msg.payload = JSON.stringify(msg.payload, null, 2);\n}\nif (!msg.payload || msg.payload.trim() === \"\") {\n    msg.payload = \"[+] Execution finished successfully (No terminal output returned).\";\n}\nreturn msg;",
        "outputs": 1,
        "x": 1340,
        "y": 320,
        "wires": [
            [
                "75de21df87d0d399"
            ]
        ]
    },
    {
        "id": "c21175057705fcaa",
        "type": "ui-button",
        "z": "8845baed1e08988e",
        "group": "ui_grp_phases",
        "name": "Phase 5 Button",
        "label": "Remove Attacker Node",
        "order": 6,
        "width": 0,
        "height": 0,
        "emulateClick": false,
        "tooltip": "Force remove the container to hide tracks",
        "color": "white",
        "bgcolor": "#7f1d1d",
        "className": "",
        "icon": "delete_forever",
        "iconPosition": "left",
        "payload": "",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "buttonColor": "",
        "textColor": "",
        "iconColor": "",
        "enableClick": true,
        "enablePointerdown": false,
        "pointerdownPayload": "",
        "pointerdownPayloadType": "str",
        "enablePointerup": false,
        "pointerupPayload": "",
        "pointerupPayloadType": "str",
        "x": 170,
        "y": 440,
        "wires": [
            [
                "89283c213d608215",
                "c387e9b10560ba7c"
            ]
        ]
    },
    {
        "id": "89283c213d608215",
        "type": "function",
        "z": "8845baed1e08988e",
        "name": "Prep Delete",
        "func": "msg.url = 'http://docker-proxy:2375/containers/iot_attacker_node?force=true';\nmsg.method = 'DELETE';\nmsg.timeout = 300000;\nreturn msg;",
        "outputs": 1,
        "x": 360,
        "y": 440,
        "wires": [
            [
                "cca35eae8ec7aa6f"
            ]
        ]
    },
    {
        "id": "cca35eae8ec7aa6f",
        "type": "http request",
        "z": "8845baed1e08988e",
        "name": "Delete API",
        "method": "use",
        "ret": "txt",
        "paytoqs": "ignore",
        "url": "",
        "tls": "",
        "persist": false,
        "proxy": "",
        "authType": "",
        "senderr": false,
        "x": 520,
        "y": 440,
        "wires": [
            [
                "5c2ac83d2a06f1ba"
            ]
        ]
    },
    {
        "id": "5c2ac83d2a06f1ba",
        "type": "function",
        "z": "8845baed1e08988e",
        "name": "Parse Success",
        "func": "if(msg.statusCode >= 200 && msg.statusCode < 300) {\n    msg.payload = '[*] Wiping target logs...\\n[+] Evidence Burned.\\n[+] Attacker container forcefully destroyed and removed from underlying host.\\n[+] Kill Chain Sequence Complete. Exiting...';\n} else {\n    msg.payload = '[-] Failed to destroy track. Is the container already dead?\\nError: ' + msg.payload;\n}\nreturn msg;",
        "outputs": 1,
        "x": 710,
        "y": 440,
        "wires": [
            [
                "75de21df87d0d399"
            ]
        ]
    },
    {
        "id": "btn_sniff",
        "type": "ui-button",
        "z": "8845baed1e08988e",
        "group": "ui_grp_phases",
        "name": "Sniff Btn",
        "label": "Start Interception (Sniffer)",
        "order": 4,
        "width": 0,
        "height": 0,
        "emulateClick": false,
        "tooltip": "Sniff all MQTT traffic",
        "color": "",
        "bgcolor": "#10b981",
        "className": "",
        "icon": "",
        "iconPosition": "left",
        "payload": "",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "buttonColor": "",
        "textColor": "",
        "iconColor": "",
        "enableClick": true,
        "enablePointerdown": false,
        "pointerdownPayload": "",
        "pointerdownPayloadType": "str",
        "enablePointerup": false,
        "pointerupPayload": "",
        "pointerupPayloadType": "str",
        "x": 160,
        "y": 320,
        "wires": [
            [
                "fn_cmd_sniff",
                "a9a86886c2b578fc"
            ]
        ]
    },
    {
        "id": "fn_cmd_sniff",
        "type": "function",
        "z": "8845baed1e08988e",
        "name": "Set Sniff",
        "func": "msg.cmd=['python','mqtt_sniff.py','--broker','mosquitto']; return msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 340,
        "y": 320,
        "wires": [
            [
                "acac860e9757598e"
            ]
        ]
    },
    {
        "id": "a9a86886c2b578fc",
        "type": "function",
        "z": "8845baed1e08988e",
        "name": "Loading msg",
        "func": "msg.payload = '> Currently sniffing for 10s... Please wait';\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 570,
        "y": 280,
        "wires": [
            [
                "75de21df87d0d399"
            ]
        ]
    },
    {
        "id": "ui_grp_kcterm",
        "type": "ui-group",
        "name": "Attacker Console",
        "page": "ui_page_hacker",
        "width": "8",
        "order": 2,
        "showTitle": true
    },
    {
        "id": "ui_grp_phases",
        "type": "ui-group",
        "name": "Attack Phases",
        "page": "ui_page_hacker",
        "width": "4",
        "height": "",
        "order": 1,
        "showTitle": true,
        "className": "",
        "visible": "true",
        "disabled": "false",
        "groupType": "default"
    },
    {
        "id": "ui_page_hacker",
        "type": "ui-page",
        "name": "Cyber Attack Simulation",
        "ui": "8bcc34ca17387ebb",
        "path": "/killchain",
        "icon": "mdi-skull",
        "layout": "grid",
        "theme": "c382198a61249f47",
        "breakpoints": [
            {
                "name": "Default",
                "px": "0",
                "cols": "3"
            },
            {
                "name": "Tablet",
                "px": "576",
                "cols": "6"
            },
            {
                "name": "Small Desktop",
                "px": "768",
                "cols": "9"
            },
            {
                "name": "Desktop",
                "px": "1024",
                "cols": "12"
            }
        ],
        "order": 2,
        "className": "",
        "visible": "true",
        "disabled": "false"
    },
    {
        "id": "8bcc34ca17387ebb",
        "type": "ui-base",
        "name": "My Dashboard",
        "path": "/dashboard",
        "appIcon": "",
        "includeClientData": true,
        "acceptsClientConfig": [
            "ui-notification",
            "ui-control"
        ],
        "showPathInSidebar": false,
        "headerContent": "page",
        "navigationStyle": "default",
        "titleBarStyle": "default",
        "showReconnectNotification": true,
        "notificationDisplayTime": 1,
        "showDisconnectNotification": true,
        "allowInstall": false
    },
    {
        "id": "c382198a61249f47",
        "type": "ui-theme",
        "name": "Default Theme",
        "colors": {
            "surface": "#ffffff",
            "primary": "#0094CE",
            "bgPage": "#eeeeee",
            "groupBg": "#ffffff",
            "groupOutline": "#cccccc"
        },
        "sizes": {
            "density": "default",
            "pagePadding": "12px",
            "groupGap": "12px",
            "groupBorderRadius": "4px",
            "widgetGap": "12px"
        }
    },
    {
        "id": "c0faad46b107ffd6",
        "type": "global-config",
        "env": [],
        "modules": {
            "@flowfuse/node-red-dashboard": "1.30.2"
        }
    }
]