nodered_flows/suricata_ips_ids_toggle.json
[
    {
        "id": "suricata_ips_switch",
        "type": "ui_switch",
        "name": "Suricata IPS Mode",
        "label": "Suricata IPS Mode",
        "tooltip": "Toggle between IDS (Alert) and IPS (Reject)",
        "group": "",
        "order": 1,
        "width": 0,
        "height": 0,
        "passthru": true,
        "decouple": "false",
        "topic": "topic",
        "topicType": "msg",
        "style": "",
        "onvalue": "true",
        "onvalueType": "bool",
        "onicon": "",
        "oncolor": "",
        "offvalue": "false",
        "offvalueType": "bool",
        "officon": "",
        "offcolor": "",
        "animate": false,
        "className": "",
        "x": 180,
        "y": 140,
        "wires": [
            [
                "suricata_prepare_cp"
            ]
        ]
    },
    {
        "id": "suricata_prepare_cp",
        "type": "function",
        "name": "Prepare Rule Swap Exec",
        "func": "if (msg.payload === true) {\n    msg.cmd = [\"cp\", \"/etc/suricata/rules/local.rules.vuln\", \"/etc/suricata/rules/local.rules\"];\n    msg.mode_text = \"Vulnerable Mode (Disabled)\";\n} else {\n    msg.cmd = [\"cp\", \"/etc/suricata/rules/local.rules.ids\", \"/etc/suricata/rules/local.rules\"];\n    msg.mode_text = \"IDS Mode (Alert)\";\n}\n\nmsg.url = \"http://docker-proxy:2375/containers/suricata-ids/exec\";\nmsg.method = \"POST\";\nmsg.payload = {\n    \"AttachStdout\": false,\n    \"AttachStderr\": false,\n    \"Tty\": false,\n    \"Cmd\": msg.cmd\n};\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 410,
        "y": 140,
        "wires": [
            [
                "suricata_http_create_cp"
            ]
        ]
    },
    {
        "id": "suricata_http_create_cp",
        "type": "http request",
        "name": "Create CP Exec",
        "method": "use",
        "ret": "obj",
        "paytoqs": "ignore",
        "url": "",
        "tls": "",
        "persist": false,
        "proxy": "",
        "insecureHTTPParser": false,
        "authType": "",
        "senderr": false,
        "headers": [],
        "x": 620,
        "y": 140,
        "wires": [
            [
                "suricata_prepare_start_cp"
            ]
        ]
    },
    {
        "id": "suricata_prepare_start_cp",
        "type": "function",
        "name": "Start CP Exec",
        "func": "if (!msg.payload || !msg.payload.Id) {\n    return null;\n}\nmsg.url = \"http://docker-proxy:2375/exec/\" + msg.payload.Id + \"/start\";\nmsg.method = \"POST\";\nmsg.payload = {\n    \"Detach\": false,\n    \"Tty\": false\n};\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 810,
        "y": 140,
        "wires": [
            [
                "suricata_http_start_cp"
            ]
        ]
    },
    {
        "id": "suricata_http_start_cp",
        "type": "http request",
        "name": "Run CP Exec",
        "method": "use",
        "ret": "txt",
        "paytoqs": "ignore",
        "url": "",
        "tls": "",
        "persist": false,
        "proxy": "",
        "insecureHTTPParser": false,
        "authType": "",
        "senderr": false,
        "headers": [],
        "x": 990,
        "y": 140,
        "wires": [
            [
                "suricata_prepare_reload"
            ]
        ]
    },
    {
        "id": "suricata_prepare_reload",
        "type": "function",
        "name": "Prepare Reload Exec",
        "func": "msg.url = \"http://docker-proxy:2375/containers/suricata-ids/exec\";\nmsg.method = \"POST\";\nmsg.payload = {\n    \"AttachStdout\": false,\n    \"AttachStderr\": false,\n    \"Tty\": false,\n    \"Cmd\": [\"suricatasc\", \"-c\", \"reload-rules\"]\n};\n// Ensure we pass the mode_text to the end of the flow so the notification is accurate\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 420,
        "y": 200,
        "wires": [
            [
                "suricata_http_create_reload"
            ]
        ]
    },
    {
        "id": "suricata_http_create_reload",
        "type": "http request",
        "name": "Create Reload Exec",
        "method": "use",
        "ret": "obj",
        "paytoqs": "ignore",
        "url": "",
        "tls": "",
        "persist": false,
        "proxy": "",
        "insecureHTTPParser": false,
        "authType": "",
        "senderr": false,
        "headers": [],
        "x": 630,
        "y": 200,
        "wires": [
            [
                "suricata_prepare_start_reload"
            ]
        ]
    },
    {
        "id": "suricata_prepare_start_reload",
        "type": "function",
        "name": "Start Reload Exec",
        "func": "if (!msg.payload || !msg.payload.Id) {\n    return null;\n}\nmsg.url = \"http://docker-proxy:2375/exec/\" + msg.payload.Id + \"/start\";\nmsg.method = \"POST\";\nmsg.payload = {\n    \"Detach\": false,\n    \"Tty\": false\n};\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 830,
        "y": 200,
        "wires": [
            [
                "suricata_http_start_reload"
            ]
        ]
    },
    {
        "id": "suricata_http_start_reload",
        "type": "http request",
        "name": "Run Reload Exec",
        "method": "use",
        "ret": "txt",
        "paytoqs": "ignore",
        "url": "",
        "tls": "",
        "persist": false,
        "proxy": "",
        "insecureHTTPParser": false,
        "authType": "",
        "senderr": false,
        "headers": [],
        "x": 1020,
        "y": 200,
        "wires": [
            [
                "suricata_notify"
            ]
        ]
    },
    {
        "id": "suricata_notify",
        "type": "function",
        "name": "Format Notification",
        "func": "msg.payload = \"Suricata successfully switched to: \" + msg.mode_text;\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1230,
        "y": 200,
        "wires": [
            [
                "suricata_debug",
                "suricata_toast"
            ]
        ]
    },
    {
        "id": "suricata_debug",
        "type": "debug",
        "name": "Suricata Status",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 1420,
        "y": 180,
        "wires": []
    },
    {
        "id": "suricata_toast",
        "type": "ui_toast",
        "position": "top right",
        "displayTime": "3",
        "highlight": "",
        "sendall": true,
        "outputs": 0,
        "ok": "OK",
        "cancel": "",
        "raw": false,
        "className": "",
        "topic": "",
        "name": "Notify UI",
        "x": 1400,
        "y": 220,
        "wires": []
    }
]