CUsersnuril.claudeprojectsD--IoT-InfraLab45a2bb8c-c3b6-43d1-87f8-72d4135b271atool-resultsold_flows_pre_4cea15d.txt
[
    {
        "id": "89c26b2630a7d108",
        "type": "tab",
        "label": "Node Management",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "b78d14cc362e1196",
        "type": "tab",
        "label": "Cyber Attack Simulation",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "d415d47f74e99da2",
        "type": "tab",
        "label": "Security Ops",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "4acab47cf7e84e94",
        "type": "tab",
        "label": "Backend",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "8bcc34ca17387ebb",
        "type": "ui-base",
        "name": "My Dashboard",
        "path": "/dashboard",
        "includeClientData": true,
        "acceptsClientConfig": [
            "ui-control",
            "ui-notification"
        ]
    },
    {
        "id": "c382198a61249f47",
        "type": "ui-theme",
        "name": "Default Theme",
        "colors": {
            "surface": "#ffffff",
            "primary": "#0094CE",
            "bgPage": "#eeeeee",
            "groupBg": "#ffffff",
            "groupOutline": "#cccccc"
        }
    },
    {
        "id": "ui_page_management",
        "type": "ui-page",
        "name": "Node Management",
        "ui": "8bcc34ca17387ebb",
        "path": "/node-management",
        "icon": "server",
        "layout": "grid",
        "theme": "c382198a61249f47",
        "order": 1
    },
    {
        "id": "ui_group_create",
        "type": "ui-group",
        "name": "Create Sensor Node",
        "page": "ui_page_management",
        "width": "6",
        "order": 1,
        "showTitle": true
    },
    {
        "id": "ui_group_deploy_log",
        "type": "ui-group",
        "name": "Deployment Log",
        "page": "ui_page_management",
        "width": "6",
        "order": 2,
        "showTitle": true
    },
    {
        "id": "2a7528eec5f798b0",
        "type": "ui-group",
        "name": "Saved Configurations",
        "page": "ui_page_management",
        "width": "6",
        "order": 3,
        "showTitle": true
    },
    {
        "id": "ui_group_sensors_list",
        "type": "ui-group",
        "name": "Active Sensors",
        "page": "ui_page_management",
        "width": "6",
        "order": 5,
        "showTitle": true
    },
    {
        "id": "ui_group_node_control",
        "type": "ui-group",
        "name": "Node Control",
        "page": "ui_page_management",
        "width": "6",
        "order": 4,
        "showTitle": true
    },
    {
        "id": "ui_group_sensor_monitor",
        "type": "ui-group",
        "name": "Live Sensor Feed",
        "page": "ui_page_management",
        "width": "6",
        "order": 6,
        "showTitle": true
    },
    {
        "id": "9956a4644cc28f0f",
        "type": "mqtt-broker",
        "z": "89c26b2630a7d108",
        "name": "Makmal MQTT Broker",
        "broker": "mosquitto",
        "port": "1883",
        "clientid": "nodered_monitor_client",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willPayload": "",
        "willMsg": {},
        "userProps": "",
        "sessionExpiry": ""
    },
    {
        "id": "ab2ed11df08aa8a7",
        "type": "ui-page",
        "name": "Cyber Attack Simulation",
        "ui": "8bcc34ca17387ebb",
        "path": "/killchain",
        "icon": "mdi-skull",
        "layout": "grid",
        "theme": "c382198a61249f47",
        "breakpoints": [
            {
                "name": "Default",
                "px": "0",
                "cols": "3"
            },
            {
                "name": "Tablet",
                "px": "576",
                "cols": "6"
            },
            {
                "name": "Small Desktop",
                "px": "768",
                "cols": "9"
            },
            {
                "name": "Desktop",
                "px": "1024",
                "cols": "12"
            }
        ],
        "order": 2,
        "className": "",
        "visible": "true",
        "disabled": "false"
    },
    {
        "id": "5a633147924a28d1",
        "type": "ui-page",
        "name": "Security Operations (SOC)",
        "ui": "8bcc34ca17387ebb",
        "path": "/soc-defenses",
        "icon": "shield",
        "layout": "grid",
        "theme": "c382198a61249f47",
        "breakpoints": [
            {
                "name": "Default",
                "px": "0",
                "cols": "3"
            },
            {
                "name": "Tablet",
                "px": "576",
                "cols": "6"
            },
            {
                "name": "Small Desktop",
                "px": "768",
                "cols": "9"
            },
            {
                "name": "Desktop",
                "px": "1024",
                "cols": "12"
            }
        ],
        "order": 3,
        "className": "",
        "visible": true,
        "disabled": false
    },
    {
        "id": "17435d09976b7d21",
        "type": "influxdb",
        "hostname": "127.0.0.1",
        "port": 8086,
        "protocol": "http",
        "database": "database",
        "name": "Local Influxdb",
        "usetls": false,
        "tls": "",
        "influxdbVersion": "2.0",
        "url": "http://influxdb:8086",
        "timeout": 10,
        "rejectUnauthorized": true
    },
    {
        "id": "bda5655996317aa0",
        "type": "mqtt-broker",
        "name": "Mosquitto Broker",
        "broker": "iot_broker",
        "port": 1883,
        "clientid": "",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": 4,
        "keepalive": 60,
        "cleansession": true,
        "autoUnsubscribe": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthRetain": "false",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closeRetain": "false",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willRetain": "false",
        "willPayload": "",
        "willMsg": {},
        "userProps": "",
        "sessionExpiry": ""
    },
    {
        "id": "a70e7057f4859509",
        "type": "ui-group",
        "name": "Attacker Console",
        "page": "ab2ed11df08aa8a7",
        "width": "8",
        "order": 2,
        "showTitle": true
    },
    {
        "id": "7d01403463477825",
        "type": "ui-group",
        "name": "Attack Phases",
        "page": "ab2ed11df08aa8a7",
        "width": "4",
        "height": "",
        "order": 1,
        "showTitle": true,
        "className": "",
        "visible": "true",
        "disabled": "false",
        "groupType": "default"
    },
    {
        "id": "426c92f3f4d5bb85",
        "type": "ui-group",
        "name": "Active Network Topology (iot_infralab_net)",
        "page": "5a633147924a28d1",
        "width": "12",
        "order": 1,
        "showTitle": true,
        "visible": true,
        "disabled": false
    },
    {
        "id": "8356bd12d00a4d35",
        "type": "ui-group",
        "name": "Network Access Control (NAC)",
        "page": "5a633147924a28d1",
        "width": "6",
        "height": "",
        "order": 4,
        "showTitle": true,
        "className": "",
        "visible": "true",
        "disabled": "false",
        "groupType": "default"
    },
    {
        "id": "1384ea55c0ba1905",
        "type": "ui-group",
        "name": "Incident Response Logs & IDS Alerts",
        "page": "5a633147924a28d1",
        "width": 6,
        "height": "",
        "order": 2,
        "showTitle": true,
        "className": "",
        "visible": "true",
        "disabled": "false",
        "groupType": "default"
    },
    {
        "id": "cf452f90a4917a01",
        "type": "ui-group",
        "name": "Suricata IDS Alerts",
        "page": "5a633147924a28d1",
        "width": 6,
        "height": 1,
        "order": 3,
        "showTitle": true,
        "className": "",
        "visible": "true",
        "disabled": "false",
        "groupType": "default"
    },
    {
        "id": "8c0da6627d65d747",
        "type": "ui-page",
        "name": "Docker Management",
        "ui": "8bcc34ca17387ebb",
        "path": "/page4",
        "icon": "home",
        "layout": "grid",
        "theme": "c382198a61249f47",
        "breakpoints": [
            {
                "name": "Default",
                "px": "0",
                "cols": "3"
            },
            {
                "name": "Tablet",
                "px": "576",
                "cols": "6"
            },
            {
                "name": "Small Desktop",
                "px": "768",
                "cols": "9"
            },
            {
                "name": "Desktop",
                "px": "1024",
                "cols": "12"
            }
        ],
        "order": 4,
        "className": "",
        "visible": "true",
        "disabled": "false"
    },
    {
        "id": "f57ba6f4611ca27c",
        "type": "ui-group",
        "name": "Grafana",
        "page": "8c0da6627d65d747",
        "width": 6,
        "height": 1,
        "order": 1,
        "showTitle": true,
        "className": "",
        "visible": "true",
        "disabled": "false",
        "groupType": "default"
    },
    {
        "id": "ff_mqtt_broker",
        "type": "mqtt-broker",
        "name": "Mosquitto",
        "broker": "mosquitto",
        "port": "1883",
        "clientid": "",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willPayload": "",
        "willMsg": {},
        "userProps": "",
        "sessionExpiry": ""
    },
    {
        "id": "01d38afb921c168e",
        "type": "ui-group",
        "name": "AI Security Report",
        "page": "5a633147924a28d1",
        "width": 6,
        "height": 1,
        "order": 5,
        "showTitle": true,
        "className": "",
        "visible": "true",
        "disabled": "false",
        "groupType": "default"
    },
    {
        "id": "599a1bcf052a2d6b",
        "type": "ui-text-input",
        "z": "89c26b2630a7d108",
        "group": "ui_group_create",
        "name": "Node ID Input",
        "label": "Node ID (e.g. factory_pump_1)",
        "order": 1,
        "width": 0,
        "height": 0,
        "topic": "topic",
        "topicType": "msg",
        "mode": "text",
        "tooltip": "",
        "delay": 300,
        "passthru": true,
        "sendOnDelay": true,
        "sendOnBlur": true,
        "sendOnEnter": true,
        "className": "",
        "clearable": false,
        "sendOnClear": false,
        "icon": "",
        "iconPosition": "left",
        "iconInnerPosition": "inside",
        "x": 140,
        "y": 120,
        "wires": [
            [
                "6ab43fba25710a01"
            ]
        ]
    },
    {
        "id": "6ab43fba25710a01",
        "type": "function",
        "z": "89c26b2630a7d108",
        "name": "Save ID",
        "func": "flow.set('cfg_node_id', msg.payload);\nreturn msg;",
        "outputs": 1,
        "x": 340,
        "y": 120,
        "wires": [
            []
        ]
    },
    {
        "id": "d888d3d4aeb2a954",
        "type": "ui-dropdown",
        "z": "89c26b2630a7d108",
        "group": "ui_group_create",
        "name": "Sensors Dropdown",
        "label": "Sensor Types",
        "tooltip": "",
        "order": 2,
        "width": 0,
        "height": 0,
        "passthru": true,
        "multiple": true,
        "chips": false,
        "clearable": false,
        "options": [
            {
                "label": "Temperature",
                "value": "temperature",
                "type": "str"
            },
            {
                "label": "Vibration",
                "value": "vibration",
                "type": "str"
            },
            {
                "label": "Pressure",
                "value": "pressure",
                "type": "str"
            },
            {
                "label": "Humidity",
                "value": "humidity",
                "type": "str"
            },
            {
                "label": "Power Draw",
                "value": "power_draw",
                "type": "str"
            },
            {
                "label": "Flow Rate",
                "value": "flow_rate",
                "type": "str"
            }
        ],
        "payload": "",
        "topic": "topic",
        "topicType": "msg",
        "className": "",
        "typeIsComboBox": true,
        "msgTrigger": "onChange",
        "x": 150,
        "y": 180,
        "wires": [
            [
                "be2df5d237542d84"
            ]
        ]
    },
    {
        "id": "be2df5d237542d84",
        "type": "function",
        "z": "89c26b2630a7d108",
        "name": "Save Sensors",
        "func": "flow.set('cfg_sensors', msg.payload);\nreturn msg;",
        "outputs": 1,
        "x": 350,
        "y": 180,
        "wires": [
            []
        ]
    },
    {
        "id": "e34b9ac4c76bbf2b",
        "type": "ui-dropdown",
        "z": "89c26b2630a7d108",
        "group": "ui_group_create",
        "name": "Profile Dropdown",
        "label": "Behavior Profile",
        "tooltip": "",
        "order": 3,
        "width": 0,
        "height": 0,
        "passthru": true,
        "multiple": false,
        "options": [
            {
                "label": "Normal (Baseline)",
                "value": "normal",
                "type": "str"
            },
            {
                "label": "Failing (Gradual wear)",
                "value": "failing",
                "type": "str"
            },
            {
                "label": "Erratic (Spikes)",
                "value": "erratic",
                "type": "str"
            }
        ],
        "payload": "",
        "topic": "topic",
        "topicType": "msg",
        "className": "",
        "x": 150,
        "y": 240,
        "wires": [
            [
                "6fe6041556a8dbd6"
            ]
        ]
    },
    {
        "id": "6fe6041556a8dbd6",
        "type": "function",
        "z": "89c26b2630a7d108",
        "name": "Save Profile",
        "func": "flow.set('cfg_profile', msg.payload);\nreturn msg;",
        "outputs": 1,
        "x": 350,
        "y": 240,
        "wires": [
            []
        ]
    },
    {
        "id": "d6e9ef46aea2ca6f",
        "type": "ui-text-input",
        "z": "89c26b2630a7d108",
        "group": "ui_group_create",
        "name": "Interval Input",
        "label": "Publish Interval (in seconds)",
        "order": 4,
        "width": 0,
        "height": 0,
        "topic": "topic",
        "topicType": "msg",
        "mode": "number",
        "tooltip": "How often the sensor sends data",
        "delay": 300,
        "passthru": true,
        "className": "",
        "x": 140,
        "y": 300,
        "wires": [
            [
                "bd0d828ca53469f2"
            ]
        ]
    },
    {
        "id": "bd0d828ca53469f2",
        "type": "function",
        "z": "89c26b2630a7d108",
        "name": "Save Interval",
        "func": "flow.set('cfg_interval', msg.payload);\nreturn msg;",
        "outputs": 1,
        "x": 350,
        "y": 300,
        "wires": [
            []
        ]
    },
    {
        "id": "42a84a202cae8c2b",
        "type": "ui-button",
        "z": "89c26b2630a7d108",
        "group": "ui_group_create",
        "name": "Save Config Btn",
        "label": "Run & Save",
        "order": 5,
        "width": 3,
        "height": 0,
        "tooltip": "Save config and deploy node",
        "color": "white",
        "bgcolor": "#3b82f6",
        "className": "",
        "icon": "save",
        "payload": "save",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "x": 120,
        "y": 360,
        "wires": [
            [
                "3322adde400100f4"
            ]
        ]
    },
    {
        "id": "fe3cc3695fdbea2d",
        "type": "ui-button",
        "z": "89c26b2630a7d108",
        "group": "ui_group_create",
        "name": "Run Only Btn",
        "label": "Run Only",
        "order": 6,
        "width": 3,
        "height": 0,
        "tooltip": "Deploy node without saving config",
        "color": "white",
        "bgcolor": "#10b981",
        "className": "",
        "icon": "play",
        "payload": "run",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "x": 120,
        "y": 400,
        "wires": [
            [
                "3322adde400100f4"
            ]
        ]
    },
    {
        "id": "3322adde400100f4",
        "type": "function",
        "z": "89c26b2630a7d108",
        "name": "Construct Config & Validate",
        "func": "let action = msg.payload || 'save';\nlet n_id = flow.get('cfg_node_id');\nlet s_types = flow.get('cfg_sensors');\nlet prof = flow.get('cfg_profile');\nlet intrvl = flow.get('cfg_interval');\n\nlet errors = [];\nif (!n_id || n_id.trim() === '') errors.push(\"⚠️ Validation Error: Node ID is missing!\");\nif (!s_types || s_types.length === 0) errors.push(\"⚠️ Validation Error: Sensor Types not selected!\");\nif (!prof || prof.trim() === '') errors.push(\"⚠️ Validation Error: Behavior Profile not selected!\");\n\nif (errors.length > 0) {\n    return [null, null, { payload: errors.join('\\n') }];\n}\n\nif (Array.isArray(s_types)) s_types = s_types.join(',');\nintrvl = intrvl || 5;\n\nmsg.new_config = {\n    id: n_id,\n    types: s_types,\n    profile: prof,\n    interval: intrvl,\n    saved_at: new Date().toISOString()\n};\n\nmsg.payload = msg.new_config;\n\nif (action === 'run') {\n    let logMsg = { payload: `🚀 Deploying Node [${n_id}] directly (Run Only)...` };\n    return [null, msg, logMsg];\n} else {\n    return [msg, null, null];\n}",
        "outputs": 3,
        "x": 360,
        "y": 360,
        "wires": [
            [
                "7cf3b44f7e607176"
            ],
            [
                "6f9de8b348f9d7b7"
            ],
            [
                "d7dfe950f06ff51b"
            ]
        ]
    },
    {
        "id": "7cf3b44f7e607176",
        "type": "file in",
        "z": "89c26b2630a7d108",
        "name": "Read Configs (Check)",
        "filename": "/data/saved_sensors.json",
        "format": "utf8",
        "x": 600,
        "y": 340,
        "wires": [
            [
                "b5e202ac0989d43a"
            ]
        ]
    },
    {
        "id": "b5e202ac0989d43a",
        "type": "function",
        "z": "89c26b2630a7d108",
        "name": "Check ID & Append",
        "func": "let configs = [];\ntry {\n    if (msg.payload) {\n        configs = JSON.parse(msg.payload);\n    }\n} catch(e) { }\n\n// Check if ID exists!\nlet exists = configs.findIndex(c => c.id === msg.new_config.id);\nif (exists >= 0) {\n    // HALT operation on fail\n    return [null, null, { payload: `❌ FAILED: Saved Configuration '${msg.new_config.id}' already exists!` }];\n}\n\nconfigs.push(msg.new_config);\nmsg.payload = JSON.stringify(configs, null, 2);\n\n// Returns [save command, next docker deploy step, log/error msg]\nreturn [msg, { payload: msg.new_config }, { payload: `✅ Configuration [${msg.new_config.id}] saved... Dispatching deployment.`}];",
        "outputs": 3,
        "x": 810,
        "y": 340,
        "wires": [
            [
                "06b717e37ca66f07"
            ],
            [
                "6f9de8b348f9d7b7"
            ],
            [
                "d7dfe950f06ff51b",
                "ee847efb50e50319"
            ]
        ]
    },
    {
        "id": "06b717e37ca66f07",
        "type": "file",
        "z": "89c26b2630a7d108",
        "name": "Write Configs",
        "filename": "/data/saved_sensors.json",
        "appendNewline": true,
        "overwriteFile": "true",
        "x": 1000,
        "y": 300,
        "wires": [
            [
                "417256df7d7f068b"
            ]
        ]
    },
    {
        "id": "ee847efb50e50319",
        "type": "ui-notification",
        "z": "89c26b2630a7d108",
        "ui": "8bcc34ca17387ebb",
        "position": "top right",
        "color": "#facc15",
        "displayTime": "3",
        "showCountdown": true,
        "outputs": 1,
        "allowDismiss": true,
        "raw": false,
        "className": "",
        "name": "Saved Alert",
        "x": 1010,
        "y": 340,
        "wires": [
            []
        ]
    },
    {
        "id": "6f9de8b348f9d7b7",
        "type": "function",
        "z": "89c26b2630a7d108",
        "name": "Build Docker Cmd",
        "func": "let cfg = msg.payload;\n\nmsg.sensor_config = cfg;\nmsg.url = 'http://docker-proxy:2375/containers/create?name=' + cfg.id;\nmsg.payload = {\n    \"Image\": \"iot-sensor\",\n    \"Env\": [\n        \"SENSOR_ID=\" + cfg.id,\n        \"SENSOR_TYPES=\" + cfg.types,\n        \"NODE_PROFILE=\" + cfg.profile,\n        \"INTERVAL=\" + cfg.interval,\n        \"MQTT_BROKER=mosquitto\"\n    ],\n    \"HostConfig\": {\n        \"NetworkMode\": \"iot_infralab_net\",\n        \"AutoRemove\": true\n    }\n};\nreturn msg;",
        "outputs": 1,
        "x": 210,
        "y": 500,
        "wires": [
            [
                "4f43f5aa75c75965"
            ]
        ]
    },
    {
        "id": "4f43f5aa75c75965",
        "type": "http request",
        "z": "89c26b2630a7d108",
        "name": "Docker POST Create",
        "method": "POST",
        "ret": "obj",
        "paytoqs": "ignore",
        "url": "",
        "tls": "",
        "persist": false,
        "proxy": "",
        "authType": "",
        "senderr": false,
        "x": 440,
        "y": 500,
        "wires": [
            [
                "c8cf2fb099d7669a"
            ]
        ]
    },
    {
        "id": "c8cf2fb099d7669a",
        "type": "function",
        "z": "89c26b2630a7d108",
        "name": "Build Start Request",
        "func": "if(!msg.payload.Id){\n    msg.payload = '❌ Create Error: ' + JSON.stringify(msg.payload);\n    return [null, msg];\n}\nlet logMsg = { payload: '↳ Container ID: ' + msg.payload.Id.substring(0,12) + '. Starting...' };\nmsg.url = 'http://docker-proxy:2375/containers/' + msg.payload.Id + '/start';\nmsg.payload = {};\nreturn [msg, logMsg];",
        "outputs": 2,
        "x": 690,
        "y": 500,
        "wires": [
            [
                "0f509b5f053dc21f"
            ],
            [
                "d7dfe950f06ff51b"
            ]
        ]
    },
    {
        "id": "0f509b5f053dc21f",
        "type": "http request",
        "z": "89c26b2630a7d108",
        "name": "Docker POST Start",
        "method": "POST",
        "ret": "txt",
        "paytoqs": "ignore",
        "url": "",
        "tls": "",
        "persist": false,
        "proxy": "",
        "authType": "",
        "senderr": false,
        "x": 930,
        "y": 500,
        "wires": [
            [
                "e56cd726da7a8379"
            ]
        ]
    },
    {
        "id": "e56cd726da7a8379",
        "type": "function",
        "z": "89c26b2630a7d108",
        "name": "Deployment Success Log",
        "func": "if(msg.statusCode === 204){\n    msg.payload = \"✅ Node dynamically deployed on network.\\n\";\n} else {\n    msg.payload = \"❌ Error starting node.\\n\" + msg.payload;\n}\nreturn msg;",
        "outputs": 1,
        "x": 1170,
        "y": 500,
        "wires": [
            [
                "d7dfe950f06ff51b"
            ]
        ]
    },
    {
        "id": "d7dfe950f06ff51b",
        "type": "ui-template",
        "z": "89c26b2630a7d108",
        "group": "ui_group_deploy_log",
        "name": "Terminal",
        "order": 1,
        "width": 0,
        "height": 0,
        "format": "<pre style=\"background:#1e1e1e;color:#0f0;padding:15px;height:350px;overflow-y:auto;font-family:monospace;margin:0;white-space:pre-wrap;\" v-text=\"msg.payload||'Awaiting deployment commands...' \"></pre>",
        "storeOutMessages": true,
        "resendOnRefresh": true,
        "templateScope": "local",
        "className": "",
        "x": 1540,
        "y": 400,
        "wires": [
            []
        ]
    },
    {
        "id": "417256df7d7f068b",
        "type": "link out",
        "z": "89c26b2630a7d108",
        "name": "Refresh Configs Table",
        "links": [
            "bd398f54fc8cf524"
        ],
        "x": 1175,
        "y": 300,
        "wires": []
    },
    {
        "id": "bd398f54fc8cf524",
        "type": "link in",
        "z": "89c26b2630a7d108",
        "name": "In Refresh Configs",
        "links": [
            "417256df7d7f068b"
        ],
        "x": 130,
        "y": 1460,
        "wires": [
            [
                "9be6aa74c2b7aaea"
            ]
        ]
    },
    {
        "id": "4f6d7840e9bb4b7d",
        "type": "inject",
        "z": "89c26b2630a7d108",
        "name": "Load Configs GUI",
        "props": [],
        "repeat": "5",
        "crontab": "",
        "once": true,
        "onceDelay": 0.5,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 170,
        "y": 1420,
        "wires": [
            [
                "9be6aa74c2b7aaea"
            ]
        ]
    },
    {
        "id": "9be6aa74c2b7aaea",
        "type": "file in",
        "z": "89c26b2630a7d108",
        "name": "Read Configs Table",
        "filename": "/data/saved_sensors.json",
        "format": "utf8",
        "x": 370,
        "y": 1440,
        "wires": [
            [
                "ad1067e6df98b852"
            ]
        ]
    },
    {
        "id": "ad1067e6df98b852",
        "type": "function",
        "z": "89c26b2630a7d108",
        "name": "Format JSON->HTML/Dropdown",
        "func": "let configs = [];\ntry {\n    if (msg.payload) configs = JSON.parse(msg.payload);\n} catch(e) {}\n\nlet html = '<table style=\"width:100%; text-align:left; border-collapse:collapse;\"><tr style=\"border-bottom:1px solid #555;\"><th style=\"padding:4px;\">ID</th><th style=\"padding:4px;\">Profile</th><th style=\"padding:4px;\">Sensors</th></tr>';\nlet dd_opts = [];\n\nif(configs.length > 0){\n    configs.forEach(c => {\n        html += `<tr style=\"border-bottom:1px solid #333;\"><td style=\"padding:4px;color:#60a5fa;\">${c.id}</td><td style=\"padding:4px;\">${c.profile}</td><td style=\"padding:4px;font-size:0.85em;color:#aaa;\">${c.types}</td></tr>`;\n        dd_opts.push({label: c.id, value: c.id, type: 'str'});\n    });\n} else {\n    html += '<tr><td colspan=\"3\" style=\"text-align:center;padding:10px;\">No saved configs</td></tr>';\n    dd_opts = [{label: \"No Configs\", value: \"none\", type: \"str\"}];\n}\nhtml += '</table>';\n\n// Send visual HTML to table, drop options to dropdown\nreturn [{payload: html}, {options: dd_opts}];",
        "outputs": 2,
        "x": 610,
        "y": 1440,
        "wires": [
            [
                "a0e4ce86e61d7e70"
            ],
            [
                "24a2a0c33fcea25b"
            ]
        ]
    },
    {
        "id": "a0e4ce86e61d7e70",
        "type": "ui-template",
        "z": "89c26b2630a7d108",
        "group": "2a7528eec5f798b0",
        "page": "",
        "ui": "",
        "name": "Saved Configs Table",
        "order": 1,
        "width": 0,
        "height": 0,
        "format": "<div style=\"\n  padding:10px;\n  background:#1e1e1e;\n  color:#e0e0e0;\n  border-radius:6px;\n  font-family:monospace;\n  font-size:14px;\n\">\n  <pre style=\"margin:0;\" v-html=\"msg.payload\"></pre>\n</div>",
        "storeOutMessages": true,
        "passthru": true,
        "resendOnRefresh": true,
        "templateScope": "local",
        "className": "",
        "x": 1040,
        "y": 1420,
        "wires": [
            []
        ]
    },
    {
        "id": "6aaf537eb1e62b1c",
        "type": "ui-button",
        "z": "89c26b2630a7d108",
        "group": "2a7528eec5f798b0",
        "name": "Run All Saved Configs",
        "label": "Run ALL Saved Nodes",
        "order": 4,
        "width": 0,
        "height": 0,
        "tooltip": "Deploy every saved sensor configuration sequentially",
        "color": "white",
        "bgcolor": "#8b5cf6",
        "className": "",
        "icon": "play",
        "payload": "",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "enableClick": true,
        "x": 140,
        "y": 620,
        "wires": [
            [
                "dc546cadf21a2ad0"
            ]
        ]
    },
    {
        "id": "dc546cadf21a2ad0",
        "type": "file in",
        "z": "89c26b2630a7d108",
        "name": "Read Mass Configs",
        "filename": "/data/saved_sensors.json",
        "format": "utf8",
        "x": 350,
        "y": 620,
        "wires": [
            [
                "913093a5c65980f2",
                "f296764e6241a1e1"
            ]
        ]
    },
    {
        "id": "f296764e6241a1e1",
        "type": "function",
        "z": "89c26b2630a7d108",
        "name": "Log Start Mass",
        "func": "return { payload: \"🚀 INITIATING MASS DEPLOYMENT of all saved configurations...\"};",
        "outputs": 1,
        "x": 560,
        "y": 580,
        "wires": [
            [
                "075b1f8eff241944"
            ]
        ]
    },
    {
        "id": "913093a5c65980f2",
        "type": "function",
        "z": "89c26b2630a7d108",
        "name": "Spawn Splitters",
        "func": "let configs = [];\ntry { if (msg.payload) configs = JSON.parse(msg.payload); } catch(e) {}\nif(configs.length === 0) return null;\n\nlet delay = 0;\nlet msgs = [];\n// We create multiple msg objects that will fire sequentially into the docker node\nconfigs.forEach(cfg => {\n    msgs.push({ \n        payload: cfg,\n        delay: delay\n    }); \n    delay += 2000; // 2 seconds between creation\n});\nreturn [msgs];",
        "outputs": 1,
        "x": 560,
        "y": 620,
        "wires": [
            [
                "2fda066a281289cf"
            ]
        ]
    },
    {
        "id": "2fda066a281289cf",
        "type": "delay",
        "z": "89c26b2630a7d108",
        "name": "Stagger Spawn",
        "pauseType": "delayv",
        "timeout": "5",
        "timeoutUnits": "seconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "allowrate": false,
        "outputs": 1,
        "x": 740,
        "y": 620,
        "wires": [
            [
                "6f9de8b348f9d7b7"
            ]
        ]
    },
    {
        "id": "dd8c797c7b829981",
        "type": "ui-button",
        "z": "89c26b2630a7d108",
        "group": "2a7528eec5f798b0",
        "name": "Remove All Configs Btn",
        "label": "Remove All Configs",
        "order": 5,
        "width": 0,
        "height": 0,
        "tooltip": "Wipes all saved configurations",
        "color": "white",
        "bgcolor": "#ef4444",
        "className": "",
        "icon": "trash",
        "payload": "",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "enableClick": true,
        "x": 120,
        "y": 760,
        "wires": [
            [
                "ce73baeaf4ca6229"
            ]
        ]
    },
    {
        "id": "ce73baeaf4ca6229",
        "type": "function",
        "z": "89c26b2630a7d108",
        "name": "Clear Array Log",
        "func": "msg.payload = \"[]\";\nreturn [msg, { payload: \"🗑️ All saved configurations have been purged.\" }];",
        "outputs": 2,
        "x": 340,
        "y": 760,
        "wires": [
            [
                "95e9b4b7a777c328"
            ],
            [
                "29a9ac0ae18a1f57"
            ]
        ]
    },
    {
        "id": "95e9b4b7a777c328",
        "type": "file",
        "z": "89c26b2630a7d108",
        "name": "Wipe JSON File",
        "filename": "/data/saved_sensors.json",
        "appendNewline": true,
        "overwriteFile": "true",
        "x": 540,
        "y": 760,
        "wires": [
            [
                "417256df7d7f068b"
            ]
        ]
    },
    {
        "id": "c342440c6131d7fa",
        "type": "inject",
        "z": "89c26b2630a7d108",
        "name": "Poll Live Sensors",
        "props": [],
        "repeat": "3",
        "crontab": "",
        "once": true,
        "onceDelay": 0.5,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 150,
        "y": 820,
        "wires": [
            [
                "7b7bdfeb8d8b2ca4"
            ]
        ]
    },
    {
        "id": "7b7bdfeb8d8b2ca4",
        "type": "http request",
        "z": "89c26b2630a7d108",
        "name": "Get Containers",
        "method": "GET",
        "ret": "obj",
        "paytoqs": "ignore",
        "url": "http://docker-proxy:2375/containers/json?all=true",
        "tls": "",
        "persist": false,
        "proxy": "",
        "authType": "",
        "senderr": false,
        "x": 360,
        "y": 820,
        "wires": [
            [
                "c3457f8cd7627499"
            ]
        ]
    },
    {
        "id": "c3457f8cd7627499",
        "type": "function",
        "z": "89c26b2630a7d108",
        "name": "Parse Live Nodes",
        "func": "let html = '<table style=\"width:100%; text-align:left; border-collapse:collapse;\"><tr style=\"border-bottom:1px solid #555;\"><th style=\"padding:4px;\">Node ID</th><th style=\"padding:4px;\">State</th><th style=\"padding:4px;\">Status</th></tr>';\nlet opts = [];\nif(msg.payload && Array.isArray(msg.payload)){\n    let sensors = msg.payload.filter(c => c.Image === 'iot-sensor' || c.Image === 'iot-sensor:latest');\n    sensors.forEach(c => {\n        let name = c.Names[0].replace('/','');\n        let status = c.Status;\n        let state = c.State;\n        let color = state === 'running' ? '#10b981' : (state === 'paused' ? '#f59e0b' : '#ef4444');\n        if(state === 'exited') color = '#ef4444';\n        html += `<tr style=\"border-bottom:1px solid #333;\"><td style=\"padding:4px;\">${name}</td><td style=\"padding:4px;color:${color}\">${state}</td><td style=\"padding:4px;font-size:0.85em;color:#aaa;\">${status}</td></tr>`;\n        opts.push({label: name, value: name, type: 'str'});\n    });\n    if(sensors.length === 0) html += '<tr><td colspan=\"3\" style=\"text-align:center;padding:10px;\">No sensors actively running</td></tr>';\n}\nhtml += '</table>';\nreturn [{payload: html}, {options: opts}];",
        "outputs": 2,
        "x": 590,
        "y": 820,
        "wires": [
            [
                "338566eff2953ae6"
            ],
            [
                "1453f448f840983f",
                "a9b32cc95c805692"
            ]
        ]
    },
    {
        "id": "338566eff2953ae6",
        "type": "ui-template",
        "z": "89c26b2630a7d108",
        "group": "ui_group_sensors_list",
        "page": "",
        "ui": "",
        "name": "Live Nodes Table",
        "order": 1,
        "width": 0,
        "height": 0,
        "format": "<div style=\"\n  padding:10px;\n  background:#1e1e1e;\n  color:#e0e0e0;\n  border-radius:6px;\n  font-family:monospace;\n  font-size:14px;\n\">\n  <pre style=\"margin:0;\" v-html=\"msg.payload\"></pre>\n</div>",
        "storeOutMessages": true,
        "passthru": true,
        "resendOnRefresh": true,
        "templateScope": "local",
        "className": "",
        "x": 970,
        "y": 820,
        "wires": [
            []
        ]
    },
    {
        "id": "3f1c960a7aec12de",
        "type": "ui-button",
        "z": "89c26b2630a7d108",
        "group": "ui_group_node_control",
        "name": "Apply Action",
        "label": "Execute Action",
        "order": 3,
        "width": 0,
        "height": 0,
        "tooltip": "",
        "color": "white",
        "bgcolor": "#3b82f6",
        "className": "",
        "icon": "play",
        "payload": "",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "x": 130,
        "y": 980,
        "wires": [
            [
                "dbe78305fe67ba53"
            ]
        ]
    },
    {
        "id": "dbe78305fe67ba53",
        "type": "function",
        "z": "89c26b2630a7d108",
        "name": "Prep Request",
        "func": "let target_node = flow.get('cfg_target_node');\nlet action = flow.get('cfg_target_action');\nif(!target_node || !action) { return [null, { payload: '⚠️ Select Node and Action' }]; }\n\nif(action === 'delete') {\n    msg.method = 'DELETE';\n    msg.url = 'http://docker-proxy:2375/containers/' + target_node + '?force=true';\n} else if (action === 'kill') {\n    msg.method = 'POST';\n    msg.url = 'http://docker-proxy:2375/containers/' + target_node + '/kill';\n} else {\n    msg.method = 'POST';\n    msg.url = 'http://docker-proxy:2375/containers/' + target_node + '/' + action;\n}\nlet log = { payload: `Executing ${action.toUpperCase()} on node: ${target_node}...` };\nreturn [msg, log];",
        "outputs": 2,
        "x": 340,
        "y": 980,
        "wires": [
            [
                "1ec3ece025157cb1"
            ],
            [
                "d602a204ee8de4e4"
            ]
        ]
    },
    {
        "id": "1ec3ece025157cb1",
        "type": "http request",
        "z": "89c26b2630a7d108",
        "name": "Exec Action",
        "method": "use",
        "ret": "txt",
        "paytoqs": "ignore",
        "url": "",
        "tls": "",
        "persist": false,
        "proxy": "",
        "authType": "",
        "senderr": false,
        "x": 530,
        "y": 980,
        "wires": [
            [
                "77aaeaabb1afdf1d"
            ]
        ]
    },
    {
        "id": "77aaeaabb1afdf1d",
        "type": "function",
        "z": "89c26b2630a7d108",
        "name": "Action Result",
        "func": "if(msg.statusCode >= 200 && msg.statusCode < 300) {\n    msg.payload = '✅ Action completed successfully.\\n';\n} else {\n    msg.payload = '❌ Action failed: ' + msg.payload + '\\n';\n}\nreturn msg;",
        "outputs": 1,
        "x": 710,
        "y": 980,
        "wires": [
            [
                "d602a204ee8de4e4"
            ]
        ]
    },
    {
        "id": "6d71d041030d570b",
        "type": "ui-button",
        "z": "89c26b2630a7d108",
        "group": "ui_group_node_control",
        "name": "Kill All",
        "label": "Kill ALL Live Sensors",
        "order": 4,
        "width": 0,
        "height": 0,
        "tooltip": "Force remove all sensor containers",
        "color": "white",
        "bgcolor": "#ef4444",
        "className": "",
        "icon": "trash",
        "payload": "",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "x": 110,
        "y": 1060,
        "wires": [
            [
                "872150f19df02a57",
                "1983a759ee89a990"
            ]
        ]
    },
    {
        "id": "872150f19df02a57",
        "type": "function",
        "z": "89c26b2630a7d108",
        "name": "Log Kill All",
        "func": "return { payload: '🔥 ALL SENSORS EVACUATION TRIGGERED...' };",
        "outputs": 1,
        "x": 310,
        "y": 1020,
        "wires": [
            [
                "d602a204ee8de4e4"
            ]
        ]
    },
    {
        "id": "1983a759ee89a990",
        "type": "http request",
        "z": "89c26b2630a7d108",
        "name": "Get Sensors Wipe",
        "method": "GET",
        "ret": "obj",
        "paytoqs": "ignore",
        "url": "http://docker-proxy:2375/containers/json?all=true",
        "tls": "",
        "persist": false,
        "proxy": "",
        "authType": "",
        "senderr": false,
        "x": 310,
        "y": 1060,
        "wires": [
            [
                "dc550562aa9db095"
            ]
        ]
    },
    {
        "id": "dc550562aa9db095",
        "type": "function",
        "z": "89c26b2630a7d108",
        "name": "Extract IDs to Kill",
        "func": "let sensors = [];\nif(msg.payload && Array.isArray(msg.payload)){\n    sensors = msg.payload.filter(c => c.Image === 'iot-sensor' || c.Image === 'iot-sensor:latest');\n}\nif(sensors.length === 0) {\n    return [null, { payload: \"↳ No sensors bound...\" }];\n}\nlet msgs = sensors.map(s => {\n    return {\n        url: 'http://docker-proxy:2375/containers/' + s.Id + '?force=true',\n        method: 'DELETE'\n    };\n});\nreturn [msgs, { payload: `↳ Wiping out ${msgs.length} engines...` }];",
        "outputs": 2,
        "x": 530,
        "y": 1060,
        "wires": [
            [
                "2d193af0c49f92fb"
            ],
            [
                "d602a204ee8de4e4"
            ]
        ]
    },
    {
        "id": "2d193af0c49f92fb",
        "type": "http request",
        "z": "89c26b2630a7d108",
        "name": "HTTP Wipe",
        "method": "use",
        "ret": "txt",
        "paytoqs": "ignore",
        "url": "",
        "tls": "",
        "persist": false,
        "proxy": "",
        "authType": "",
        "senderr": false,
        "x": 730,
        "y": 1060,
        "wires": [
            []
        ]
    },
    {
        "id": "1453f448f840983f",
        "type": "ui-dropdown",
        "z": "89c26b2630a7d108",
        "group": "ui_group_sensor_monitor",
        "name": "Monitor Target",
        "label": "Select Sensor:",
        "tooltip": "Choose which sensor to stream via MQTT",
        "order": 2,
        "width": 6,
        "height": 0,
        "passthru": true,
        "multiple": false,
        "chips": false,
        "clearable": false,
        "options": [],
        "payload": "",
        "topic": "topic",
        "topicType": "msg",
        "className": "",
        "typeIsComboBox": false,
        "msgTrigger": "onChange",
        "x": 840,
        "y": 940,
        "wires": [
            [
                "ed3a222922460339"
            ]
        ]
    },
    {
        "id": "ed3a222922460339",
        "type": "function",
        "z": "89c26b2630a7d108",
        "name": "Save Target MQTT",
        "func": "if(msg.payload) flow.set('cfg_monitor_node', msg.payload);\nreturn msg;",
        "outputs": 1,
        "x": 1050,
        "y": 940,
        "wires": [
            []
        ]
    },
    {
        "id": "d321091dc35acb56",
        "type": "ui-button",
        "z": "89c26b2630a7d108",
        "group": "ui_group_sensor_monitor",
        "name": "Start Monitor Btn",
        "label": "Start",
        "order": 3,
        "width": 3,
        "height": 0,
        "tooltip": "Listen to the broker for this sensor's data",
        "color": "white",
        "bgcolor": "#10b981",
        "className": "",
        "icon": "fa-play",
        "payload": "",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "x": 170,
        "y": 1140,
        "wires": [
            [
                "9870adbace0b3c6d"
            ]
        ]
    },
    {
        "id": "8ad272094d5c84de",
        "type": "ui-button",
        "z": "89c26b2630a7d108",
        "group": "ui_group_sensor_monitor",
        "name": "Stop Monitor Btn",
        "label": "Stop",
        "order": 4,
        "width": 3,
        "height": 0,
        "tooltip": "Halt the live telemetry feed",
        "color": "white",
        "bgcolor": "#ef4444",
        "className": "",
        "icon": "fa-stop",
        "payload": "",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "x": 150,
        "y": 1200,
        "wires": [
            [
                "4b6b8f7d5b48186e"
            ]
        ]
    },
    {
        "id": "9870adbace0b3c6d",
        "type": "function",
        "z": "89c26b2630a7d108",
        "name": "Activate Stream",
        "func": "let target = flow.get('cfg_monitor_node');\nif (!target) { msg.payload = \"⚠️ ERROR: No sensor selected.\"; return msg; }\n\nflow.set('sensor_monitor_active', true);\nflow.set('mqtt_terminal_logs', []);\nmsg.payload = `[SYSTEM] Connected to Mosquitto Broker.\\nListening for MQTT telemetry matching [${target}]...`;\nreturn msg;",
        "outputs": 1,
        "x": 380,
        "y": 1140,
        "wires": [
            [
                "b577b406436de1c3"
            ]
        ]
    },
    {
        "id": "4b6b8f7d5b48186e",
        "type": "function",
        "z": "89c26b2630a7d108",
        "name": "Deactivate Stream",
        "func": "let target = flow.get('cfg_monitor_node') || 'sensor';\nflow.set('sensor_monitor_active', false);\nmsg.payload = `[SYSTEM] Filter deactivated.\\nStopped listening for [${target}].`;\nreturn msg;",
        "outputs": 1,
        "x": 370,
        "y": 1200,
        "wires": [
            [
                "b577b406436de1c3"
            ]
        ]
    },
    {
        "id": "239b3cfa5ea187ca",
        "type": "mqtt in",
        "z": "89c26b2630a7d108",
        "name": "Subscribe: All Traffic (#)",
        "topic": "#",
        "qos": "0",
        "datatype": "auto-detect",
        "broker": "9956a4644cc28f0f",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 160,
        "y": 1260,
        "wires": [
            [
                "3743e72af9692d86"
            ]
        ]
    },
    {
        "id": "3743e72af9692d86",
        "type": "function",
        "z": "89c26b2630a7d108",
        "name": "Smart Filter",
        "func": "let active = flow.get('sensor_monitor_active');\nlet target = flow.get('cfg_monitor_node');\nif (!active || !target) return null;\n\nlet topic = msg.topic;\nlet payloadStr = typeof msg.payload === 'object' ? JSON.stringify(msg.payload) : String(msg.payload);\n\nif (topic.includes(target) || payloadStr.includes(target)) {\n    let time = new Date().toLocaleTimeString();\n    if (typeof msg.payload === 'object') {\n        payloadStr = JSON.stringify(msg.payload, null, 2);\n    }\n    let logEntry = `[${time}] Topic: ${topic}\\n${payloadStr}`;\n    let logs = flow.get('mqtt_terminal_logs') || [];\n    logs.push(logEntry);\n    if (logs.length > 5) logs.shift();\n    flow.set('mqtt_terminal_logs', logs);\n    msg.payload = logs.join('\\n----------------------------------\\n');\n    return msg;\n}\nreturn null;",
        "outputs": 1,
        "x": 390,
        "y": 1260,
        "wires": [
            [
                "b577b406436de1c3"
            ]
        ]
    },
    {
        "id": "b577b406436de1c3",
        "type": "ui-template",
        "z": "89c26b2630a7d108",
        "group": "ui_group_sensor_monitor",
        "page": "",
        "ui": "",
        "name": "MQTT Data Terminal",
        "order": 1,
        "width": 0,
        "height": 0,
        "format": "<div style=\"background:#1e1e1e; border: 1px solid #333; border-radius:8px; box-shadow: 0 4px 15px rgba(0,0,0,0.5); margin-top: 5px;\">\n    <div style=\"background:#2d2d2d; padding:8px 15px; border-bottom:1px solid #444; border-radius: 8px 8px 0 0; color:#888; font-family:sans-serif; font-size:12px; display:flex; align-items:center;\">\n       <div style=\"display:flex; gap:8px;\">\n           <div style=\"width:10px;height:10px;border-radius:50%;background:#ff5f56;\"></div>\n           <div style=\"width:10px;height:10px;border-radius:50%;background:#ffbd2e;\"></div>\n           <div style=\"width:10px;height:10px;border-radius:50%;background:#27c93f;\"></div>\n       </div>\n       <span style=\"margin-left:15px; color:#a3a3a3; font-weight:500;\"><i class=\"fa fa-wifi\"></i> mosquitto-broker-stream</span>\n    </div>\n    <pre style=\"color:#22d3ee; padding:15px; height:240px; overflow-y:auto; font-family:'Fira Code', 'Courier New', monospace; font-size:13px; margin:0; white-space:pre-wrap; line-height: 1.4;\" v-text=\"msg.payload||'Broker connection pending...' \"></pre>\n</div>",
        "storeOutMessages": true,
        "passthru": true,
        "resendOnRefresh": true,
        "templateScope": "local",
        "className": "",
        "x": 640,
        "y": 1180,
        "wires": [
            []
        ]
    },
    {
        "id": "04553eb8843ef23e",
        "type": "function",
        "z": "89c26b2630a7d108",
        "name": "Verify Selection",
        "func": "let target_id = flow.get('cfg_target_del_id');\nif(!target_id || target_id === 'none') {\n    return [null, { payload: \"⚠️ Error: No configuration selected to delete!\" }];\n}\nreturn [msg, null];",
        "outputs": 2,
        "x": 130,
        "y": 1360,
        "wires": [
            [
                "fb4f5754ecb07475"
            ],
            []
        ]
    },
    {
        "id": "fb4f5754ecb07475",
        "type": "file in",
        "z": "89c26b2630a7d108",
        "name": "Read Data Delete",
        "filename": "/data/saved_sensors.json",
        "format": "utf8",
        "x": 310,
        "y": 1360,
        "wires": [
            [
                "0b159f4717a62910"
            ]
        ]
    },
    {
        "id": "0b159f4717a62910",
        "type": "function",
        "z": "89c26b2630a7d108",
        "name": "Filter Delete",
        "func": "let target_id = flow.get('cfg_target_del_id');\nlet configs = [];\n\ntry { \n    if(msg.payload) configs = JSON.parse(msg.payload); \n} catch(e) { }\n\nlet filtered = configs.filter(c => c.id !== target_id);\nmsg.payload = JSON.stringify(filtered, null, 2);\n\n// Clear the current selection so we don't accidentally double delete\nflow.set('cfg_target_del_id', null);\n\nreturn [msg, { payload: `🗑️ Deleted saved configuration: [${target_id}]` }];",
        "outputs": 2,
        "x": 490,
        "y": 1360,
        "wires": [
            [
                "bf96eb182ecd0db8"
            ],
            []
        ]
    },
    {
        "id": "bf96eb182ecd0db8",
        "type": "file",
        "z": "89c26b2630a7d108",
        "name": "Write Delete",
        "filename": "/data/saved_sensors.json",
        "appendNewline": true,
        "overwriteFile": "true",
        "x": 670,
        "y": 1360,
        "wires": [
            [
                "e4ea63be11a5e781"
            ]
        ]
    },
    {
        "id": "e4ea63be11a5e781",
        "type": "delay",
        "z": "89c26b2630a7d108",
        "name": "Wait for Write",
        "pauseType": "delay",
        "timeout": "500",
        "timeoutUnits": "milliseconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "allowrate": false,
        "outputs": 1,
        "x": 840,
        "y": 1360,
        "wires": [
            []
        ]
    },
    {
        "id": "a9b32cc95c805692",
        "type": "ui-dropdown",
        "z": "89c26b2630a7d108",
        "group": "ui_group_node_control",
        "name": "Target Node Dropdown",
        "label": "Target Active Node",
        "tooltip": "",
        "order": 1,
        "width": 0,
        "height": 0,
        "passthru": true,
        "multiple": false,
        "options": [],
        "payload": "",
        "topic": "topic",
        "topicType": "msg",
        "className": "",
        "typeIsComboBox": true,
        "msgTrigger": "onChange",
        "x": 880,
        "y": 880,
        "wires": [
            [
                "417f7fb89d3984a5"
            ]
        ]
    },
    {
        "id": "417f7fb89d3984a5",
        "type": "function",
        "z": "89c26b2630a7d108",
        "name": "Save Action Target",
        "func": "if(msg.payload && typeof msg.payload === 'string') {\n    flow.set('cfg_target_node', msg.payload);\n} else if (msg.payload && msg.payload.value) {\n    flow.set('cfg_target_node', msg.payload.value);\n}\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1110,
        "y": 880,
        "wires": [
            []
        ]
    },
    {
        "id": "a56f2bec522482e9",
        "type": "ui-dropdown",
        "z": "89c26b2630a7d108",
        "group": "ui_group_node_control",
        "name": "Select Action",
        "label": "Action",
        "tooltip": "",
        "order": 2,
        "width": 0,
        "height": 0,
        "passthru": true,
        "multiple": false,
        "chips": false,
        "clearable": false,
        "options": [
            {
                "label": "Start Container",
                "value": "start",
                "type": "str"
            },
            {
                "label": "Stop Container",
                "value": "stop",
                "type": "str"
            },
            {
                "label": "Crash Container (Kill)",
                "value": "kill",
                "type": "str"
            },
            {
                "label": "Pause Container",
                "value": "pause",
                "type": "str"
            },
            {
                "label": "Unpause Container",
                "value": "unpause",
                "type": "str"
            },
            {
                "label": "Restart Container",
                "value": "restart",
                "type": "str"
            },
            {
                "label": "Delete (Force)",
                "value": "delete",
                "type": "str"
            }
        ],
        "payload": "",
        "topic": "topic",
        "topicType": "msg",
        "className": "",
        "typeIsComboBox": true,
        "msgTrigger": "onChange",
        "x": 130,
        "y": 920,
        "wires": [
            [
                "218fef18d5810555"
            ]
        ]
    },
    {
        "id": "218fef18d5810555",
        "type": "function",
        "z": "89c26b2630a7d108",
        "name": "Save Action",
        "func": "if(msg.payload && typeof msg.payload === 'string') {\n    flow.set('cfg_target_action', msg.payload);\n} else if (msg.payload && msg.payload.value) {\n    flow.set('cfg_target_action', msg.payload.value);\n}\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 330,
        "y": 920,
        "wires": [
            []
        ]
    },
    {
        "id": "d602a204ee8de4e4",
        "type": "link out",
        "z": "89c26b2630a7d108",
        "name": "link out 1",
        "mode": "link",
        "links": [
            "54eab7d35e4e552c"
        ],
        "x": 1055,
        "y": 1040,
        "wires": []
    },
    {
        "id": "54eab7d35e4e552c",
        "type": "link in",
        "z": "89c26b2630a7d108",
        "name": "link in 1",
        "links": [
            "d602a204ee8de4e4"
        ],
        "x": 1375,
        "y": 340,
        "wires": [
            [
                "d7dfe950f06ff51b"
            ]
        ]
    },
    {
        "id": "075b1f8eff241944",
        "type": "link out",
        "z": "89c26b2630a7d108",
        "name": "link out 2",
        "mode": "link",
        "links": [
            "0cda87dc25d903f4"
        ],
        "x": 885,
        "y": 560,
        "wires": []
    },
    {
        "id": "0cda87dc25d903f4",
        "type": "link in",
        "z": "89c26b2630a7d108",
        "name": "link in 2",
        "links": [
            "075b1f8eff241944"
        ],
        "x": 1375,
        "y": 500,
        "wires": [
            [
                "d7dfe950f06ff51b"
            ]
        ]
    },
    {
        "id": "24a2a0c33fcea25b",
        "type": "ui-dropdown",
        "z": "89c26b2630a7d108",
        "group": "2a7528eec5f798b0",
        "name": "Delete Multi Dropdown",
        "label": "Select Configs to Delete:",
        "tooltip": "Select one or more",
        "order": 2,
        "width": 0,
        "height": 0,
        "passthru": true,
        "multiple": true,
        "chips": true,
        "clearable": true,
        "options": [],
        "payload": "",
        "topic": "topic",
        "topicType": "msg",
        "className": "",
        "typeIsComboBox": false,
        "msgTrigger": "onChange",
        "x": 1040,
        "y": 1520,
        "wires": [
            [
                "9f4851f5ca0bc997"
            ]
        ]
    },
    {
        "id": "9f4851f5ca0bc997",
        "type": "function",
        "z": "89c26b2630a7d108",
        "name": "Save Target Array",
        "func": "if (msg.payload) {\n    // Dropdown with 'multiple' enabled outputs an array\n    flow.set('cfg_target_del_ids', msg.payload);\n}\nreturn msg;",
        "outputs": 1,
        "x": 1250,
        "y": 1520,
        "wires": [
            []
        ]
    },
    {
        "id": "59d08ebc14ded4c9",
        "type": "ui-button",
        "z": "89c26b2630a7d108",
        "group": "2a7528eec5f798b0",
        "name": "Del Config Btn",
        "label": "Delete Selected Configs",
        "order": 3,
        "width": 0,
        "height": 0,
        "tooltip": "",
        "color": "white",
        "bgcolor": "#ef4444",
        "className": "",
        "icon": "trash",
        "payload": "",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "enableClick": true,
        "x": 100,
        "y": 700,
        "wires": [
            [
                "a7e3e9c4b23ecee5"
            ]
        ]
    },
    {
        "id": "a7e3e9c4b23ecee5",
        "type": "file in",
        "z": "89c26b2630a7d108",
        "name": "Read Data Delete",
        "filename": "/data/saved_sensors.json",
        "format": "utf8",
        "x": 310,
        "y": 700,
        "wires": [
            [
                "e56869580375d8ba"
            ]
        ]
    },
    {
        "id": "e56869580375d8ba",
        "type": "function",
        "z": "89c26b2630a7d108",
        "name": "Filter Multiple Deletes",
        "func": "let target_ids = flow.get('cfg_target_del_ids');\n\n// Check if array exists and has elements\nif(!target_ids || !Array.isArray(target_ids) || target_ids.length === 0) {\n    return [null, { payload: \"⚠️ Error: No configurations selected to delete!\" }];\n}\n\nlet configs = [];\ntry { \n    if(msg.payload) configs = JSON.parse(msg.payload); \n} catch(e) { }\n\n// Filter out ANY config whose ID exists in the target_ids array\nlet filtered = configs.filter(c => !target_ids.includes(c.id));\nmsg.payload = JSON.stringify(filtered, null, 2);\n\n// Clear the selection after processing\nflow.set('cfg_target_del_ids', []);\n\nreturn [msg, { payload: `🗑️ Deleted configs: [${target_ids.join(', ')}]` }];",
        "outputs": 2,
        "x": 520,
        "y": 700,
        "wires": [
            [
                "14587dad53056061"
            ],
            []
        ]
    },
    {
        "id": "14587dad53056061",
        "type": "file",
        "z": "89c26b2630a7d108",
        "name": "Write Delete",
        "filename": "/data/saved_sensors.json",
        "appendNewline": true,
        "overwriteFile": "true",
        "x": 730,
        "y": 700,
        "wires": [
            [
                "417256df7d7f068b",
                "c6cc1107f5d31b1d"
            ]
        ]
    },
    {
        "id": "1752f782b21f61be",
        "type": "link in",
        "z": "89c26b2630a7d108",
        "name": "link in 3",
        "links": [
            "c6cc1107f5d31b1d"
        ],
        "x": 795,
        "y": 1400,
        "wires": [
            [
                "a0e4ce86e61d7e70"
            ]
        ]
    },
    {
        "id": "c6cc1107f5d31b1d",
        "type": "link out",
        "z": "89c26b2630a7d108",
        "name": "link out 3",
        "mode": "link",
        "links": [
            "1752f782b21f61be"
        ],
        "x": 955,
        "y": 700,
        "wires": []
    },
    {
        "id": "c7696d58faac7022",
        "type": "link in",
        "z": "89c26b2630a7d108",
        "name": "link in 4",
        "links": [
            "29a9ac0ae18a1f57"
        ],
        "x": 1375,
        "y": 560,
        "wires": [
            [
                "d7dfe950f06ff51b"
            ]
        ]
    },
    {
        "id": "29a9ac0ae18a1f57",
        "type": "link out",
        "z": "89c26b2630a7d108",
        "name": "link out 4",
        "mode": "link",
        "links": [
            "c7696d58faac7022"
        ],
        "x": 745,
        "y": 760,
        "wires": []
    },
    {
        "id": "6d74a9d5049a6aac",
        "type": "ui-template",
        "z": "b78d14cc362e1196",
        "group": "a70e7057f4859509",
        "name": "Hacker Terminal",
        "order": 1,
        "width": 0,
        "height": 0,
        "format": "<div style=\"background:#0f172a;color:#10b981;padding:15px;height:450px;overflow-y:auto;font-family:monospace;margin:0;border-radius:4px;\"><h3>root@kali-linux:~#</h3><pre style=\"white-space:pre-wrap;\" v-text=\"msg.payload||'Awaiting target node deployment...' \"></pre></div>",
        "storeOutMessages": true,
        "passthru": true,
        "resendOnRefresh": true,
        "templateScope": "local",
        "className": "",
        "x": 1200,
        "y": 280,
        "wires": [
            []
        ]
    },
    {
        "id": "8deaa0ec0d2e015b",
        "type": "function",
        "z": "b78d14cc362e1196",
        "name": "Loading Msg",
        "func": "return { payload: '[*] Compiling payload...\\n[*] Connecting to daemon...\\n[*] Please wait for execution to finish...' };",
        "outputs": 1,
        "x": 300,
        "y": 400,
        "wires": [
            [
                "6d74a9d5049a6aac"
            ]
        ]
    },
    {
        "id": "f3a234f009c5f686",
        "type": "ui-button",
        "z": "b78d14cc362e1196",
        "group": "7d01403463477825",
        "name": "Phase 0 Button",
        "label": "Start Attacker Node",
        "order": 1,
        "width": 0,
        "height": 0,
        "emulateClick": false,
        "tooltip": "Creates node isolated from target network",
        "color": "white",
        "bgcolor": "#475569",
        "className": "",
        "icon": "server",
        "iconPosition": "left",
        "payload": "",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "buttonColor": "",
        "textColor": "",
        "iconColor": "",
        "enableClick": true,
        "enablePointerdown": false,
        "pointerdownPayload": "",
        "pointerdownPayloadType": "str",
        "enablePointerup": false,
        "pointerupPayload": "",
        "pointerupPayloadType": "str",
        "x": 80,
        "y": 40,
        "wires": [
            [
                "54a75fb40cd57891",
                "8deaa0ec0d2e015b"
            ]
        ]
    },
    {
        "id": "54a75fb40cd57891",
        "type": "function",
        "z": "b78d14cc362e1196",
        "name": "Prep Create",
        "func": "msg.url = 'http://docker-proxy:2375/containers/create?name=iot_attacker_node';\nmsg.method = 'POST';\n// Important: explicitly define request timeout to avoid 120s limit failure\nmsg.timeout = 300000; \nmsg.payload = {\n  'Image': 'iot-attacker',\n  'Tty': true,\n  'OpenStdin': true,\n  'HostConfig': {\n    'NetworkMode': 'bridge',\n    'AutoRemove': true\n  }\n};\nreturn msg;",
        "outputs": 1,
        "x": 300,
        "y": 40,
        "wires": [
            [
                "5938ca266a62db7b"
            ]
        ]
    },
    {
        "id": "5938ca266a62db7b",
        "type": "http request",
        "z": "b78d14cc362e1196",
        "name": "Create API",
        "method": "POST",
        "ret": "obj",
        "paytoqs": "ignore",
        "url": "",
        "tls": "",
        "persist": false,
        "proxy": "",
        "authType": "",
        "senderr": false,
        "x": 460,
        "y": 40,
        "wires": [
            [
                "994e6124db30d480"
            ]
        ]
    },
    {
        "id": "994e6124db30d480",
        "type": "function",
        "z": "b78d14cc362e1196",
        "name": "Prep Start",
        "func": "if(!msg.payload || !msg.payload.Id) {\n  return [null, {payload:'[-] Failed to create container. Already exists?\\n' + JSON.stringify(msg.payload)}];\n}\nmsg.url = 'http://docker-proxy:2375/containers/iot_attacker_node/start';\nmsg.method = 'POST';\nmsg.payload = {};\nmsg.timeout = 300000;\nreturn [msg, null];",
        "outputs": 2,
        "x": 620,
        "y": 40,
        "wires": [
            [
                "9d2629760da4dba4"
            ],
            [
                "6d74a9d5049a6aac"
            ]
        ]
    },
    {
        "id": "9d2629760da4dba4",
        "type": "http request",
        "z": "b78d14cc362e1196",
        "name": "Start API",
        "method": "POST",
        "ret": "txt",
        "paytoqs": "ignore",
        "url": "",
        "tls": "",
        "persist": false,
        "proxy": "",
        "authType": "",
        "senderr": false,
        "x": 780,
        "y": 40,
        "wires": [
            [
                "e188ef681638795c"
            ]
        ]
    },
    {
        "id": "e188ef681638795c",
        "type": "function",
        "z": "b78d14cc362e1196",
        "name": "Parse Success",
        "func": "msg.payload = '[+] Attacker VM successfully provisioned.\\n[+] Container running outside target network (isolated bridge).\\n[+] Ready to execute Phase 1.';\nreturn msg;",
        "outputs": 1,
        "x": 930,
        "y": 40,
        "wires": [
            [
                "6d74a9d5049a6aac"
            ]
        ]
    },
    {
        "id": "ba12655f18c4af1e",
        "type": "ui-button",
        "z": "b78d14cc362e1196",
        "group": "7d01403463477825",
        "name": "Phase 1 Button",
        "label": "Breach Into Network",
        "order": 2,
        "width": 0,
        "height": 0,
        "emulateClick": false,
        "tooltip": "Connects attacker to internal network",
        "color": "white",
        "bgcolor": "#57534e",
        "className": "",
        "icon": "login",
        "iconPosition": "left",
        "payload": "",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "buttonColor": "",
        "textColor": "",
        "iconColor": "",
        "enableClick": true,
        "enablePointerdown": false,
        "pointerdownPayload": "",
        "pointerdownPayloadType": "str",
        "enablePointerup": false,
        "pointerupPayload": "",
        "pointerupPayloadType": "str",
        "x": 80,
        "y": 100,
        "wires": [
            [
                "fb7f5ec1c7e90584",
                "8deaa0ec0d2e015b"
            ]
        ]
    },
    {
        "id": "fb7f5ec1c7e90584",
        "type": "function",
        "z": "b78d14cc362e1196",
        "name": "Set Connect POST",
        "func": "msg.url = 'http://docker-proxy:2375/networks/iot_infralab_net/connect';\nmsg.method = 'POST';\nmsg.payload = { \"Container\": \"iot_attacker_node\" };\nmsg.timeout = 300000;\nreturn msg;",
        "outputs": 1,
        "x": 320,
        "y": 100,
        "wires": [
            [
                "11777b1bd8b603cb"
            ]
        ]
    },
    {
        "id": "11777b1bd8b603cb",
        "type": "http request",
        "z": "b78d14cc362e1196",
        "name": "Connect API",
        "method": "use",
        "ret": "txt",
        "paytoqs": "ignore",
        "url": "",
        "tls": "",
        "persist": false,
        "proxy": "",
        "authType": "",
        "senderr": false,
        "x": 500,
        "y": 100,
        "wires": [
            [
                "46242eb6875059d1"
            ]
        ]
    },
    {
        "id": "46242eb6875059d1",
        "type": "function",
        "z": "b78d14cc362e1196",
        "name": "Fmt Response",
        "func": "if(msg.statusCode === 200) {\n  msg.payload = '[+] Initial Access Achieved.\\n[+] Exploit successful. Attacker node bridged into iot_infralab_net.\\n[+] Target internal network is now reachable.';\n} else if(msg.statusCode === 403) {\n  msg.payload = '[*] Target perimeter already breached.\\n[*] Node is already attached to the internal network.\\n[+] Proceed to Phase 2.';\n} else {\n  msg.payload = '[-] Sploit Failed. Make sure Phase 0 is complete.\\nError: ' + msg.payload;\n}\nreturn msg;",
        "outputs": 1,
        "x": 670,
        "y": 100,
        "wires": [
            [
                "6d74a9d5049a6aac"
            ]
        ]
    },
    {
        "id": "e91e042b507e0a99",
        "type": "ui-button",
        "z": "b78d14cc362e1196",
        "group": "7d01403463477825",
        "name": "Phase 2 Button",
        "label": "Reconnaissance (Nmap)",
        "order": 3,
        "width": 0,
        "height": 0,
        "emulateClick": false,
        "tooltip": "Fast Nmap subnet scan",
        "color": "white",
        "bgcolor": "#0284c7",
        "className": "",
        "icon": "wifi_tethering",
        "iconPosition": "left",
        "payload": "",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "buttonColor": "",
        "textColor": "",
        "iconColor": "",
        "enableClick": true,
        "enablePointerdown": false,
        "pointerdownPayload": "",
        "pointerdownPayloadType": "str",
        "enablePointerup": false,
        "pointerupPayload": "",
        "pointerupPayloadType": "str",
        "x": 100,
        "y": 160,
        "wires": [
            [
                "657a51cff56a8575",
                "8deaa0ec0d2e015b"
            ]
        ]
    },
    {
        "id": "657a51cff56a8575",
        "type": "function",
        "z": "b78d14cc362e1196",
        "name": "Cmd: Nmap Fast",
        "func": "// Explicitly check the status of Port 1883 instead of blind grepping.\n//     'OUTPUT=$(nmap -sS -p 8086,1880,1883 --min-rate 100 172.18.0.0/24); ' \nmsg.cmd = [\n    'sh', '-c',\n    'nmap -sS -p 8086,1880,1883 --min-rate 100 172.18.0.0/24'\n];\nreturn msg;",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 300,
        "y": 160,
        "wires": [
            [
                "2983b9fc8554cb8f"
            ]
        ]
    },
    {
        "id": "d60c24acd2df66f0",
        "type": "ui-button",
        "z": "b78d14cc362e1196",
        "group": "7d01403463477825",
        "name": "Phase 4 Button",
        "label": "Impact (DDoS Flood)",
        "order": 5,
        "width": 0,
        "height": 0,
        "emulateClick": false,
        "tooltip": "Hping3 Broker Flood",
        "color": "white",
        "bgcolor": "#dc2626",
        "className": "",
        "icon": "bolt",
        "iconPosition": "left",
        "payload": "",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "buttonColor": "",
        "textColor": "",
        "iconColor": "",
        "enableClick": true,
        "enablePointerdown": false,
        "pointerdownPayload": "",
        "pointerdownPayloadType": "str",
        "enablePointerup": false,
        "pointerupPayload": "",
        "pointerupPayloadType": "str",
        "x": 100,
        "y": 280,
        "wires": [
            [
                "1d9233aac0236c75",
                "8deaa0ec0d2e015b"
            ]
        ]
    },
    {
        "id": "1d9233aac0236c75",
        "type": "function",
        "z": "b78d14cc362e1196",
        "name": "Cmd: Hping3",
        "func": "msg.cmd = ['hping3', '-S', '-p', '1883', '-c', '1000', '-i', 'u1000', 'mosquitto'];\nreturn msg;",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 300,
        "y": 280,
        "wires": [
            [
                "2983b9fc8554cb8f"
            ]
        ]
    },
    {
        "id": "2983b9fc8554cb8f",
        "type": "function",
        "z": "b78d14cc362e1196",
        "name": "Prep Exec Target",
        "func": "let cmd = msg.cmd;\nmsg.url = 'http://docker-proxy:2375/containers/iot_attacker_node/exec';\nmsg.method = 'POST';\nmsg.timeout = 300000;\nmsg.payload = {\n  'AttachStdout': true,\n  'AttachStderr': true,\n  'Tty': true,\n  'Cmd': cmd\n};\nreturn msg;",
        "outputs": 1,
        "x": 500,
        "y": 220,
        "wires": [
            [
                "b19e09082a24eb43"
            ]
        ]
    },
    {
        "id": "b19e09082a24eb43",
        "type": "http request",
        "z": "b78d14cc362e1196",
        "name": "Exec Create API",
        "method": "use",
        "ret": "obj",
        "paytoqs": "ignore",
        "url": "",
        "tls": "",
        "persist": false,
        "proxy": "",
        "authType": "",
        "senderr": false,
        "x": 680,
        "y": 220,
        "wires": [
            [
                "a2c52300aa8f1443"
            ]
        ]
    },
    {
        "id": "a2c52300aa8f1443",
        "type": "function",
        "z": "b78d14cc362e1196",
        "name": "Start Exec Trigger",
        "func": "if(!msg.payload || !msg.payload.Id) {\n  return [null, {payload: '[-] ERROR: Execution failed. Ensure Phase 0 & 1 were completed first.'}];\n}\nmsg.url = 'http://docker-proxy:2375/exec/' + msg.payload.Id + '/start';\nmsg.method = 'POST';\nmsg.timeout = 300000;\nmsg.payload = { 'Detach': false, 'Tty': true };\nreturn [msg, null];",
        "outputs": 2,
        "x": 860,
        "y": 220,
        "wires": [
            [
                "2ae86581d34f9eb7"
            ],
            [
                "6d74a9d5049a6aac"
            ]
        ]
    },
    {
        "id": "2ae86581d34f9eb7",
        "type": "http request",
        "z": "b78d14cc362e1196",
        "name": "Start Cmd Request",
        "method": "use",
        "ret": "txt",
        "paytoqs": "ignore",
        "url": "",
        "tls": "",
        "persist": false,
        "proxy": "",
        "authType": "",
        "senderr": false,
        "x": 1040,
        "y": 220,
        "wires": [
            [
                "da5bdbca6c592c61"
            ]
        ]
    },
    {
        "id": "da5bdbca6c592c61",
        "type": "function",
        "z": "b78d14cc362e1196",
        "name": "Buffer to Terminal Format",
        "func": "/* Formats raw Docker buffer straight to text */\nif (typeof msg.payload === 'object') {\n    msg.payload = JSON.stringify(msg.payload, null, 2);\n}\nif (!msg.payload || msg.payload.trim() === \"\") {\n    msg.payload = \"[+] Execution finished successfully (No terminal output returned).\";\n}\nreturn msg;",
        "outputs": 1,
        "x": 1280,
        "y": 220,
        "wires": [
            [
                "6d74a9d5049a6aac"
            ]
        ]
    },
    {
        "id": "a4381f9196d8c23f",
        "type": "ui-button",
        "z": "b78d14cc362e1196",
        "group": "7d01403463477825",
        "name": "Phase 5 Button",
        "label": "Remove Attacker Node",
        "order": 6,
        "width": 0,
        "height": 0,
        "emulateClick": false,
        "tooltip": "Force remove the container to hide tracks",
        "color": "white",
        "bgcolor": "#7f1d1d",
        "className": "",
        "icon": "delete_forever",
        "iconPosition": "left",
        "payload": "",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "buttonColor": "",
        "textColor": "",
        "iconColor": "",
        "enableClick": true,
        "enablePointerdown": false,
        "pointerdownPayload": "",
        "pointerdownPayloadType": "str",
        "enablePointerup": false,
        "pointerupPayload": "",
        "pointerupPayloadType": "str",
        "x": 110,
        "y": 340,
        "wires": [
            [
                "cdd015f4ef35764c",
                "8deaa0ec0d2e015b"
            ]
        ]
    },
    {
        "id": "cdd015f4ef35764c",
        "type": "function",
        "z": "b78d14cc362e1196",
        "name": "Prep Delete",
        "func": "msg.url = 'http://docker-proxy:2375/containers/iot_attacker_node?force=true';\nmsg.method = 'DELETE';\nmsg.timeout = 300000;\nreturn msg;",
        "outputs": 1,
        "x": 300,
        "y": 340,
        "wires": [
            [
                "ddce95da8c7ffabe"
            ]
        ]
    },
    {
        "id": "ddce95da8c7ffabe",
        "type": "http request",
        "z": "b78d14cc362e1196",
        "name": "Delete API",
        "method": "use",
        "ret": "txt",
        "paytoqs": "ignore",
        "url": "",
        "tls": "",
        "persist": false,
        "proxy": "",
        "authType": "",
        "senderr": false,
        "x": 460,
        "y": 340,
        "wires": [
            [
                "9fab6ce3108062bd"
            ]
        ]
    },
    {
        "id": "9fab6ce3108062bd",
        "type": "function",
        "z": "b78d14cc362e1196",
        "name": "Parse Success",
        "func": "if(msg.statusCode >= 200 && msg.statusCode < 300) {\n    msg.payload = '[*] Wiping target logs...\\n[+] Evidence Burned.\\n[+] Attacker container forcefully destroyed and removed from underlying host.\\n[+] Kill Chain Sequence Complete. Exiting...';\n} else {\n    msg.payload = '[-] Failed to destroy track. Is the container already dead?\\nError: ' + msg.payload;\n}\nreturn msg;",
        "outputs": 1,
        "x": 650,
        "y": 340,
        "wires": [
            [
                "6d74a9d5049a6aac"
            ]
        ]
    },
    {
        "id": "b7ec64369078978c",
        "type": "ui-button",
        "z": "b78d14cc362e1196",
        "group": "7d01403463477825",
        "name": "Sniff Btn",
        "label": "Start Interception (Sniffer)",
        "order": 4,
        "width": 0,
        "height": 0,
        "emulateClick": false,
        "tooltip": "Sniff all MQTT traffic",
        "color": "",
        "bgcolor": "#10b981",
        "className": "",
        "icon": "",
        "iconPosition": "left",
        "payload": "",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "buttonColor": "",
        "textColor": "",
        "iconColor": "",
        "enableClick": true,
        "enablePointerdown": false,
        "pointerdownPayload": "",
        "pointerdownPayloadType": "str",
        "enablePointerup": false,
        "pointerupPayload": "",
        "pointerupPayloadType": "str",
        "x": 100,
        "y": 220,
        "wires": [
            [
                "1d1ca2216f6d3a10",
                "a2be4dd380abfee3"
            ]
        ]
    },
    {
        "id": "1d1ca2216f6d3a10",
        "type": "function",
        "z": "b78d14cc362e1196",
        "name": "Set Sniff",
        "func": "msg.cmd=['python','mqtt_sniff.py','--broker','mosquitto']; return msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 280,
        "y": 220,
        "wires": [
            [
                "2983b9fc8554cb8f"
            ]
        ]
    },
    {
        "id": "a2be4dd380abfee3",
        "type": "function",
        "z": "b78d14cc362e1196",
        "name": "Loading msg",
        "func": "msg.payload = '> Currently sniffing for 10s... Please wait';\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 510,
        "y": 180,
        "wires": [
            [
                "6d74a9d5049a6aac"
            ]
        ]
    },
    {
        "id": "65db73485cce2b95",
        "type": "inject",
        "z": "d415d47f74e99da2",
        "name": "Poll Network",
        "props": [],
        "repeat": "3",
        "crontab": "",
        "once": true,
        "onceDelay": 0.5,
        "topic": "",
        "x": 100,
        "y": 60,
        "wires": [
            [
                "0c9aa63bd05948a1"
            ]
        ]
    },
    {
        "id": "0c9aa63bd05948a1",
        "type": "http request",
        "z": "d415d47f74e99da2",
        "name": "GET Containers",
        "method": "GET",
        "ret": "obj",
        "paytoqs": "ignore",
        "url": "http://docker-proxy:2375/containers/json?all=true",
        "tls": "",
        "persist": false,
        "proxy": "",
        "authType": "",
        "senderr": false,
        "x": 300,
        "y": 60,
        "wires": [
            [
                "eb219cbad18c4d80"
            ]
        ]
    },
    {
        "id": "eb219cbad18c4d80",
        "type": "function",
        "z": "d415d47f74e99da2",
        "name": "Parse IPs & Update Map",
        "func": "let html = '<table style=\"width:100%; text-align:left; border-collapse:collapse; color:#e2e8f0;\"><tr style=\"border-bottom:1px solid #555;\"><th style=\"padding:6px;\">Node Name</th><th style=\"padding:6px;\">IP Address</th><th style=\"padding:6px;\">State</th></tr>';\nlet ipMap = {};\n\nif (msg.payload && Array.isArray(msg.payload)) {\n    msg.payload.forEach(c => {\n        let name = c.Names[0].replace('/','');\n        let nets = (c.NetworkSettings && c.NetworkSettings.Networks) ? c.NetworkSettings.Networks : {};\n        let netInfo = nets['iot_infralab_net'];\n        let ip = netInfo ? netInfo.IPAddress : null;\n        let state = c.State;\n        \n        if (ip) {\n            html += `<tr style=\"border-bottom:1px solid #333;\"><td style=\"padding:6px;\">${name}</td><td style=\"padding:6px;color:#3b82f6;font-family:monospace;font-weight:bold;\">${ip}</td><td style=\"padding:6px;color:#10b981;\">${state}</td></tr>`;\n            ipMap[ip] = name;\n        } else {\n            html += `<tr style=\"border-bottom:1px solid #333;\"><td style=\"padding:6px;color:#64748b;\">${name}</td><td style=\"padding:6px;color:#ef4444;font-family:monospace;\">Disconnected</td><td style=\"padding:6px;color:#64748b;\">${state}</td></tr>`;\n        }\n    });\n}\nhtml += '</table>';\n\n// Save the live active map globally so Suricata alerts can check against it\nflow.set('network_ip_map', ipMap);\n\nreturn { payload: html };",
        "outputs": 1,
        "x": 530,
        "y": 60,
        "wires": [
            [
                "eb919cdb9b5ce0e8"
            ]
        ]
    },
    {
        "id": "eb919cdb9b5ce0e8",
        "type": "ui-template",
        "z": "d415d47f74e99da2",
        "group": "426c92f3f4d5bb85",
        "name": "Live Topology Table",
        "order": 1,
        "width": 0,
        "height": 0,
        "format": "<div style=\"padding:10px; background:#1e1e1e; border-radius:6px; color:#e2e8f0; max-height:200px; overflow-y:auto;\" v-html=\"msg.payload\"></div>",
        "storeOutMessages": true,
        "resendOnRefresh": true,
        "templateScope": "local",
        "className": "",
        "x": 780,
        "y": 60,
        "wires": [
            []
        ]
    },
    {
        "id": "48bead69107b66a0",
        "type": "ui-dropdown",
        "z": "d415d47f74e99da2",
        "group": "8356bd12d00a4d35",
        "name": "Target Dropdown",
        "label": "Select Attacker IP",
        "tooltip": "Select the IP to kick off the network",
        "order": 1,
        "width": 0,
        "height": 0,
        "passthru": true,
        "multiple": false,
        "options": [],
        "payload": "",
        "className": "",
        "x": 1470,
        "y": 460,
        "wires": [
            [
                "890f27216709ba05"
            ]
        ]
    },
    {
        "id": "890f27216709ba05",
        "type": "function",
        "z": "d415d47f74e99da2",
        "name": "Save Target ID",
        "func": "if(msg.payload) flow.set('soc_target', msg.payload);\nreturn msg;",
        "outputs": 1,
        "x": 1680,
        "y": 460,
        "wires": [
            []
        ]
    },
    {
        "id": "f6cfdfe70af36781",
        "type": "ui-button",
        "z": "d415d47f74e99da2",
        "group": "8356bd12d00a4d35",
        "name": "Isolate Action",
        "label": "Isolate IP from Lab Network",
        "order": 2,
        "width": 0,
        "height": 0,
        "tooltip": "Physically disconnects the container from br-iotlab",
        "color": "white",
        "bgcolor": "#ef4444",
        "className": "",
        "icon": "mdi-lan-disconnect",
        "payload": "",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "x": 90,
        "y": 220,
        "wires": [
            [
                "3ed8e965635301cf"
            ]
        ]
    },
    {
        "id": "3ed8e965635301cf",
        "type": "function",
        "z": "d415d47f74e99da2",
        "name": "Prep Docker Disconnect",
        "func": "let target = flow.get('soc_target');\nif(!target) {\n    return [null, {payload: \"⚠️ Please select an IP address from the dropdown first.\"}];\n}\n\nmsg.url = 'http://docker-proxy:2375/networks/iot_infralab_net/disconnect';\nmsg.method = 'POST';\nmsg.payload = {\n    \"Container\": target,\n    \"Force\": true\n};\n\nlet log = { payload: `Executing Network Isolation (NAC) on node ID: [${target}]...` };\nreturn [msg, log];",
        "outputs": 2,
        "x": 310,
        "y": 220,
        "wires": [
            [
                "b1e12a2825059772"
            ],
            [
                "84761a78668b9c18"
            ]
        ]
    },
    {
        "id": "b1e12a2825059772",
        "type": "http request",
        "z": "d415d47f74e99da2",
        "name": "POST Network Disconnect",
        "method": "use",
        "ret": "txt",
        "paytoqs": "ignore",
        "url": "",
        "tls": "",
        "persist": false,
        "proxy": "",
        "authType": "",
        "senderr": false,
        "x": 570,
        "y": 220,
        "wires": [
            [
                "c4579c5e3989747c"
            ]
        ]
    },
    {
        "id": "c4579c5e3989747c",
        "type": "function",
        "z": "d415d47f74e99da2",
        "name": "Format Output",
        "func": "if(msg.statusCode === 200) {\n    msg.payload = \"✅ SUCCESS: Attacker IP has been physically disconnected from the IoT Network.\\nReconnaissance and Lateral Movement neutralized.\";\n} else {\n    msg.payload = \"❌ FAILED: Could not isolate IP. Error Status: \" + msg.statusCode + \"\\n\" + msg.payload;\n}\nreturn msg;",
        "outputs": 1,
        "x": 800,
        "y": 220,
        "wires": [
            [
                "84761a78668b9c18"
            ]
        ]
    },
    {
        "id": "84761a78668b9c18",
        "type": "ui-template",
        "z": "d415d47f74e99da2",
        "group": "1384ea55c0ba1905",
        "name": "SOC Log View",
        "order": 1,
        "width": 6,
        "height": 5,
        "format": "<pre style=\"background:#0f172a;color:#38bdf8;padding:15px;height:250px;overflow-y:auto;font-family:monospace;margin:0;border-radius:4px;white-space:pre-wrap;\" v-text=\"msg.payload||'Awaiting SOC actions...' \"></pre>",
        "storeOutMessages": true,
        "resendOnRefresh": true,
        "templateScope": "local",
        "className": "",
        "x": 1000,
        "y": 220,
        "wires": [
            []
        ]
    },
    {
        "id": "54d3ace31a119017",
        "type": "inject",
        "z": "d415d47f74e99da2",
        "name": "Poll Suricata Alerts",
        "props": [],
        "repeat": "1.5",
        "crontab": "",
        "once": true,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 162,
        "y": 380.9999885559082,
        "wires": [
            [
                "8d8f9ea92bf18fdb"
            ]
        ]
    },
    {
        "id": "8d8f9ea92bf18fdb",
        "type": "function",
        "z": "d415d47f74e99da2",
        "name": "Create Exec tail",
        "func": "msg.url = 'http://docker-proxy:2375/containers/suricata-ids/exec';\nmsg.method = 'POST';\nmsg.headers = { 'Content-Type': 'application/json' };\nmsg.payload = {\n    'AttachStdout': true,\n    'Tty': true,\n    'Cmd': ['tail', '-n', '15', '/var/log/suricata/eve.json']\n};\nreturn msg;",
        "outputs": 1,
        "x": 362,
        "y": 380.9999885559082,
        "wires": [
            [
                "a06976b9776bd36d"
            ]
        ]
    },
    {
        "id": "a06976b9776bd36d",
        "type": "http request",
        "z": "d415d47f74e99da2",
        "name": "POST Create Exec",
        "method": "use",
        "ret": "obj",
        "paytoqs": "ignore",
        "url": "",
        "tls": "",
        "persist": false,
        "proxy": "",
        "authType": "",
        "senderr": false,
        "x": 552,
        "y": 380.9999885559082,
        "wires": [
            [
                "3bf362abe5cdf2b8"
            ]
        ]
    },
    {
        "id": "3bf362abe5cdf2b8",
        "type": "function",
        "z": "d415d47f74e99da2",
        "name": "Start Exec",
        "func": "if (msg.payload && msg.payload.Id) {\n    msg.url = 'http://docker-proxy:2375/exec/' + msg.payload.Id + '/start';\n    msg.method = 'POST';\n    msg.headers = { 'Content-Type': 'application/json' };\n    msg.payload = { 'Detach': false, 'Tty': true };\n    return msg;\n}",
        "outputs": 1,
        "x": 732,
        "y": 380.9999885559082,
        "wires": [
            [
                "fb47530090725ff3"
            ]
        ]
    },
    {
        "id": "fb47530090725ff3",
        "type": "http request",
        "z": "d415d47f74e99da2",
        "name": "POST Start Exec",
        "method": "use",
        "ret": "txt",
        "paytoqs": "ignore",
        "url": "",
        "tls": "",
        "persist": false,
        "proxy": "",
        "authType": "",
        "senderr": false,
        "x": 912,
        "y": 380.9999885559082,
        "wires": [
            [
                "65c23a3bd747246c"
            ]
        ]
    },
    {
        "id": "65c23a3bd747246c",
        "type": "function",
        "z": "d415d47f74e99da2",
        "name": "Parse Suricata & Extract IPs",
        "func": "let raw = msg.payload || '';\nlet lines = raw.split('\\n');\nlet alerts = [];\nlet attackerIPs = new Set(); // Store unique attacker IPs\n\nfor (let i = 0; i < lines.length; i++) {\n    let line = lines[i].trim();\n    if (!line) continue;\n    \n    let jsonStart = line.indexOf('{\"timestamp\"');\n    if (jsonStart !== -1) {\n        try {\n            let jsonStr = line.substring(jsonStart);\n            let evt = JSON.parse(jsonStr);\n            if (evt.event_type === 'alert') {\n                let time = new Date(evt.timestamp).toLocaleTimeString();\n                let sig = evt.alert.signature;\n                let src = evt.src_ip + (evt.src_port ? ':' + evt.src_port : '');\n                let dst = evt.dest_ip + (evt.dest_port ? ':' + evt.dest_port : '');\n                alerts.push(`[${time}] 🚨 DETECTED: ${sig}\\n    Target: ${src} -> ${dst}`);\n                \n                // Add the absolute Source IP as a known attacker\n                if (evt.src_ip) attackerIPs.add(evt.src_ip);\n            }\n        } catch(e) {}\n    }\n}\n\nalerts = alerts.reverse().slice(0, 15);\n\nlet msgAlerts = { payload: '' };\nif (alerts.length === 0) {\n    msgAlerts.payload = '🟢 System Secure: Watching for active threats in eve.json...';\n} else {\n    msgAlerts.payload = alerts.join('\\n\\n');\n}\n\n// Pass unique Attackers to the second output for the NAC Dropdown correlation\nlet msgAttackers = { payload: Array.from(attackerIPs) };\n\nreturn [msgAlerts, msgAttackers];",
        "outputs": 2,
        "x": 1162,
        "y": 380.9999885559082,
        "wires": [
            [
                "badfe3aaa39b3edd"
            ],
            [
                "f0af5eabbe7b73e8"
            ]
        ]
    },
    {
        "id": "f0af5eabbe7b73e8",
        "type": "function",
        "z": "d415d47f74e99da2",
        "name": "Correlate Attackers for NAC",
        "func": "let attackers = msg.payload || [];\nlet ipMap = flow.get('network_ip_map') || {};\nlet options = [];\n\n// If there are no attackers, completely hide the dropdown options\nif (attackers.length === 0) {\n    return { options: [], payload: null };\n}\n\n// If attackers exist, map their IPs to live container names for the dropdown\nattackers.forEach(ip => {\n    let containerName = ipMap[ip];\n    if (containerName) {\n         options.push({ \n             label: `🚨 ${ip} (Node: ${containerName})`, \n             value: containerName, \n             type: 'str' \n         });\n    } else {\n        // In case the IPs have left the network, or it's external\n         options.push({ \n             label: `🚨 ${ip} (Unknown Device)`, \n             value: ip, \n             type: 'str' \n         });\n    }\n});\n\n// Auto-select the first attacker just to make the UI faster for the SOC operator\nlet firstTarget = options.length > 0 ? options[0].value : null;\nreturn { options: options, payload: firstTarget };",
        "outputs": 1,
        "x": 1220,
        "y": 460,
        "wires": [
            [
                "48bead69107b66a0"
            ]
        ]
    },
    {
        "id": "f032f4b1e436557e",
        "type": "ui-button",
        "z": "d415d47f74e99da2",
        "group": "cf452f90a4917a01",
        "name": "Clear Alerts Btn",
        "label": "Acknowledge & Clear Alerts",
        "order": 2,
        "width": 6,
        "height": 0,
        "emulateClick": false,
        "tooltip": "Wipes the eve.json log file in the container",
        "color": "white",
        "bgcolor": "#4b5563",
        "className": "",
        "icon": "fa-trash",
        "iconPosition": "left",
        "payload": "",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "x": 120,
        "y": 460,
        "wires": [
            [
                "f1612f3d89555e34"
            ]
        ]
    },
    {
        "id": "f1612f3d89555e34",
        "type": "function",
        "z": "d415d47f74e99da2",
        "name": "Prep File Wipe",
        "func": "msg.url = 'http://docker-proxy:2375/containers/suricata-ids/exec';\nmsg.method = 'POST';\nmsg.headers = { 'Content-Type': 'application/json' };\n// This command safely empties the log file inside the container\nmsg.payload = {\n    'AttachStdout': true,\n    'Tty': true,\n    'Cmd': ['sh', '-c', 'echo \"\" > /var/log/suricata/eve.json']\n};\nreturn msg;",
        "outputs": 1,
        "x": 320,
        "y": 460,
        "wires": [
            [
                "3cc4d3e06e78a65a"
            ]
        ]
    },
    {
        "id": "3cc4d3e06e78a65a",
        "type": "http request",
        "z": "d415d47f74e99da2",
        "name": "Create Exec",
        "method": "use",
        "ret": "obj",
        "paytoqs": "ignore",
        "url": "",
        "tls": "",
        "persist": false,
        "proxy": "",
        "authType": "",
        "senderr": false,
        "x": 510,
        "y": 460,
        "wires": [
            [
                "49b987bbe34e84fd"
            ]
        ]
    },
    {
        "id": "49b987bbe34e84fd",
        "type": "function",
        "z": "d415d47f74e99da2",
        "name": "Start File Wipe",
        "func": "if (msg.payload && msg.payload.Id) {\n    msg.url = 'http://docker-proxy:2375/exec/' + msg.payload.Id + '/start';\n    msg.method = 'POST';\n    msg.headers = { 'Content-Type': 'application/json' };\n    msg.payload = { 'Detach': false, 'Tty': true };\n    return msg;\n}",
        "outputs": 1,
        "x": 700,
        "y": 460,
        "wires": [
            [
                "ee472f922e32cd78"
            ]
        ]
    },
    {
        "id": "ee472f922e32cd78",
        "type": "http request",
        "z": "d415d47f74e99da2",
        "name": "Execute Wipe",
        "method": "use",
        "ret": "txt",
        "paytoqs": "ignore",
        "url": "",
        "tls": "",
        "persist": false,
        "proxy": "",
        "authType": "",
        "senderr": false,
        "x": 900,
        "y": 460,
        "wires": [
            []
        ]
    },
    {
        "id": "d93be06a2dce1120",
        "type": "ui-dropdown",
        "z": "d415d47f74e99da2",
        "group": "01d38afb921c168e",
        "name": "Model Selector",
        "label": "Select AI Model",
        "order": 1,
        "width": "6",
        "height": "1",
        "passthru": true,
        "multiple": false,
        "chips": false,
        "clearable": false,
        "options": [
            {
                "label": "Gemini 3.1",
                "value": "gemini-3.1-flash-lite-preview",
                "type": "str"
            },
            {
                "label": "Gemini 3.0 Flash",
                "value": "gemini-3-flash-preview",
                "type": "str"
            },
            {
                "label": "Gemini 1.5 Flash (Stable)",
                "value": "gemini-flash-latest",
                "type": "str"
            }
        ],
        "topic": "lab/security/model",
        "topicType": "str",
        "className": "",
        "typeIsComboBox": true,
        "msgTrigger": "onChange",
        "x": 120,
        "y": 560,
        "wires": [
            [
                "b308d287a834d5c2"
            ]
        ]
    },
    {
        "id": "b308d287a834d5c2",
        "type": "mqtt out",
        "z": "d415d47f74e99da2",
        "name": "",
        "topic": "lab/security/model",
        "qos": "1",
        "retain": "true",
        "broker": "ff_mqtt_broker",
        "x": 370,
        "y": 560,
        "wires": []
    },
    {
        "id": "a80ecd1079a9722a",
        "type": "ui-button",
        "z": "d415d47f74e99da2",
        "group": "01d38afb921c168e",
        "name": "Trigger Scan",
        "label": "Run Security Audit 🛡️",
        "order": 2,
        "width": "3",
        "height": "1",
        "emulateClick": false,
        "className": "",
        "icon": "gesture-tap",
        "iconPosition": "left",
        "payload": "SCAN_NOW",
        "payloadType": "str",
        "topic": "lab/security/trigger",
        "topicType": "str",
        "buttonColor": "",
        "textColor": "",
        "iconColor": "",
        "enableClick": true,
        "enablePointerdown": false,
        "pointerdownPayload": "",
        "pointerdownPayloadType": "str",
        "enablePointerup": false,
        "pointerupPayload": "",
        "pointerupPayloadType": "str",
        "x": 120,
        "y": 620,
        "wires": [
            [
                "bd288db68fac88a1"
            ]
        ]
    },
    {
        "id": "bd288db68fac88a1",
        "type": "mqtt out",
        "z": "d415d47f74e99da2",
        "name": "",
        "topic": "lab/security/trigger",
        "qos": "",
        "retain": "",
        "broker": "ff_mqtt_broker",
        "x": 370,
        "y": 620,
        "wires": []
    },
    {
        "id": "28151b661cffb467",
        "type": "mqtt in",
        "z": "d415d47f74e99da2",
        "name": "",
        "topic": "lab/security/status",
        "qos": "2",
        "datatype": "utf8",
        "broker": "ff_mqtt_broker",
        "inputs": 0,
        "x": 130,
        "y": 700,
        "wires": [
            [
                "638584429b5f8242"
            ]
        ]
    },
    {
        "id": "638584429b5f8242",
        "type": "ui-text",
        "z": "d415d47f74e99da2",
        "group": "01d38afb921c168e",
        "order": 3,
        "width": "3",
        "height": "1",
        "name": "Status Display",
        "label": "Auditor Status",
        "format": "{{msg.payload}}",
        "x": 380,
        "y": 700,
        "wires": []
    },
    {
        "id": "7ac46aa1d06debf2",
        "type": "mqtt in",
        "z": "d415d47f74e99da2",
        "name": "",
        "topic": "lab/security/report",
        "qos": "2",
        "datatype": "utf8",
        "broker": "ff_mqtt_broker",
        "inputs": 0,
        "x": 130,
        "y": 780,
        "wires": [
            [
                "a7ca6fc2492dd05a",
                "09e298371cded1de"
            ]
        ]
    },
    {
        "id": "a7ca6fc2492dd05a",
        "type": "debug",
        "z": "d415d47f74e99da2",
        "name": "debug 1",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 300,
        "y": 900,
        "wires": []
    },
    {
        "id": "09e298371cded1de",
        "type": "ui-template",
        "z": "d415d47f74e99da2",
        "group": "01d38afb921c168e",
        "page": "",
        "ui": "",
        "name": "AI Security Summary",
        "order": 4,
        "width": 0,
        "height": 0,
        "head": "",
        "format": "<div style=\"font-family: sans-serif; line-height: 1.5;\">\n    <div v-html=\"msg.payload\"></div>\n</div>",
        "storeOutMessages": true,
        "passthru": true,
        "resendOnRefresh": true,
        "templateScope": "local",
        "className": "",
        "x": 420,
        "y": 780,
        "wires": [
            []
        ]
    },
    {
        "id": "badfe3aaa39b3edd",
        "type": "ui-template",
        "z": "d415d47f74e99da2",
        "group": "cf452f90a4917a01",
        "page": "",
        "ui": "",
        "name": "Suricata IDS Alerts",
        "order": 1,
        "width": 6,
        "height": "",
        "format": "<div>\n    <pre style=\"background:#111;padding:15px;height:250px;overflow-y:auto;font-family:monospace;margin:0;white-space:pre-wrap;border:1px solid #3b82f6;border-radius:4px;\"><span :style=\"{color: msg?.payload?.includes('🚨') ? '#ef4444' : '#10b981'}\" v-text=\"msg?.payload || 'Shields up. Waiting for IDS alerts...'\"></span></pre>\n</div>",
        "storeOutMessages": true,
        "passthru": true,
        "resendOnRefresh": true,
        "templateScope": "local",
        "className": "",
        "x": 1470,
        "y": 380,
        "wires": [
            []
        ]
    },
    {
        "id": "999c9dc5465ee1f9",
        "type": "function",
        "z": "d415d47f74e99da2",
        "name": "Prep Suricata Restart",
        "func": "// Step 4: Restart Suricata so it re-attaches to Mosquitto's network space\nmsg.url = \"http://docker-proxy:2375/containers/suricata-ids/restart\";\nmsg.method = \"POST\";\nmsg.payload = {};\nreturn msg;",
        "outputs": 1,
        "x": 1640,
        "y": 1000,
        "wires": [
            [
                "4c52fc413694fa18"
            ]
        ]
    },
    {
        "id": "4c52fc413694fa18",
        "type": "http request",
        "z": "d415d47f74e99da2",
        "name": "POST Restart Suricata",
        "method": "use",
        "ret": "txt",
        "paytoqs": "ignore",
        "url": "",
        "tls": "",
        "persist": false,
        "proxy": "",
        "authType": "",
        "senderr": false,
        "x": 1900,
        "y": 1000,
        "wires": [
            [
                "7a4ce5455d7d080a"
            ]
        ]
    },
    {
        "id": "e221237c50ec7708",
        "type": "ui-switch",
        "z": "d415d47f74e99da2",
        "name": "Security Mode Switch",
        "label": "Enable Strict Security Policies",
        "group": "8356bd12d00a4d35",
        "order": 3,
        "width": 6,
        "height": 1,
        "passthru": false,
        "decouple": false,
        "topic": "topic",
        "topicType": "msg",
        "style": "default",
        "className": "",
        "layout": "",
        "clickableArea": "switch",
        "onvalue": "true",
        "onvalueType": "bool",
        "onicon": "mdi-lock",
        "oncolor": "success",
        "offvalue": "false",
        "offvalueType": "bool",
        "officon": "mdi-lock-open",
        "offcolor": "error",
        "x": 140,
        "y": 1000,
        "wires": [
            [
                "4884960ef43bbee5"
            ]
        ]
    },
    {
        "id": "4884960ef43bbee5",
        "type": "function",
        "z": "d415d47f74e99da2",
        "name": "Prep File Swap Command",
        "func": "// Tell the Mosquitto container to copy the correct profile over the active mosquitto.conf\nif (msg.payload === true) {\n    msg.cmd = [\"cp\", \"/mosquitto/config/mosquitto_hardened.conf\", \"/mosquitto/config/mosquitto.conf\"];\n    msg.notification_text = \"Broker Hardened & Restarted\";\n} else {\n    msg.cmd = [\"cp\", \"/mosquitto/config/mosquitto_vulnerable.conf\", \"/mosquitto/config/mosquitto.conf\"];\n    msg.notification_text = \"Broker Vulnerable & Restarted\";\n}\n\n// Step 1: Create the Exec instance inside iot_broker\nmsg.url = \"http://docker-proxy:2375/containers/iot_broker/exec\";\nmsg.method = \"POST\";\nmsg.payload = {\n    \"AttachStdout\": false,\n    \"AttachStderr\": false,\n    \"Tty\": false,\n    \"Cmd\": msg.cmd\n};\nreturn msg;",
        "outputs": 1,
        "x": 400,
        "y": 1000,
        "wires": [
            [
                "444740c195eafce8"
            ]
        ]
    },
    {
        "id": "444740c195eafce8",
        "type": "http request",
        "z": "d415d47f74e99da2",
        "name": "Create Exec",
        "method": "use",
        "ret": "obj",
        "paytoqs": "ignore",
        "url": "",
        "tls": "",
        "persist": false,
        "proxy": "",
        "authType": "",
        "senderr": false,
        "x": 620,
        "y": 1000,
        "wires": [
            [
                "0727ac8512aa12e1"
            ]
        ]
    },
    {
        "id": "0727ac8512aa12e1",
        "type": "function",
        "z": "d415d47f74e99da2",
        "name": "Start Exec Command",
        "func": "// Step 2: Trigger the copy command we just created\nif (msg.payload && msg.payload.Id) {\n    msg.url = \"http://docker-proxy:2375/exec/\" + msg.payload.Id + \"/start\";\n    msg.method = \"POST\";\n    msg.payload = { \"Detach\": false, \"Tty\": false };\n    return msg;\n}",
        "outputs": 1,
        "x": 810,
        "y": 1000,
        "wires": [
            [
                "0355f269da5ac73d"
            ]
        ]
    },
    {
        "id": "0355f269da5ac73d",
        "type": "http request",
        "z": "d415d47f74e99da2",
        "name": "Execute Copy",
        "method": "use",
        "ret": "txt",
        "paytoqs": "ignore",
        "url": "",
        "tls": "",
        "persist": false,
        "proxy": "",
        "authType": "",
        "senderr": false,
        "x": 1010,
        "y": 1000,
        "wires": [
            [
                "016c4c521257bdd2"
            ]
        ]
    },
    {
        "id": "016c4c521257bdd2",
        "type": "function",
        "z": "d415d47f74e99da2",
        "name": "Prep Docker Restart",
        "func": "// Step 3: Restart Mosquitto so it reads the newly copied file\nmsg.url = \"http://docker-proxy:2375/containers/iot_broker/restart\";\nmsg.method = \"POST\";\nmsg.payload = {};\nreturn msg;",
        "outputs": 1,
        "x": 1210,
        "y": 1000,
        "wires": [
            [
                "d3ed7ff1f022cc26"
            ]
        ]
    },
    {
        "id": "d3ed7ff1f022cc26",
        "type": "http request",
        "z": "d415d47f74e99da2",
        "name": "POST Restart",
        "method": "use",
        "ret": "txt",
        "paytoqs": "ignore",
        "url": "",
        "tls": "",
        "persist": false,
        "proxy": "",
        "authType": "",
        "senderr": false,
        "x": 1410,
        "y": 1000,
        "wires": [
            [
                "999c9dc5465ee1f9"
            ]
        ]
    },
    {
        "id": "7a4ce5455d7d080a",
        "type": "function",
        "z": "d415d47f74e99da2",
        "name": "Format Toast",
        "func": "if (msg.statusCode >= 200 && msg.statusCode < 300) {\n    msg.payload = msg.notification_text;\n} else {\n    msg.payload = `Error restarting broker: API returned ${msg.statusCode}`;\n}\nreturn msg;",
        "outputs": 1,
        "x": 1610,
        "y": 1060,
        "wires": [
            [
                "1fbd4634cc588220"
            ]
        ]
    },
    {
        "id": "1fbd4634cc588220",
        "type": "ui-notification",
        "z": "d415d47f74e99da2",
        "ui": "8bcc34ca17387ebb",
        "position": "top right",
        "displayTime": "3",
        "outputs": 1,
        "allowDismiss": true,
        "name": "Security Toast",
        "x": 1860,
        "y": 1060,
        "wires": [
            []
        ],
        "icon": "shield"
    },
    {
        "id": "d5e5132002b03689",
        "type": "ui-switch",
        "z": "d415d47f74e99da2",
        "name": "Suricata IPS Mode",
        "label": "Suricata IPS Mode",
        "group": "8356bd12d00a4d35",
        "order": 4,
        "width": 0,
        "height": 0,
        "passthru": true,
        "decouple": false,
        "topic": "topic",
        "topicType": "msg",
        "style": "",
        "className": "",
        "layout": "",
        "clickableArea": "switch",
        "onvalue": "true",
        "onvalueType": "bool",
        "onicon": "",
        "oncolor": "",
        "offvalue": "false",
        "offvalueType": "bool",
        "officon": "",
        "offcolor": "",
        "x": 130,
        "y": 1080,
        "wires": [
            [
                "3d44e82b44f028b7"
            ]
        ]
    },
    {
        "id": "3d44e82b44f028b7",
        "type": "function",
        "z": "d415d47f74e99da2",
        "name": "Prepare Rule Swap Exec",
        "func": "if (msg.payload === true) {\n    msg.cmd = [\"cp\", \"/etc/suricata/rules/local.rules.ips\", \"/etc/suricata/rules/local.rules\"];\n    msg.mode_text = \"IPS Mode (Reject)\";\n} else {\n    msg.cmd = [\"cp\", \"/etc/suricata/rules/local.rules.ids\", \"/etc/suricata/rules/local.rules\"];\n    msg.mode_text = \"IDS Mode (Alert)\";\n}\n\nmsg.url = \"http://docker-proxy:2375/containers/suricata-ids/exec\";\nmsg.method = \"POST\";\nmsg.payload = {\n    \"AttachStdout\": false,\n    \"AttachStderr\": false,\n    \"Tty\": false,\n    \"Cmd\": msg.cmd\n};\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 360,
        "y": 1080,
        "wires": [
            [
                "97d8ea2c9302a288"
            ]
        ]
    },
    {
        "id": "97d8ea2c9302a288",
        "type": "http request",
        "z": "d415d47f74e99da2",
        "name": "Create CP Exec",
        "method": "use",
        "ret": "obj",
        "paytoqs": "ignore",
        "url": "",
        "tls": "",
        "persist": false,
        "proxy": "",
        "insecureHTTPParser": false,
        "authType": "",
        "senderr": false,
        "headers": [],
        "x": 570,
        "y": 1080,
        "wires": [
            [
                "9aca90685806f95c"
            ]
        ]
    },
    {
        "id": "9aca90685806f95c",
        "type": "function",
        "z": "d415d47f74e99da2",
        "name": "Start CP Exec",
        "func": "if (!msg.payload || !msg.payload.Id) {\n    return null;\n}\nmsg.url = \"http://docker-proxy:2375/exec/\" + msg.payload.Id + \"/start\";\nmsg.method = \"POST\";\nmsg.payload = {\n    \"Detach\": false,\n    \"Tty\": false\n};\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 760,
        "y": 1080,
        "wires": [
            [
                "0d680b4937690bdc"
            ]
        ]
    },
    {
        "id": "0d680b4937690bdc",
        "type": "http request",
        "z": "d415d47f74e99da2",
        "name": "Run CP Exec",
        "method": "use",
        "ret": "txt",
        "paytoqs": "ignore",
        "url": "",
        "tls": "",
        "persist": false,
        "proxy": "",
        "insecureHTTPParser": false,
        "authType": "",
        "senderr": false,
        "headers": [],
        "x": 940,
        "y": 1080,
        "wires": [
            [
                "bb318d105a6af2b3"
            ]
        ]
    },
    {
        "id": "bb318d105a6af2b3",
        "type": "function",
        "z": "d415d47f74e99da2",
        "name": "Prepare Reload Exec",
        "func": "msg.url = \"http://docker-proxy:2375/containers/suricata-ids/exec\";\nmsg.method = \"POST\";\nmsg.payload = {\n    \"AttachStdout\": false,\n    \"AttachStderr\": false,\n    \"Tty\": false,\n    \"Cmd\": [\"suricatasc\", \"-c\", \"reload-rules\"]\n};\n// Ensure we pass the mode_text to the end of the flow so the notification is accurate\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 370,
        "y": 1140,
        "wires": [
            [
                "f62e0f18dbf91dc1"
            ]
        ]
    },
    {
        "id": "f62e0f18dbf91dc1",
        "type": "http request",
        "z": "d415d47f74e99da2",
        "name": "Create Reload Exec",
        "method": "use",
        "ret": "obj",
        "paytoqs": "ignore",
        "url": "",
        "tls": "",
        "persist": false,
        "proxy": "",
        "insecureHTTPParser": false,
        "authType": "",
        "senderr": false,
        "headers": [],
        "x": 580,
        "y": 1140,
        "wires": [
            [
                "7398359bf04b2234"
            ]
        ]
    },
    {
        "id": "7398359bf04b2234",
        "type": "function",
        "z": "d415d47f74e99da2",
        "name": "Start Reload Exec",
        "func": "if (!msg.payload || !msg.payload.Id) {\n    return null;\n}\nmsg.url = \"http://docker-proxy:2375/exec/\" + msg.payload.Id + \"/start\";\nmsg.method = \"POST\";\nmsg.payload = {\n    \"Detach\": false,\n    \"Tty\": false\n};\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 780,
        "y": 1140,
        "wires": [
            [
                "0f79df0f1ccb8549"
            ]
        ]
    },
    {
        "id": "0f79df0f1ccb8549",
        "type": "http request",
        "z": "d415d47f74e99da2",
        "name": "Run Reload Exec",
        "method": "use",
        "ret": "txt",
        "paytoqs": "ignore",
        "url": "",
        "tls": "",
        "persist": false,
        "proxy": "",
        "insecureHTTPParser": false,
        "authType": "",
        "senderr": false,
        "headers": [],
        "x": 970,
        "y": 1140,
        "wires": [
            [
                "90a21e80e2863965"
            ]
        ]
    },
    {
        "id": "90a21e80e2863965",
        "type": "function",
        "z": "d415d47f74e99da2",
        "name": "Format Notification",
        "func": "msg.payload = \"Suricata successfully switched to: \" + msg.mode_text;\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1180,
        "y": 1140,
        "wires": [
            [
                "9fa3f1bee18469d1",
                "280e44875fd04e69"
            ]
        ]
    },
    {
        "id": "9fa3f1bee18469d1",
        "type": "debug",
        "z": "d415d47f74e99da2",
        "name": "Suricata Status",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 1370,
        "y": 1120,
        "wires": []
    },
    {
        "id": "280e44875fd04e69",
        "type": "ui-notification",
        "z": "d415d47f74e99da2",
        "ui": "8bcc34ca17387ebb",
        "position": "top right",
        "colorDefault": false,
        "color": "#000000",
        "displayTime": "",
        "showCountdown": false,
        "outputs": 1,
        "allowDismiss": true,
        "dismissText": "",
        "allowConfirm": false,
        "confirmText": "",
        "raw": false,
        "className": "",
        "name": "Notify UI",
        "x": 1350,
        "y": 1160,
        "wires": [
            []
        ],
        "icon": "mdi-shield-check"
    },
    {
        "id": "030bec7b7de86264",
        "type": "influxdb out",
        "z": "4acab47cf7e84e94",
        "influxdb": "17435d09976b7d21",
        "name": "Write to Influxdb",
        "measurement": "sensor_data",
        "precision": "",
        "retentionPolicy": "",
        "database": "database",
        "precisionV18FluxV20": "ms",
        "retentionPolicyV18Flux": "",
        "org": "IoT-InfraLab",
        "bucket": "sensor_data",
        "x": 580,
        "y": 100,
        "wires": []
    },
    {
        "id": "0a3d5de1d4fa2473",
        "type": "function",
        "z": "4acab47cf7e84e94",
        "name": "Format Data",
        "func": "let sensorData = msg.payload;\n\n// Create an array to hold all the InfluxDB data points\nlet influxPayload = [];\n\n// Loop through each sensor type (e.g., temperature, vibration) in the 'readings' object\nfor (const [sensorType, value] of Object.entries(sensorData.readings)) {\n    influxPayload.push([\n        // 1. The Fields (The actual numbers we want to graph)\n        {\n            value: value\n        },\n        // 2. The Tags (This tells InfluxDB everything it needs to know to separate the data)\n        {\n            sensor_id: sensorData.sensor_id,\n            sensor_type: sensorType,\n            profile: sensorData.profile\n        }\n    ]);\n}\n\n// Overwrite msg.payload with the formatted array InfluxDB expects\nmsg.payload = influxPayload;\n\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 370,
        "y": 100,
        "wires": [
            [
                "030bec7b7de86264"
            ]
        ]
    },
    {
        "id": "f2325d189ff9fa90",
        "type": "debug",
        "z": "4acab47cf7e84e94",
        "name": "debug 4",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 420,
        "y": 160,
        "wires": []
    },
    {
        "id": "6f3982de69635a89",
        "type": "mqtt in",
        "z": "4acab47cf7e84e94",
        "name": "Listen to All Sensors",
        "topic": "sensors/#",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "bda5655996317aa0",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 130,
        "y": 100,
        "wires": [
            [
                "f2325d189ff9fa90",
                "0a3d5de1d4fa2473"
            ]
        ]
    },
    {
        "id": "ui_btn_start_grafana",
        "type": "ui-button",
        "z": "4acab47cf7e84e94",
        "group": "f57ba6f4611ca27c",
        "name": "Power ON Grafana",
        "label": "▶️ Power ON Grafana",
        "order": 1,
        "width": 6,
        "height": "1",
        "emulateClick": false,
        "tooltip": "Boot up the Grafana Analytics Container",
        "color": "white",
        "bgcolor": "#10b981",
        "className": "font-weight-bold",
        "icon": "",
        "iconPosition": "left",
        "payload": "",
        "payloadType": "str",
        "topic": "",
        "topicType": "str",
        "buttonColor": "",
        "textColor": "",
        "iconColor": "",
        "enableClick": true,
        "enablePointerdown": false,
        "pointerdownPayload": "",
        "pointerdownPayloadType": "str",
        "enablePointerup": false,
        "pointerupPayload": "",
        "pointerupPayloadType": "str",
        "x": 130,
        "y": 240,
        "wires": [
            [
                "http_start_grafana"
            ]
        ]
    },
    {
        "id": "ui_btn_stop_grafana",
        "type": "ui-button",
        "z": "4acab47cf7e84e94",
        "group": "f57ba6f4611ca27c",
        "name": "Power OFF Grafana",
        "label": "⏹️ Power OFF Grafana",
        "order": 3,
        "width": 6,
        "height": "1",
        "emulateClick": false,
        "tooltip": "Kill the Grafana Analytics Container",
        "color": "white",
        "bgcolor": "#ef4444",
        "className": "font-weight-bold",
        "icon": "",
        "iconPosition": "left",
        "payload": "",
        "payloadType": "str",
        "topic": "",
        "topicType": "str",
        "buttonColor": "",
        "textColor": "",
        "iconColor": "",
        "enableClick": true,
        "enablePointerdown": false,
        "pointerdownPayload": "",
        "pointerdownPayloadType": "str",
        "enablePointerup": false,
        "pointerupPayload": "",
        "pointerupPayloadType": "str",
        "x": 130,
        "y": 300,
        "wires": [
            [
                "http_stop_grafana"
            ]
        ]
    },
    {
        "id": "http_start_grafana",
        "type": "http request",
        "z": "4acab47cf7e84e94",
        "name": "POST /start",
        "method": "POST",
        "ret": "txt",
        "paytoqs": "ignore",
        "url": "http://docker-proxy:2375/containers/grafana/start",
        "tls": "",
        "persist": false,
        "proxy": "",
        "authType": "",
        "senderr": false,
        "x": 370,
        "y": 240,
        "wires": [
            [
                "debug_docker_response"
            ]
        ]
    },
    {
        "id": "http_stop_grafana",
        "type": "http request",
        "z": "4acab47cf7e84e94",
        "name": "POST /stop",
        "method": "POST",
        "ret": "txt",
        "paytoqs": "ignore",
        "url": "http://docker-proxy:2375/containers/grafana/stop",
        "tls": "",
        "persist": false,
        "proxy": "",
        "authType": "",
        "senderr": false,
        "x": 370,
        "y": 300,
        "wires": [
            [
                "debug_docker_response"
            ]
        ]
    },
    {
        "id": "inject_auto_kill",
        "type": "inject",
        "z": "4acab47cf7e84e94",
        "name": "Auto-Kill on Boot",
        "props": [],
        "repeat": "",
        "crontab": "",
        "once": true,
        "onceDelay": "2",
        "topic": "",
        "x": 130,
        "y": 360,
        "wires": [
            [
                "http_stop_grafana"
            ]
        ]
    },
    {
        "id": "debug_docker_response",
        "type": "debug",
        "z": "4acab47cf7e84e94",
        "name": "Docker API Response",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 600,
        "y": 260,
        "wires": []
    },
    {
        "id": "e3ed85fc26827843",
        "type": "ui-template",
        "z": "4acab47cf7e84e94",
        "group": "f57ba6f4611ca27c",
        "page": "",
        "ui": "",
        "name": "Open Grafana UI",
        "order": 2,
        "width": 12,
        "height": 1,
        "format": "<template>\n    <v-btn \n        color=\"#f59e0b\" \n        variant=\"elevated\" \n        block\n        class=\"text-none font-weight-bold\"\n        style=\"color: white !important;\"\n        href=\"http://localhost:3000/\" \n        target=\"_blank\"\n        prepend-icon=\"mdi-chart-line\">\n        📊 Open Grafana Dashboard\n    </v-btn>\n</template>",
        "storeOutMessages": true,
        "passthru": true,
        "resendOnRefresh": true,
        "templateScope": "local",
        "className": "",
        "x": 130,
        "y": 420,
        "wires": [
            [
                "a534dbea4ddca405"
            ]
        ]
    },
    {
        "id": "a534dbea4ddca405",
        "type": "delay",
        "z": "4acab47cf7e84e94",
        "name": "",
        "pauseType": "delay",
        "timeout": "5",
        "timeoutUnits": "seconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "allowrate": false,
        "outputs": 1,
        "x": 320,
        "y": 420,
        "wires": [
            []
        ]
    }
]