zmisc/node.json
[
    {
        "id": "ui_page_management",
        "type": "ui-page",
        "name": "Node Management",
        "ui": "ui_base_attacker",
        "path": "/node-management",
        "icon": "server",
        "layout": "grid",
        "theme": "theme-dark",
        "order": 2
    },
    {
        "id": "ui_group_create",
        "type": "ui-group",
        "name": "Create Sensor Node",
        "page": "ui_page_management",
        "width": "6",
        "order": 1,
        "showTitle": true
    },
    {
        "id": "ui_group_deploy_log",
        "type": "ui-group",
        "name": "Deployment Log",
        "page": "ui_page_management",
        "width": "6",
        "order": 2,
        "showTitle": true
    },
    {
        "id": "node_input_id",
        "type": "ui-text-input",
        "name": "Node ID Input",
        "label": "Node ID (e.g. factory_pump_1)",
        "tooltip": "",
        "group": "ui_group_create",
        "order": 1,
        "width": 0,
        "height": 0,
        "passthru": true,
        "mode": "text",
        "delay": 300,
        "topic": "topic",
        "topicType": "msg",
        "className": "",
        "x": 160,
        "y": 100,
        "wires": [
            [
                "save_cfg_id"
            ]
        ]
    },
    {
        "id": "save_cfg_id",
        "type": "function",
        "name": "Save ID",
        "func": "flow.set('cfg_node_id', msg.payload);\nreturn msg;",
        "outputs": 1,
        "x": 360,
        "y": 100,
        "wires": [
            []
        ]
    },
    {
        "id": "node_input_sensors",
        "type": "ui-dropdown",
        "name": "Sensors Dropdown",
        "label": "Sensor Types",
        "tooltip": "",
        "place": "Select types...",
        "group": "ui_group_create",
        "order": 2,
        "width": 0,
        "height": 0,
        "passthru": true,
        "multiple": true,
        "options": [
            { "label": "Temperature", "value": "temperature", "type": "str" },
            { "label": "Vibration", "value": "vibration", "type": "str" },
            { "label": "Pressure", "value": "pressure", "type": "str" },
            { "label": "Humidity", "value": "humidity", "type": "str" },
            { "label": "Power Draw", "value": "power_draw", "type": "str" }
        ],
        "payload": "",
        "topic": "topic",
        "topicType": "msg",
        "className": "",
        "x": 170,
        "y": 160,
        "wires": [
            [
                "save_cfg_sensors"
            ]
        ]
    },
    {
        "id": "save_cfg_sensors",
        "type": "function",
        "name": "Save Sensors",
        "func": "flow.set('cfg_sensors', msg.payload);\nreturn msg;",
        "outputs": 1,
        "x": 370,
        "y": 160,
        "wires": [
            []
        ]
    },
    {
        "id": "node_input_profile",
        "type": "ui-dropdown",
        "name": "Profile Dropdown",
        "label": "Behavior Profile",
        "tooltip": "",
        "place": "Select profile...",
        "group": "ui_group_create",
        "order": 3,
        "width": 0,
        "height": 0,
        "passthru": true,
        "multiple": false,
        "options": [
            { "label": "Normal (Baseline)", "value": "normal", "type": "str" },
            { "label": "Failing (Gradual wear)", "value": "failing", "type": "str" },
            { "label": "Erratic (Spikes)", "value": "erratic", "type": "str" }
        ],
        "payload": "",
        "topic": "topic",
        "topicType": "msg",
        "className": "",
        "x": 170,
        "y": 220,
        "wires": [
            [
                "save_cfg_profile"
            ]
        ]
    },
    {
        "id": "save_cfg_profile",
        "type": "function",
        "name": "Save Profile",
        "func": "flow.set('cfg_profile', msg.payload);\nreturn msg;",
        "outputs": 1,
        "x": 370,
        "y": 220,
        "wires": [
            []
        ]
    },
    {
        "id": "node_input_interval",
        "type": "ui-text-input",
        "name": "Interval Input",
        "label": "Publish Interval (in seconds)",
        "tooltip": "How often the sensor sends data",
        "group": "ui_group_create",
        "order": 4,
        "width": 0,
        "height": 0,
        "passthru": true,
        "mode": "number",
        "delay": 300,
        "topic": "topic",
        "topicType": "msg",
        "className": "",
        "x": 160,
        "y": 280,
        "wires": [
            [
                "save_cfg_interval"
            ]
        ]
    },
    {
        "id": "save_cfg_interval",
        "type": "function",
        "name": "Save Interval",
        "func": "flow.set('cfg_interval', msg.payload);\nreturn msg;",
        "outputs": 1,
        "x": 370,
        "y": 280,
        "wires": [
            []
        ]
    },
    {
        "id": "deploy_btn",
        "type": "ui-button",
        "name": "Deploy Btn",
        "group": "ui_group_create",
        "order": 5,
        "width": 0,
        "height": 0,
        "passthru": false,
        "label": "Deploy Sensor Container",
        "tooltip": "",
        "color": "white",
        "bgcolor": "#10b981",
        "className": "",
        "icon": "cloud-upload",
        "payload": "",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "x": 150,
        "y": 380,
        "wires": [
            [
                "prep_deploy_payload"
            ]
        ]
    },
    {
        "id": "prep_deploy_payload",
        "type": "function",
        "name": "Build Create Request",
        "func": "let n_id = flow.get('cfg_node_id') || 'sensor_' + Math.floor(Math.random() * 1000);\nlet s_types = flow.get('cfg_sensors') || ['temperature'];\nif (Array.isArray(s_types)) s_types = s_types.join(',');\nlet prof = flow.get('cfg_profile') || 'normal';\nlet intrvl = flow.get('cfg_interval') || 5;\n\nmsg.url = 'http://docker-proxy:2375/containers/create?name=' + n_id;\nmsg.payload = {\n    \"Image\": \"iot-sensor\",\n    \"Env\": [\n        \"SENSOR_ID=\" + n_id,\n        \"SENSOR_TYPES=\" + s_types,\n        \"NODE_PROFILE=\" + prof,\n        \"INTERVAL=\" + intrvl,\n        \"MQTT_BROKER=mosquitto\"\n    ],\n    \"HostConfig\": {\n        \"NetworkMode\": \"iot_infralab_net\",\n        \"AutoRemove\": true\n    }\n};\nreturn msg;",
        "outputs": 1,
        "x": 380,
        "y": 380,
        "wires": [
            [
                "api_deploy_create",
                "log_attempt"
            ]
        ]
    },
    {
        "id": "log_attempt",
        "type": "function",
        "name": "Set Log",
        "func": "msg.payload = 'Contacting Docker API... Creating node.'; \nreturn msg;",
        "outputs": 1,
        "x": 360,
        "y": 440,
        "wires": [
            [
                "ui_deploy_log"
            ]
        ]
    },
    {
        "id": "api_deploy_create",
        "type": "http request",
        "name": "Docker POST Create",
        "method": "POST",
        "ret": "obj",
        "paytoqs": "ignore",
        "url": "",
        "tls": "",
        "persist": false,
        "proxy": "",
        "authType": "",
        "senderr": false,
        "x": 620,
        "y": 380,
        "wires": [
            [
                "prep_deploy_start"
            ]
        ]
    },
    {
        "id": "prep_deploy_start",
        "type": "function",
        "name": "Build Start Request",
        "func": "if(!msg.payload.Id){\n    msg.payload = 'Error: ' + JSON.stringify(msg.payload);\n    return msg;\n}\nlet logMsg = { payload: 'Container ID generated: ' + msg.payload.Id.substring(0,12) + '. Starting...' };\nmsg.url = 'http://docker-proxy:2375/containers/' + msg.payload.Id + '/start';\nmsg.payload = {};\nreturn [msg, logMsg];",
        "outputs": 2,
        "x": 830,
        "y": 380,
        "wires": [
            [
                "api_deploy_start"
            ],
            [
                "ui_deploy_log"
            ]
        ]
    },
    {
        "id": "api_deploy_start",
        "type": "http request",
        "name": "Docker POST Start",
        "method": "POST",
        "ret": "txt",
        "paytoqs": "ignore",
        "url": "",
        "tls": "",
        "persist": false,
        "proxy": "",
        "authType": "",
        "senderr": false,
        "x": 1050,
        "y": 380,
        "wires": [
            [
                "log_success"
            ]
        ]
    },
    {
        "id": "log_success",
        "type": "function",
        "name": "Deployment Success Log",
        "func": "if(msg.statusCode === 204){\n    msg.payload = \"✅ Node deployed and started successfully.\\nListening on MQTT network.\";\n} else {\n    msg.payload = \"❌ Error starting node.\\n\" + msg.payload;\n}\nreturn msg;",
        "outputs": 1,
        "x": 1270,
        "y": 380,
        "wires": [
            [
                "ui_deploy_log"
            ]
        ]
    },
    {
        "id": "ui_deploy_log",
        "type": "ui-template",
        "group": "ui_group_deploy_log",
        "name": "Terminal",
        "order": 1,
        "width": 0,
        "height": 0,
        "format": "<pre style=\"background:#1e1e1e;color:#0f0;padding:15px;height:350px;overflow-y:auto;font-family:monospace;margin:0;white-space:pre-wrap;\" v-text=\"msg.payload||'Awaiting deployment...' \"></pre>",
        "storeOutMessages": true,
        "fwdInMessages": true,
        "resendOnRefresh": true,
        "templateScope": "local",
        "className": "",
        "x": 1460,
        "y": 420,
        "wires": [
            []
        ]
    }
]