src/simulation/nodered/NodeRed_Data/.flows.json.backup
[
    {
        "id": "89c26b2630a7d108",
        "type": "tab",
        "label": "Node Management",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "53b83243ce3bfc91",
        "type": "tab",
        "label": "Security Ops",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "b78d14cc362e1196",
        "type": "tab",
        "label": "Cyber Attack Simulation",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "4acab47cf7e84e94",
        "type": "tab",
        "label": "Backend",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "8bcc34ca17387ebb",
        "type": "ui-base",
        "name": "My Dashboard",
        "path": "/dashboard",
        "includeClientData": true,
        "acceptsClientConfig": [
            "ui-control",
            "ui-notification"
        ],
        "headerContent": "page",
        "titleBarStyle": "default",
        "showReconnectNotification": true,
        "notificationDisplayTime": 5,
        "showDisconnectNotification": true,
        "allowInstall": true
    },
    {
        "id": "c382198a61249f47",
        "type": "ui-theme",
        "name": "Default Theme",
        "colors": {
            "surface": "#ffffff",
            "primary": "#0094CE",
            "bgPage": "#eeeeee",
            "groupBg": "#ffffff",
            "groupOutline": "#cccccc"
        }
    },
    {
        "id": "ui_page_management",
        "type": "ui-page",
        "name": "Node Management",
        "ui": "8bcc34ca17387ebb",
        "path": "/node-management",
        "icon": "server",
        "layout": "grid",
        "theme": "c382198a61249f47",
        "breakpoints": [
            {
                "name": "Default",
                "px": "0",
                "cols": "3"
            },
            {
                "name": "Tablet",
                "px": "576",
                "cols": "6"
            },
            {
                "name": "Small Desktop",
                "px": "768",
                "cols": "9"
            },
            {
                "name": "Desktop",
                "px": "1024",
                "cols": "12"
            }
        ],
        "order": 1,
        "className": "",
        "visible": true,
        "disabled": false
    },
    {
        "id": "ui_group_create",
        "type": "ui-group",
        "name": "Create Sensor Node",
        "page": "ui_page_management",
        "width": "6",
        "order": 2,
        "showTitle": true,
        "visible": true,
        "disabled": false
    },
    {
        "id": "ui_group_deploy_log",
        "type": "ui-group",
        "name": "Deployment Log",
        "page": "ui_page_management",
        "width": "6",
        "order": 3,
        "showTitle": true
    },
    {
        "id": "2a7528eec5f798b0",
        "type": "ui-group",
        "name": "Saved Configurations",
        "page": "ui_page_management",
        "width": "6",
        "order": 4,
        "showTitle": true
    },
    {
        "id": "ui_group_sensors_list",
        "type": "ui-group",
        "name": "Active Sensors",
        "page": "ui_page_management",
        "width": "6",
        "order": 6,
        "showTitle": true,
        "visible": true,
        "disabled": false
    },
    {
        "id": "ui_group_node_control",
        "type": "ui-group",
        "name": "Node Control",
        "page": "ui_page_management",
        "width": "6",
        "order": 5,
        "showTitle": true
    },
    {
        "id": "ui_group_sensor_monitor",
        "type": "ui-group",
        "name": "Live Sensor Feed",
        "page": "ui_page_management",
        "width": "6",
        "order": 7,
        "showTitle": true
    },
    {
        "id": "9956a4644cc28f0f",
        "type": "mqtt-broker",
        "z": "89c26b2630a7d108",
        "name": "Makmal MQTT Broker",
        "broker": "mosquitto",
        "port": "1883",
        "clientid": "nodered_monitor_client",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willPayload": "",
        "willMsg": {},
        "userProps": "",
        "sessionExpiry": ""
    },
    {
        "id": "ab2ed11df08aa8a7",
        "type": "ui-page",
        "name": "Cyber Attack Simulation",
        "ui": "8bcc34ca17387ebb",
        "path": "/killchain",
        "icon": "mdi-skull",
        "layout": "grid",
        "theme": "c382198a61249f47",
        "breakpoints": [
            {
                "name": "Default",
                "px": "0",
                "cols": "3"
            },
            {
                "name": "Tablet",
                "px": "576",
                "cols": "6"
            },
            {
                "name": "Small Desktop",
                "px": "768",
                "cols": "9"
            },
            {
                "name": "Desktop",
                "px": "1024",
                "cols": "12"
            }
        ],
        "order": 3,
        "className": "",
        "visible": "true",
        "disabled": false
    },
    {
        "id": "5a633147924a28d1",
        "type": "ui-page",
        "name": "Security Operations (SOC)",
        "ui": "8bcc34ca17387ebb",
        "path": "/soc-defenses",
        "icon": "shield",
        "layout": "grid",
        "theme": "c382198a61249f47",
        "breakpoints": [
            {
                "name": "Default",
                "px": "0",
                "cols": "3"
            },
            {
                "name": "Tablet",
                "px": "576",
                "cols": "6"
            },
            {
                "name": "Small Desktop",
                "px": "768",
                "cols": "9"
            },
            {
                "name": "Desktop",
                "px": "1024",
                "cols": "12"
            }
        ],
        "order": 2,
        "className": "",
        "visible": true,
        "disabled": false
    },
    {
        "id": "17435d09976b7d21",
        "type": "influxdb",
        "hostname": "127.0.0.1",
        "port": 8086,
        "protocol": "http",
        "database": "database",
        "name": "Local Influxdb",
        "usetls": false,
        "tls": "",
        "influxdbVersion": "2.0",
        "url": "http://influxdb:8086",
        "timeout": 10,
        "rejectUnauthorized": true
    },
    {
        "id": "bda5655996317aa0",
        "type": "mqtt-broker",
        "name": "Mosquitto Broker",
        "broker": "iot_broker",
        "port": 1883,
        "clientid": "",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": 4,
        "keepalive": 60,
        "cleansession": true,
        "autoUnsubscribe": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthRetain": "false",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closeRetain": "false",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willRetain": "false",
        "willPayload": "",
        "willMsg": {},
        "userProps": "",
        "sessionExpiry": ""
    },
    {
        "id": "a70e7057f4859509",
        "type": "ui-group",
        "name": "Attacker Console",
        "page": "ab2ed11df08aa8a7",
        "width": "8",
        "order": 2,
        "showTitle": true
    },
    {
        "id": "7d01403463477825",
        "type": "ui-group",
        "name": "Attack Phases",
        "page": "ab2ed11df08aa8a7",
        "width": "4",
        "height": "",
        "order": 1,
        "showTitle": true,
        "className": "",
        "visible": "true",
        "disabled": "false",
        "groupType": "default"
    },
    {
        "id": "426c92f3f4d5bb85",
        "type": "ui-group",
        "name": "Active Network Topology (iot_infralab_net)",
        "page": "5a633147924a28d1",
        "width": "12",
        "height": "8",
        "order": 1,
        "showTitle": true,
        "className": "",
        "visible": "true",
        "disabled": "false",
        "groupType": "default"
    },
    {
        "id": "8356bd12d00a4d35",
        "type": "ui-group",
        "name": "Security Controls",
        "page": "5a633147924a28d1",
        "width": "6",
        "height": "",
        "order": 3,
        "showTitle": true,
        "className": "",
        "visible": "true",
        "disabled": "false",
        "groupType": "default"
    },
    {
        "id": "1384ea55c0ba1905",
        "type": "ui-group",
        "name": "Logs & Rules",
        "page": "5a633147924a28d1",
        "width": "6",
        "height": "",
        "order": 5,
        "showTitle": true,
        "className": "",
        "visible": "true",
        "disabled": "false",
        "groupType": "default"
    },
    {
        "id": "cf452f90a4917a01",
        "type": "ui-group",
        "name": "Suricata IDPS Alerts",
        "page": "5a633147924a28d1",
        "width": 6,
        "height": 1,
        "order": 2,
        "showTitle": true,
        "className": "",
        "visible": false,
        "disabled": "false",
        "groupType": "default"
    },
    {
        "id": "8c0da6627d65d747",
        "type": "ui-page",
        "name": "Docker Management",
        "ui": "8bcc34ca17387ebb",
        "path": "/page4",
        "icon": "home",
        "layout": "grid",
        "theme": "c382198a61249f47",
        "breakpoints": [
            {
                "name": "Default",
                "px": "0",
                "cols": "3"
            },
            {
                "name": "Tablet",
                "px": "576",
                "cols": "6"
            },
            {
                "name": "Small Desktop",
                "px": "768",
                "cols": "9"
            },
            {
                "name": "Desktop",
                "px": "1024",
                "cols": "12"
            }
        ],
        "order": 5,
        "className": "",
        "visible": false,
        "disabled": "false"
    },
    {
        "id": "f57ba6f4611ca27c",
        "type": "ui-group",
        "name": "Grafana",
        "page": "8c0da6627d65d747",
        "width": 6,
        "height": 1,
        "order": 1,
        "showTitle": true,
        "className": "",
        "visible": "true",
        "disabled": "false",
        "groupType": "default"
    },
    {
        "id": "ff_mqtt_broker",
        "type": "mqtt-broker",
        "name": "Mosquitto",
        "broker": "mosquitto",
        "port": "1883",
        "clientid": "",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willPayload": "",
        "willMsg": {},
        "userProps": "",
        "sessionExpiry": ""
    },
    {
        "id": "01d38afb921c168e",
        "type": "ui-group",
        "name": "AI Port Vulnerability AI Assessment",
        "page": "5a633147924a28d1",
        "width": 6,
        "height": "",
        "order": 4,
        "showTitle": true,
        "className": "",
        "visible": "true",
        "disabled": "false",
        "groupType": "default"
    },
    {
        "id": "e900fa4283c2f1cd",
        "type": "ui-group",
        "name": "Manage Sensor Type",
        "page": "ui_page_management",
        "width": 6,
        "height": 1,
        "order": 1,
        "showTitle": true,
        "className": "",
        "visible": "true",
        "disabled": "false",
        "groupType": "default"
    },
    {
        "id": "ui_page_helps",
        "type": "ui-page",
        "name": "Helps",
        "ui": "8bcc34ca17387ebb",
        "path": "/helps",
        "icon": "help-circle",
        "layout": "grid",
        "theme": "c382198a61249f47",
        "breakpoints": [
            {
                "name": "Default",
                "px": "0",
                "cols": "3"
            },
            {
                "name": "Tablet",
                "px": "576",
                "cols": "6"
            },
            {
                "name": "Small Desktop",
                "px": "768",
                "cols": "9"
            },
            {
                "name": "Desktop",
                "px": "1024",
                "cols": "12"
            }
        ],
        "order": 4,
        "className": "",
        "visible": "true",
        "disabled": false
    },
    {
        "id": "ui_group_helps",
        "type": "ui-group",
        "name": "Tour Controls",
        "page": "ui_page_helps",
        "width": "4",
        "height": "7",
        "order": 1,
        "showTitle": true,
        "className": "",
        "visible": "true",
        "disabled": "false",
        "groupType": "default"
    },
    {
        "id": "847f8a118aa2bb22",
        "type": "ui-spacer",
        "group": "ui_group_create",
        "name": "spacer",
        "tooltip": "",
        "order": 8,
        "width": 1,
        "height": 1,
        "className": ""
    },
    {
        "id": "599a1bcf052a2d6b",
        "type": "ui-text-input",
        "z": "89c26b2630a7d108",
        "group": "ui_group_create",
        "name": "Node ID Input",
        "label": "Sensor ID",
        "order": 1,
        "width": 0,
        "height": 0,
        "topic": "topic",
        "topicType": "msg",
        "mode": "text",
        "tooltip": "",
        "delay": 300,
        "passthru": true,
        "sendOnDelay": true,
        "sendOnBlur": true,
        "sendOnEnter": true,
        "className": "",
        "clearable": false,
        "sendOnClear": false,
        "icon": "",
        "iconPosition": "left",
        "iconInnerPosition": "inside",
        "x": 140,
        "y": 180,
        "wires": [
            [
                "6ab43fba25710a01"
            ]
        ]
    },
    {
        "id": "6ab43fba25710a01",
        "type": "function",
        "z": "89c26b2630a7d108",
        "name": "Save ID",
        "func": "flow.set('cfg_node_id', msg.payload);\nreturn msg;",
        "outputs": 1,
        "x": 340,
        "y": 180,
        "wires": [
            []
        ]
    },
    {
        "id": "e34b9ac4c76bbf2b",
        "type": "ui-dropdown",
        "z": "89c26b2630a7d108",
        "group": "ui_group_create",
        "name": "Profile Dropdown",
        "label": "Behavior Profile",
        "tooltip": "",
        "order": 3,
        "width": 0,
        "height": 0,
        "passthru": true,
        "multiple": false,
        "options": [
            {
                "label": "Normal (Baseline)",
                "value": "normal",
                "type": "str"
            },
            {
                "label": "Failing (Gradual wear)",
                "value": "failing",
                "type": "str"
            },
            {
                "label": "Erratic (Spikes)",
                "value": "erratic",
                "type": "str"
            }
        ],
        "payload": "",
        "topic": "topic",
        "topicType": "msg",
        "className": "",
        "x": 150,
        "y": 240,
        "wires": [
            [
                "6fe6041556a8dbd6"
            ]
        ]
    },
    {
        "id": "6fe6041556a8dbd6",
        "type": "function",
        "z": "89c26b2630a7d108",
        "name": "Save Profile",
        "func": "flow.set('cfg_profile', msg.payload);\nreturn msg;",
        "outputs": 1,
        "x": 350,
        "y": 240,
        "wires": [
            []
        ]
    },
    {
        "id": "d6e9ef46aea2ca6f",
        "type": "ui-text-input",
        "z": "89c26b2630a7d108",
        "group": "ui_group_create",
        "name": "Interval Input",
        "label": "Publish Interval (s)",
        "order": 4,
        "width": 0,
        "height": 0,
        "topic": "topic",
        "topicType": "msg",
        "mode": "number",
        "tooltip": "How often the sensor sends data",
        "delay": 300,
        "passthru": true,
        "className": "",
        "x": 140,
        "y": 300,
        "wires": [
            [
                "bd0d828ca53469f2"
            ]
        ]
    },
    {
        "id": "bd0d828ca53469f2",
        "type": "function",
        "z": "89c26b2630a7d108",
        "name": "Save Interval",
        "func": "flow.set('cfg_interval', msg.payload);\nreturn msg;",
        "outputs": 1,
        "x": 350,
        "y": 300,
        "wires": [
            []
        ]
    },
    {
        "id": "42a84a202cae8c2b",
        "type": "ui-button",
        "z": "89c26b2630a7d108",
        "group": "ui_group_create",
        "name": "Save Config Btn",
        "label": "Deploy & Save",
        "order": 5,
        "width": 3,
        "height": 0,
        "tooltip": "Save config and deploy node",
        "color": "white",
        "bgcolor": "#3b82f6",
        "className": "",
        "icon": "save",
        "payload": "save",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "x": 120,
        "y": 360,
        "wires": [
            [
                "3322adde400100f4"
            ]
        ]
    },
    {
        "id": "fe3cc3695fdbea2d",
        "type": "ui-button",
        "z": "89c26b2630a7d108",
        "group": "ui_group_create",
        "name": "Run Only Btn",
        "label": "Deploy Only",
        "order": 6,
        "width": 3,
        "height": 0,
        "tooltip": "Deploy node without saving config",
        "color": "white",
        "bgcolor": "#10b981",
        "className": "",
        "icon": "play",
        "payload": "run",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "x": 120,
        "y": 400,
        "wires": [
            [
                "3322adde400100f4"
            ]
        ]
    },
    {
        "id": "3322adde400100f4",
        "type": "function",
        "z": "89c26b2630a7d108",
        "name": "Construct Config & Validate",
        "func": "let action = msg.payload || 'save';\nlet n_id = flow.get('cfg_node_id');\nlet s_types = flow.get('cfg_sensors');\nlet prof = flow.get('cfg_profile');\nlet intrvl = flow.get('cfg_interval');\n\nlet errors = [];\nif (!n_id || n_id.trim() === '') errors.push(\"⚠️ Validation Error: Node ID is missing!\");\nif (!s_types || s_types.length === 0) errors.push(\"⚠️ Validation Error: Sensor Types not selected!\");\nif (!prof || prof.trim() === '') errors.push(\"⚠️ Validation Error: Behavior Profile not selected!\");\n\nif (errors.length > 0) {\n    return [null, null, { payload: errors.join('\\n') }];\n}\n\nif (Array.isArray(s_types)) s_types = s_types.join(',');\nintrvl = intrvl || 5;\n\nmsg.new_config = {\n    id: n_id,\n    types: s_types,\n    profile: prof,\n    interval: intrvl,\n    saved_at: new Date().toISOString()\n};\n\nmsg.payload = msg.new_config;\n\nif (action === 'run') {\n    let logMsg = { payload: `🚀 Deploying Node [${n_id}] directly (Run Only)...` };\n    return [null, msg, logMsg];\n} else {\n    return [msg, null, null];\n}",
        "outputs": 3,
        "x": 360,
        "y": 360,
        "wires": [
            [
                "7cf3b44f7e607176"
            ],
            [
                "6f9de8b348f9d7b7"
            ],
            [
                "d7dfe950f06ff51b"
            ]
        ]
    },
    {
        "id": "7cf3b44f7e607176",
        "type": "file in",
        "z": "89c26b2630a7d108",
        "name": "Read Configs (Check)",
        "filename": "/data/saved_sensors.json",
        "filenameType": "str",
        "format": "utf8",
        "x": 600,
        "y": 340,
        "wires": [
            [
                "b5e202ac0989d43a"
            ]
        ]
    },
    {
        "id": "b5e202ac0989d43a",
        "type": "function",
        "z": "89c26b2630a7d108",
        "name": "Check ID & Append",
        "func": "let configs = [];\ntry {\n    if (msg.payload) {\n        configs = JSON.parse(msg.payload);\n    }\n} catch(e) { }\n\n// Check if ID exists!\nlet exists = configs.findIndex(c => c.id === msg.new_config.id);\nif (exists >= 0) {\n    // HALT operation on fail\n    return [null, null, { payload: `❌ FAILED: Saved Configuration '${msg.new_config.id}' already exists!` }];\n}\n\nconfigs.push(msg.new_config);\nmsg.payload = JSON.stringify(configs, null, 2);\n\n// Returns [save command, next docker deploy step, log/error msg]\nreturn [msg, { payload: msg.new_config }, { payload: `✅ Configuration [${msg.new_config.id}] saved... Dispatching deployment.`}];",
        "outputs": 3,
        "x": 810,
        "y": 340,
        "wires": [
            [
                "06b717e37ca66f07"
            ],
            [
                "6f9de8b348f9d7b7"
            ],
            [
                "d7dfe950f06ff51b",
                "ee847efb50e50319"
            ]
        ]
    },
    {
        "id": "06b717e37ca66f07",
        "type": "file",
        "z": "89c26b2630a7d108",
        "name": "Write Configs",
        "filename": "/data/saved_sensors.json",
        "appendNewline": true,
        "overwriteFile": "true",
        "x": 1000,
        "y": 300,
        "wires": [
            [
                "417256df7d7f068b"
            ]
        ]
    },
    {
        "id": "ee847efb50e50319",
        "type": "ui-notification",
        "z": "89c26b2630a7d108",
        "ui": "8bcc34ca17387ebb",
        "position": "top right",
        "color": "#facc15",
        "displayTime": "3",
        "showCountdown": true,
        "outputs": 1,
        "allowDismiss": true,
        "raw": false,
        "className": "",
        "name": "Saved Alert",
        "x": 1010,
        "y": 340,
        "wires": [
            []
        ]
    },
    {
        "id": "6f9de8b348f9d7b7",
        "type": "function",
        "z": "89c26b2630a7d108",
        "name": "Build Docker Cmd",
        "func": "let cfg = msg.payload;\n\nmsg.sensor_config = cfg;\nmsg.url = 'http://docker-proxy:2375/containers/create?name=' + cfg.id;\nmsg.payload = {\n    \"Image\": \"iot-sensor\",\n    \"Env\": [\n        \"SENSOR_ID=\" + cfg.id,\n        \"SENSOR_TYPES=\" + cfg.types,\n        \"NODE_PROFILE=\" + cfg.profile,\n        \"INTERVAL=\" + cfg.interval,\n        \"MQTT_BROKER=mosquitto\"\n    ],\n    \"HostConfig\": {\n        \"NetworkMode\": \"iot_infralab_net\",\n        \"AutoRemove\": true,\n        \"Binds\": [\"D:/IoT_InfraLab/config:/app/config\"]\n    }\n};\nreturn msg;",
        "outputs": 1,
        "x": 210,
        "y": 500,
        "wires": [
            [
                "4f43f5aa75c75965"
            ]
        ]
    },
    {
        "id": "4f43f5aa75c75965",
        "type": "http request",
        "z": "89c26b2630a7d108",
        "name": "Docker POST Create",
        "method": "POST",
        "ret": "obj",
        "paytoqs": "ignore",
        "url": "",
        "tls": "",
        "persist": false,
        "proxy": "",
        "authType": "",
        "senderr": false,
        "x": 440,
        "y": 500,
        "wires": [
            [
                "c8cf2fb099d7669a"
            ]
        ]
    },
    {
        "id": "c8cf2fb099d7669a",
        "type": "function",
        "z": "89c26b2630a7d108",
        "name": "Build Start Request",
        "func": "if(!msg.payload.Id){\n    msg.payload = '❌ Create Error: ' + JSON.stringify(msg.payload);\n    return [null, msg];\n}\nlet logMsg = { payload: '↳ Container ID: ' + msg.payload.Id.substring(0,12) + '. Starting...' };\nmsg.url = 'http://docker-proxy:2375/containers/' + msg.payload.Id + '/start';\nmsg.payload = {};\nreturn [msg, logMsg];",
        "outputs": 2,
        "x": 690,
        "y": 500,
        "wires": [
            [
                "0f509b5f053dc21f"
            ],
            [
                "d7dfe950f06ff51b"
            ]
        ]
    },
    {
        "id": "0f509b5f053dc21f",
        "type": "http request",
        "z": "89c26b2630a7d108",
        "name": "Docker POST Start",
        "method": "POST",
        "ret": "txt",
        "paytoqs": "ignore",
        "url": "",
        "tls": "",
        "persist": false,
        "proxy": "",
        "authType": "",
        "senderr": false,
        "x": 930,
        "y": 500,
        "wires": [
            [
                "e56cd726da7a8379"
            ]
        ]
    },
    {
        "id": "e56cd726da7a8379",
        "type": "function",
        "z": "89c26b2630a7d108",
        "name": "Deployment Success Log",
        "func": "if(msg.statusCode === 204){\n    msg.payload = \"✅ Node dynamically deployed on network.\\n\";\n} else {\n    msg.payload = \"❌ Error starting node.\\n\" + msg.payload;\n}\nreturn msg;",
        "outputs": 1,
        "x": 1170,
        "y": 500,
        "wires": [
            [
                "d7dfe950f06ff51b"
            ]
        ]
    },
    {
        "id": "d7dfe950f06ff51b",
        "type": "ui-template",
        "z": "89c26b2630a7d108",
        "group": "ui_group_deploy_log",
        "page": "",
        "ui": "",
        "name": "Terminal",
        "order": 1,
        "width": 0,
        "height": 0,
        "format": "<pre style=\"background:#1e1e1e;color:#0f0;padding:15px;height:600px;overflow-y:auto;font-family:monospace;margin:0;white-space:pre-wrap;\" v-text=\"msg.payload||'Awaiting deployment commands...' \"></pre>",
        "storeOutMessages": true,
        "passthru": true,
        "resendOnRefresh": true,
        "templateScope": "local",
        "className": "",
        "x": 1540,
        "y": 400,
        "wires": [
            []
        ]
    },
    {
        "id": "417256df7d7f068b",
        "type": "link out",
        "z": "89c26b2630a7d108",
        "name": "Refresh Configs Table",
        "links": [
            "bd398f54fc8cf524"
        ],
        "x": 1175,
        "y": 300,
        "wires": []
    },
    {
        "id": "bd398f54fc8cf524",
        "type": "link in",
        "z": "89c26b2630a7d108",
        "name": "In Refresh Configs",
        "links": [
            "417256df7d7f068b"
        ],
        "x": 130,
        "y": 1460,
        "wires": [
            [
                "9be6aa74c2b7aaea"
            ]
        ]
    },
    {
        "id": "4f6d7840e9bb4b7d",
        "type": "inject",
        "z": "89c26b2630a7d108",
        "name": "Load Configs GUI",
        "props": [],
        "repeat": "5",
        "crontab": "",
        "once": true,
        "onceDelay": 0.5,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 170,
        "y": 1420,
        "wires": [
            [
                "9be6aa74c2b7aaea"
            ]
        ]
    },
    {
        "id": "9be6aa74c2b7aaea",
        "type": "file in",
        "z": "89c26b2630a7d108",
        "name": "Read Configs Table",
        "filename": "/data/saved_sensors.json",
        "format": "utf8",
        "x": 370,
        "y": 1440,
        "wires": [
            [
                "ad1067e6df98b852"
            ]
        ]
    },
    {
        "id": "ad1067e6df98b852",
        "type": "function",
        "z": "89c26b2630a7d108",
        "name": "Format JSON->HTML/Dropdown",
        "func": "let configs = [];\ntry {\n    if (msg.payload) configs = JSON.parse(msg.payload);\n} catch(e) {}\n\nlet html = '<table style=\"width:100%; text-align:left; border-collapse:collapse;\"><tr style=\"border-bottom:1px solid #555;\"><th style=\"padding:4px;\">ID</th><th style=\"padding:4px;\">Profile</th><th style=\"padding:4px;\">Sensors</th></tr>';\nlet dd_opts = [];\n\nif(configs.length > 0){\n    configs.forEach(c => {\n        html += `<tr style=\"border-bottom:1px solid #333;\"><td style=\"padding:4px;color:#60a5fa;\">${c.id}</td><td style=\"padding:4px;\">${c.profile}</td><td style=\"padding:4px;font-size:0.85em;color:#aaa;\">${c.types}</td></tr>`;\n        dd_opts.push({label: c.id, value: c.id, type: 'str'});\n    });\n} else {\n    html += '<tr><td colspan=\"3\" style=\"text-align:center;padding:10px;\">No saved configs</td></tr>';\n    dd_opts = [{label: \"No Configs\", value: \"none\", type: \"str\"}];\n}\nhtml += '</table>';\n\n// Send visual HTML to table, drop options to dropdown\nreturn [{payload: html}, {options: dd_opts}];",
        "outputs": 2,
        "x": 610,
        "y": 1440,
        "wires": [
            [
                "a0e4ce86e61d7e70"
            ],
            [
                "24a2a0c33fcea25b"
            ]
        ]
    },
    {
        "id": "a0e4ce86e61d7e70",
        "type": "ui-template",
        "z": "89c26b2630a7d108",
        "group": "2a7528eec5f798b0",
        "page": "",
        "ui": "",
        "name": "Saved Configs Table",
        "order": 1,
        "width": 0,
        "height": 0,
        "format": "<div style=\"\n  padding:10px;\n  background:#1e1e1e;\n  color:#e0e0e0;\n  border-radius:6px;\n  font-family:monospace;\n  font-size:14px;\n\">\n  <pre style=\"margin:0;\" v-html=\"msg.payload\"></pre>\n</div>",
        "storeOutMessages": true,
        "passthru": true,
        "resendOnRefresh": true,
        "templateScope": "local",
        "className": "",
        "x": 1040,
        "y": 1420,
        "wires": [
            []
        ]
    },
    {
        "id": "6aaf537eb1e62b1c",
        "type": "ui-button",
        "z": "89c26b2630a7d108",
        "group": "2a7528eec5f798b0",
        "name": "Run All Saved Configs",
        "label": "Deploy All Saved",
        "order": 4,
        "width": 0,
        "height": 0,
        "tooltip": "Deploy every saved sensor configuration sequentially",
        "color": "white",
        "bgcolor": "#8b5cf6",
        "className": "",
        "icon": "play",
        "payload": "",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "enableClick": true,
        "x": 140,
        "y": 620,
        "wires": [
            [
                "dc546cadf21a2ad0"
            ]
        ]
    },
    {
        "id": "dc546cadf21a2ad0",
        "type": "file in",
        "z": "89c26b2630a7d108",
        "name": "Read Mass Configs",
        "filename": "/data/saved_sensors.json",
        "format": "utf8",
        "x": 350,
        "y": 620,
        "wires": [
            [
                "913093a5c65980f2",
                "f296764e6241a1e1"
            ]
        ]
    },
    {
        "id": "f296764e6241a1e1",
        "type": "function",
        "z": "89c26b2630a7d108",
        "name": "Log Start Mass",
        "func": "return { payload: \"🚀 INITIATING MASS DEPLOYMENT of all saved configurations...\"};",
        "outputs": 1,
        "x": 560,
        "y": 580,
        "wires": [
            [
                "075b1f8eff241944"
            ]
        ]
    },
    {
        "id": "913093a5c65980f2",
        "type": "function",
        "z": "89c26b2630a7d108",
        "name": "Spawn Splitters",
        "func": "let configs = [];\ntry { if (msg.payload) configs = JSON.parse(msg.payload); } catch(e) {}\nif(configs.length === 0) return null;\n\nlet delay = 0;\nlet msgs = [];\n// We create multiple msg objects that will fire sequentially into the docker node\nconfigs.forEach(cfg => {\n    msgs.push({ \n        payload: cfg,\n        delay: delay\n    }); \n    delay += 2000; // 2 seconds between creation\n});\nreturn [msgs];",
        "outputs": 1,
        "x": 560,
        "y": 620,
        "wires": [
            [
                "2fda066a281289cf"
            ]
        ]
    },
    {
        "id": "2fda066a281289cf",
        "type": "delay",
        "z": "89c26b2630a7d108",
        "name": "Stagger Spawn",
        "pauseType": "delayv",
        "timeout": "5",
        "timeoutUnits": "seconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "allowrate": false,
        "outputs": 1,
        "x": 740,
        "y": 620,
        "wires": [
            [
                "6f9de8b348f9d7b7"
            ]
        ]
    },
    {
        "id": "dd8c797c7b829981",
        "type": "ui-button",
        "z": "89c26b2630a7d108",
        "group": "2a7528eec5f798b0",
        "name": "Remove All Configs Btn",
        "label": "Clear All",
        "order": 5,
        "width": 0,
        "height": 0,
        "tooltip": "Wipes all saved configurations",
        "color": "white",
        "bgcolor": "#ef4444",
        "className": "",
        "icon": "trash",
        "payload": "",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "enableClick": true,
        "x": 120,
        "y": 760,
        "wires": [
            [
                "ce73baeaf4ca6229"
            ]
        ]
    },
    {
        "id": "ce73baeaf4ca6229",
        "type": "function",
        "z": "89c26b2630a7d108",
        "name": "Clear Array Log",
        "func": "msg.payload = \"[]\";\nreturn [msg, { payload: \"🗑️ All saved configurations have been purged.\" }];",
        "outputs": 2,
        "x": 340,
        "y": 760,
        "wires": [
            [
                "95e9b4b7a777c328"
            ],
            [
                "29a9ac0ae18a1f57"
            ]
        ]
    },
    {
        "id": "95e9b4b7a777c328",
        "type": "file",
        "z": "89c26b2630a7d108",
        "name": "Wipe JSON File",
        "filename": "/data/saved_sensors.json",
        "appendNewline": true,
        "overwriteFile": "true",
        "x": 540,
        "y": 760,
        "wires": [
            [
                "417256df7d7f068b"
            ]
        ]
    },
    {
        "id": "c342440c6131d7fa",
        "type": "inject",
        "z": "89c26b2630a7d108",
        "name": "Poll Live Sensors",
        "props": [],
        "repeat": "3",
        "crontab": "",
        "once": true,
        "onceDelay": 0.5,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 150,
        "y": 820,
        "wires": [
            [
                "7b7bdfeb8d8b2ca4"
            ]
        ]
    },
    {
        "id": "7b7bdfeb8d8b2ca4",
        "type": "http request",
        "z": "89c26b2630a7d108",
        "name": "Get Containers",
        "method": "GET",
        "ret": "obj",
        "paytoqs": "ignore",
        "url": "http://docker-proxy:2375/containers/json?all=true",
        "tls": "",
        "persist": false,
        "proxy": "",
        "authType": "",
        "senderr": false,
        "x": 360,
        "y": 820,
        "wires": [
            [
                "c3457f8cd7627499"
            ]
        ]
    },
    {
        "id": "c3457f8cd7627499",
        "type": "function",
        "z": "89c26b2630a7d108",
        "name": "Parse Live Nodes",
        "func": "let html = '<table style=\"width:100%; text-align:left; border-collapse:collapse;\"><tr style=\"border-bottom:1px solid #555;\"><th style=\"padding:4px;\">Node ID</th><th style=\"padding:4px;\">State</th><th style=\"padding:4px;\">Status</th></tr>';\nlet opts = [];\nif(msg.payload && Array.isArray(msg.payload)){\n    let sensors = msg.payload.filter(c => c.Image === 'iot-sensor' || c.Image === 'iot-sensor:latest');\n    sensors.forEach(c => {\n        let name = c.Names[0].replace('/','');\n        let status = c.Status;\n        let state = c.State;\n        let color = state === 'running' ? '#10b981' : (state === 'paused' ? '#f59e0b' : '#ef4444');\n        if(state === 'exited') color = '#ef4444';\n        html += `<tr style=\"border-bottom:1px solid #333;\"><td style=\"padding:4px;\">${name}</td><td style=\"padding:4px;color:${color}\">${state}</td><td style=\"padding:4px;font-size:0.85em;color:#aaa;\">${status}</td></tr>`;\n        opts.push({label: name, value: name, type: 'str'});\n    });\n    if(sensors.length === 0) html += '<tr><td colspan=\"3\" style=\"text-align:center;padding:10px;\">No sensors actively running</td></tr>';\n}\nhtml += '</table>';\nreturn [{payload: html}, {options: opts}];",
        "outputs": 2,
        "x": 590,
        "y": 820,
        "wires": [
            [
                "338566eff2953ae6"
            ],
            [
                "1453f448f840983f",
                "a9b32cc95c805692"
            ]
        ]
    },
    {
        "id": "338566eff2953ae6",
        "type": "ui-template",
        "z": "89c26b2630a7d108",
        "group": "ui_group_sensors_list",
        "page": "",
        "ui": "",
        "name": "Live Nodes Table",
        "order": 1,
        "width": 0,
        "height": 0,
        "format": "<div style=\"\n  padding:10px;\n  background:#1e1e1e;\n  color:#e0e0e0;\n  border-radius:6px;\n  font-family:monospace;\n  font-size:14px;\n\">\n  <pre style=\"margin:0;\" v-html=\"msg.payload\"></pre>\n</div>",
        "storeOutMessages": true,
        "passthru": true,
        "resendOnRefresh": true,
        "templateScope": "local",
        "className": "",
        "x": 970,
        "y": 820,
        "wires": [
            []
        ]
    },
    {
        "id": "3f1c960a7aec12de",
        "type": "ui-button",
        "z": "89c26b2630a7d108",
        "group": "ui_group_node_control",
        "name": "Apply Action",
        "label": "Apply Action",
        "order": 3,
        "width": 0,
        "height": 0,
        "tooltip": "",
        "color": "white",
        "bgcolor": "#3b82f6",
        "className": "",
        "icon": "play",
        "payload": "",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "x": 130,
        "y": 980,
        "wires": [
            [
                "dbe78305fe67ba53"
            ]
        ]
    },
    {
        "id": "dbe78305fe67ba53",
        "type": "function",
        "z": "89c26b2630a7d108",
        "name": "Prep Request",
        "func": "let target_node = flow.get('cfg_target_node');\nlet action = flow.get('cfg_target_action');\nif(!target_node || !action) { return [null, { payload: '⚠️ Select Node and Action' }]; }\n\nif(action === 'delete') {\n    msg.method = 'DELETE';\n    msg.url = 'http://docker-proxy:2375/containers/' + target_node + '?force=true';\n} else if (action === 'kill') {\n    msg.method = 'POST';\n    msg.url = 'http://docker-proxy:2375/containers/' + target_node + '/kill';\n} else {\n    msg.method = 'POST';\n    msg.url = 'http://docker-proxy:2375/containers/' + target_node + '/' + action;\n}\nlet log = { payload: `Executing ${action.toUpperCase()} on node: ${target_node}...` };\nreturn [msg, log];",
        "outputs": 2,
        "x": 340,
        "y": 980,
        "wires": [
            [
                "1ec3ece025157cb1"
            ],
            [
                "d602a204ee8de4e4"
            ]
        ]
    },
    {
        "id": "1ec3ece025157cb1",
        "type": "http request",
        "z": "89c26b2630a7d108",
        "name": "Exec Action",
        "method": "use",
        "ret": "txt",
        "paytoqs": "ignore",
        "url": "",
        "tls": "",
        "persist": false,
        "proxy": "",
        "authType": "",
        "senderr": false,
        "x": 530,
        "y": 980,
        "wires": [
            [
                "77aaeaabb1afdf1d"
            ]
        ]
    },
    {
        "id": "77aaeaabb1afdf1d",
        "type": "function",
        "z": "89c26b2630a7d108",
        "name": "Action Result",
        "func": "if(msg.statusCode >= 200 && msg.statusCode < 300) {\n    msg.payload = '✅ Action completed successfully.\\n';\n} else {\n    msg.payload = '❌ Action failed: ' + msg.payload + '\\n';\n}\nreturn msg;",
        "outputs": 1,
        "x": 710,
        "y": 980,
        "wires": [
            [
                "d602a204ee8de4e4"
            ]
        ]
    },
    {
        "id": "6d71d041030d570b",
        "type": "ui-button",
        "z": "89c26b2630a7d108",
        "group": "ui_group_node_control",
        "name": "Kill All",
        "label": "Kill All Containers",
        "order": 4,
        "width": 0,
        "height": 0,
        "tooltip": "Force remove all sensor containers",
        "color": "white",
        "bgcolor": "#ef4444",
        "className": "",
        "icon": "trash",
        "payload": "",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "x": 110,
        "y": 1060,
        "wires": [
            [
                "872150f19df02a57",
                "1983a759ee89a990"
            ]
        ]
    },
    {
        "id": "872150f19df02a57",
        "type": "function",
        "z": "89c26b2630a7d108",
        "name": "Log Kill All",
        "func": "return { payload: '🔥 ALL SENSORS EVACUATION TRIGGERED...' };",
        "outputs": 1,
        "x": 310,
        "y": 1020,
        "wires": [
            [
                "d602a204ee8de4e4"
            ]
        ]
    },
    {
        "id": "1983a759ee89a990",
        "type": "http request",
        "z": "89c26b2630a7d108",
        "name": "Get Sensors Wipe",
        "method": "GET",
        "ret": "obj",
        "paytoqs": "ignore",
        "url": "http://docker-proxy:2375/containers/json?all=true",
        "tls": "",
        "persist": false,
        "proxy": "",
        "authType": "",
        "senderr": false,
        "x": 310,
        "y": 1060,
        "wires": [
            [
                "dc550562aa9db095"
            ]
        ]
    },
    {
        "id": "dc550562aa9db095",
        "type": "function",
        "z": "89c26b2630a7d108",
        "name": "Extract IDs to Kill",
        "func": "let sensors = [];\nif(msg.payload && Array.isArray(msg.payload)){\n    sensors = msg.payload.filter(c => c.Image === 'iot-sensor' || c.Image === 'iot-sensor:latest');\n}\nif(sensors.length === 0) {\n    return [null, { payload: \"↳ No sensors bound...\" }];\n}\nlet msgs = sensors.map(s => {\n    return {\n        url: 'http://docker-proxy:2375/containers/' + s.Id + '?force=true',\n        method: 'DELETE'\n    };\n});\nreturn [msgs, { payload: `↳ Wiping out ${msgs.length} engines...` }];",
        "outputs": 2,
        "x": 530,
        "y": 1060,
        "wires": [
            [
                "2d193af0c49f92fb"
            ],
            [
                "d602a204ee8de4e4"
            ]
        ]
    },
    {
        "id": "2d193af0c49f92fb",
        "type": "http request",
        "z": "89c26b2630a7d108",
        "name": "HTTP Wipe",
        "method": "use",
        "ret": "txt",
        "paytoqs": "ignore",
        "url": "",
        "tls": "",
        "persist": false,
        "proxy": "",
        "authType": "",
        "senderr": false,
        "x": 730,
        "y": 1060,
        "wires": [
            []
        ]
    },
    {
        "id": "1453f448f840983f",
        "type": "ui-dropdown",
        "z": "89c26b2630a7d108",
        "group": "ui_group_sensor_monitor",
        "name": "Monitor Target",
        "label": "Select Sensor",
        "tooltip": "Choose which sensor to stream via MQTT",
        "order": 2,
        "width": 6,
        "height": 0,
        "passthru": true,
        "multiple": false,
        "chips": false,
        "clearable": false,
        "options": [],
        "payload": "",
        "topic": "topic",
        "topicType": "msg",
        "className": "",
        "typeIsComboBox": false,
        "msgTrigger": "onChange",
        "x": 840,
        "y": 940,
        "wires": [
            [
                "ed3a222922460339"
            ]
        ]
    },
    {
        "id": "ed3a222922460339",
        "type": "function",
        "z": "89c26b2630a7d108",
        "name": "Save Target MQTT",
        "func": "if(msg.payload) flow.set('cfg_monitor_node', msg.payload);\nreturn msg;",
        "outputs": 1,
        "x": 1050,
        "y": 940,
        "wires": [
            []
        ]
    },
    {
        "id": "d321091dc35acb56",
        "type": "ui-button",
        "z": "89c26b2630a7d108",
        "group": "ui_group_sensor_monitor",
        "name": "Start Monitor Btn",
        "label": "Start Monitor",
        "order": 3,
        "width": 3,
        "height": 0,
        "tooltip": "Listen to the broker for this sensor's data",
        "color": "white",
        "bgcolor": "#10b981",
        "className": "",
        "icon": "fa-play",
        "payload": "",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "x": 170,
        "y": 1140,
        "wires": [
            [
                "9870adbace0b3c6d"
            ]
        ]
    },
    {
        "id": "8ad272094d5c84de",
        "type": "ui-button",
        "z": "89c26b2630a7d108",
        "group": "ui_group_sensor_monitor",
        "name": "Stop Monitor Btn",
        "label": "Stop Monitor",
        "order": 4,
        "width": 3,
        "height": 0,
        "tooltip": "Halt the live telemetry feed",
        "color": "white",
        "bgcolor": "#ef4444",
        "className": "",
        "icon": "fa-stop",
        "payload": "",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "x": 150,
        "y": 1200,
        "wires": [
            [
                "4b6b8f7d5b48186e"
            ]
        ]
    },
    {
        "id": "9870adbace0b3c6d",
        "type": "function",
        "z": "89c26b2630a7d108",
        "name": "Activate Stream",
        "func": "let target = flow.get('cfg_monitor_node');\nif (!target) { msg.payload = \"⚠️ ERROR: No sensor selected.\"; return msg; }\n\nflow.set('sensor_monitor_active', true);\nflow.set('mqtt_terminal_logs', []);\nmsg.payload = `[SYSTEM] Connected to Mosquitto Broker.\\nListening for MQTT telemetry matching [${target}]...`;\nreturn msg;",
        "outputs": 1,
        "x": 380,
        "y": 1140,
        "wires": [
            [
                "b577b406436de1c3"
            ]
        ]
    },
    {
        "id": "4b6b8f7d5b48186e",
        "type": "function",
        "z": "89c26b2630a7d108",
        "name": "Deactivate Stream",
        "func": "let target = flow.get('cfg_monitor_node') || 'sensor';\nflow.set('sensor_monitor_active', false);\nmsg.payload = `[SYSTEM] Filter deactivated.\\nStopped listening for [${target}].`;\nreturn msg;",
        "outputs": 1,
        "x": 370,
        "y": 1200,
        "wires": [
            [
                "b577b406436de1c3"
            ]
        ]
    },
    {
        "id": "239b3cfa5ea187ca",
        "type": "mqtt in",
        "z": "89c26b2630a7d108",
        "name": "Subscribe: All Traffic (#)",
        "topic": "#",
        "qos": "0",
        "datatype": "auto-detect",
        "broker": "9956a4644cc28f0f",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 160,
        "y": 1260,
        "wires": [
            [
                "3743e72af9692d86"
            ]
        ]
    },
    {
        "id": "3743e72af9692d86",
        "type": "function",
        "z": "89c26b2630a7d108",
        "name": "Smart Filter",
        "func": "let active = flow.get('sensor_monitor_active');\nlet target = flow.get('cfg_monitor_node');\nif (!active || !target) return null;\n\nlet topic = msg.topic;\nlet payloadStr = typeof msg.payload === 'object' ? JSON.stringify(msg.payload) : String(msg.payload);\n\nif (topic.includes(target) || payloadStr.includes(target)) {\n    let time = new Date().toLocaleTimeString();\n    if (typeof msg.payload === 'object') {\n        payloadStr = JSON.stringify(msg.payload, null, 2);\n    }\n    let logEntry = `[${time}] Topic: ${topic}\\n${payloadStr}`;\n    let logs = flow.get('mqtt_terminal_logs') || [];\n    logs.push(logEntry);\n    if (logs.length > 5) logs.shift();\n    flow.set('mqtt_terminal_logs', logs);\n    msg.payload = logs.join('\\n----------------------------------\\n');\n    return msg;\n}\nreturn null;",
        "outputs": 1,
        "x": 390,
        "y": 1260,
        "wires": [
            [
                "b577b406436de1c3"
            ]
        ]
    },
    {
        "id": "b577b406436de1c3",
        "type": "ui-template",
        "z": "89c26b2630a7d108",
        "group": "ui_group_sensor_monitor",
        "page": "",
        "ui": "",
        "name": "MQTT Data Terminal",
        "order": 1,
        "width": 0,
        "height": 0,
        "format": "<div style=\"background:#1e1e1e; border: 1px solid #333; border-radius:8px; box-shadow: 0 4px 15px rgba(0,0,0,0.5); margin-top: 5px;\">\n    <div style=\"background:#2d2d2d; padding:8px 15px; border-bottom:1px solid #444; border-radius: 8px 8px 0 0; color:#888; font-family:sans-serif; font-size:12px; display:flex; align-items:center;\">\n       <div style=\"display:flex; gap:8px;\">\n           <div style=\"width:10px;height:10px;border-radius:50%;background:#ff5f56;\"></div>\n           <div style=\"width:10px;height:10px;border-radius:50%;background:#ffbd2e;\"></div>\n           <div style=\"width:10px;height:10px;border-radius:50%;background:#27c93f;\"></div>\n       </div>\n       <span style=\"margin-left:15px; color:#a3a3a3; font-weight:500;\"><i class=\"fa fa-wifi\"></i> mosquitto-broker-stream</span>\n    </div>\n    <pre style=\"color:#22d3ee; padding:15px; height:240px; overflow-y:auto; font-family:'Fira Code', 'Courier New', monospace; font-size:13px; margin:0; white-space:pre-wrap; line-height: 1.4;\" v-text=\"msg.payload||'Broker connection pending...' \"></pre>\n</div>",
        "storeOutMessages": true,
        "passthru": true,
        "resendOnRefresh": true,
        "templateScope": "local",
        "className": "",
        "x": 640,
        "y": 1180,
        "wires": [
            []
        ]
    },
    {
        "id": "04553eb8843ef23e",
        "type": "function",
        "z": "89c26b2630a7d108",
        "name": "Verify Selection",
        "func": "let target_id = flow.get('cfg_target_del_id');\nif(!target_id || target_id === 'none') {\n    return [null, { payload: \"⚠️ Error: No configuration selected to delete!\" }];\n}\nreturn [msg, null];",
        "outputs": 2,
        "x": 130,
        "y": 1360,
        "wires": [
            [
                "fb4f5754ecb07475"
            ],
            []
        ]
    },
    {
        "id": "fb4f5754ecb07475",
        "type": "file in",
        "z": "89c26b2630a7d108",
        "name": "Read Data Delete",
        "filename": "/data/saved_sensors.json",
        "format": "utf8",
        "x": 310,
        "y": 1360,
        "wires": [
            [
                "0b159f4717a62910"
            ]
        ]
    },
    {
        "id": "0b159f4717a62910",
        "type": "function",
        "z": "89c26b2630a7d108",
        "name": "Filter Delete",
        "func": "let target_id = flow.get('cfg_target_del_id');\nlet configs = [];\n\ntry { \n    if(msg.payload) configs = JSON.parse(msg.payload); \n} catch(e) { }\n\nlet filtered = configs.filter(c => c.id !== target_id);\nmsg.payload = JSON.stringify(filtered, null, 2);\n\n// Clear the current selection so we don't accidentally double delete\nflow.set('cfg_target_del_id', null);\n\nreturn [msg, { payload: `🗑️ Deleted saved configuration: [${target_id}]` }];",
        "outputs": 2,
        "x": 490,
        "y": 1360,
        "wires": [
            [
                "bf96eb182ecd0db8"
            ],
            []
        ]
    },
    {
        "id": "bf96eb182ecd0db8",
        "type": "file",
        "z": "89c26b2630a7d108",
        "name": "Write Delete",
        "filename": "/data/saved_sensors.json",
        "appendNewline": true,
        "overwriteFile": "true",
        "x": 670,
        "y": 1360,
        "wires": [
            [
                "e4ea63be11a5e781"
            ]
        ]
    },
    {
        "id": "e4ea63be11a5e781",
        "type": "delay",
        "z": "89c26b2630a7d108",
        "name": "Wait for Write",
        "pauseType": "delay",
        "timeout": "500",
        "timeoutUnits": "milliseconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "allowrate": false,
        "outputs": 1,
        "x": 840,
        "y": 1360,
        "wires": [
            []
        ]
    },
    {
        "id": "a9b32cc95c805692",
        "type": "ui-dropdown",
        "z": "89c26b2630a7d108",
        "group": "ui_group_node_control",
        "name": "Target Node Dropdown",
        "label": "Target Container",
        "tooltip": "",
        "order": 1,
        "width": 0,
        "height": 0,
        "passthru": true,
        "multiple": false,
        "options": [],
        "payload": "",
        "topic": "topic",
        "topicType": "msg",
        "className": "",
        "typeIsComboBox": true,
        "msgTrigger": "onChange",
        "x": 880,
        "y": 880,
        "wires": [
            [
                "417f7fb89d3984a5"
            ]
        ]
    },
    {
        "id": "417f7fb89d3984a5",
        "type": "function",
        "z": "89c26b2630a7d108",
        "name": "Save Action Target",
        "func": "if(msg.payload && typeof msg.payload === 'string') {\n    flow.set('cfg_target_node', msg.payload);\n} else if (msg.payload && msg.payload.value) {\n    flow.set('cfg_target_node', msg.payload.value);\n}\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1110,
        "y": 880,
        "wires": [
            []
        ]
    },
    {
        "id": "a56f2bec522482e9",
        "type": "ui-dropdown",
        "z": "89c26b2630a7d108",
        "group": "ui_group_node_control",
        "name": "Select Action",
        "label": "Container Action",
        "tooltip": "",
        "order": 2,
        "width": 0,
        "height": 0,
        "passthru": true,
        "multiple": false,
        "chips": false,
        "clearable": false,
        "options": [
            {
                "label": "Start Container",
                "value": "start",
                "type": "str"
            },
            {
                "label": "Stop Container",
                "value": "stop",
                "type": "str"
            },
            {
                "label": "Crash Container (Kill)",
                "value": "kill",
                "type": "str"
            },
            {
                "label": "Pause Container",
                "value": "pause",
                "type": "str"
            },
            {
                "label": "Unpause Container",
                "value": "unpause",
                "type": "str"
            },
            {
                "label": "Restart Container",
                "value": "restart",
                "type": "str"
            },
            {
                "label": "Delete (Force)",
                "value": "delete",
                "type": "str"
            }
        ],
        "payload": "",
        "topic": "topic",
        "topicType": "msg",
        "className": "",
        "typeIsComboBox": true,
        "msgTrigger": "onChange",
        "x": 130,
        "y": 920,
        "wires": [
            [
                "218fef18d5810555"
            ]
        ]
    },
    {
        "id": "218fef18d5810555",
        "type": "function",
        "z": "89c26b2630a7d108",
        "name": "Save Action",
        "func": "if(msg.payload && typeof msg.payload === 'string') {\n    flow.set('cfg_target_action', msg.payload);\n} else if (msg.payload && msg.payload.value) {\n    flow.set('cfg_target_action', msg.payload.value);\n}\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 330,
        "y": 920,
        "wires": [
            []
        ]
    },
    {
        "id": "d602a204ee8de4e4",
        "type": "link out",
        "z": "89c26b2630a7d108",
        "name": "link out 1",
        "mode": "link",
        "links": [
            "54eab7d35e4e552c"
        ],
        "x": 1055,
        "y": 1040,
        "wires": []
    },
    {
        "id": "54eab7d35e4e552c",
        "type": "link in",
        "z": "89c26b2630a7d108",
        "name": "link in 1",
        "links": [
            "d602a204ee8de4e4"
        ],
        "x": 1375,
        "y": 340,
        "wires": [
            [
                "d7dfe950f06ff51b"
            ]
        ]
    },
    {
        "id": "075b1f8eff241944",
        "type": "link out",
        "z": "89c26b2630a7d108",
        "name": "link out 2",
        "mode": "link",
        "links": [
            "0cda87dc25d903f4"
        ],
        "x": 885,
        "y": 560,
        "wires": []
    },
    {
        "id": "0cda87dc25d903f4",
        "type": "link in",
        "z": "89c26b2630a7d108",
        "name": "link in 2",
        "links": [
            "075b1f8eff241944"
        ],
        "x": 1375,
        "y": 500,
        "wires": [
            [
                "d7dfe950f06ff51b"
            ]
        ]
    },
    {
        "id": "24a2a0c33fcea25b",
        "type": "ui-dropdown",
        "z": "89c26b2630a7d108",
        "group": "2a7528eec5f798b0",
        "name": "Delete Multi Dropdown",
        "label": "Select to Delete",
        "tooltip": "Select one or more",
        "order": 2,
        "width": 0,
        "height": 0,
        "passthru": true,
        "multiple": true,
        "chips": true,
        "clearable": true,
        "options": [],
        "payload": "",
        "topic": "topic",
        "topicType": "msg",
        "className": "",
        "typeIsComboBox": false,
        "msgTrigger": "onChange",
        "x": 1040,
        "y": 1520,
        "wires": [
            [
                "9f4851f5ca0bc997"
            ]
        ]
    },
    {
        "id": "9f4851f5ca0bc997",
        "type": "function",
        "z": "89c26b2630a7d108",
        "name": "Save Target Array",
        "func": "if (msg.payload) {\n    // Dropdown with 'multiple' enabled outputs an array\n    flow.set('cfg_target_del_ids', msg.payload);\n}\nreturn msg;",
        "outputs": 1,
        "x": 1250,
        "y": 1520,
        "wires": [
            []
        ]
    },
    {
        "id": "59d08ebc14ded4c9",
        "type": "ui-button",
        "z": "89c26b2630a7d108",
        "group": "2a7528eec5f798b0",
        "name": "Del Config Btn",
        "label": "Delete Selected",
        "order": 3,
        "width": 0,
        "height": 0,
        "tooltip": "",
        "color": "white",
        "bgcolor": "#ef4444",
        "className": "",
        "icon": "trash",
        "payload": "",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "enableClick": true,
        "x": 100,
        "y": 700,
        "wires": [
            [
                "a7e3e9c4b23ecee5"
            ]
        ]
    },
    {
        "id": "a7e3e9c4b23ecee5",
        "type": "file in",
        "z": "89c26b2630a7d108",
        "name": "Read Data Delete",
        "filename": "/data/saved_sensors.json",
        "format": "utf8",
        "x": 310,
        "y": 700,
        "wires": [
            [
                "e56869580375d8ba"
            ]
        ]
    },
    {
        "id": "e56869580375d8ba",
        "type": "function",
        "z": "89c26b2630a7d108",
        "name": "Filter Multiple Deletes",
        "func": "let target_ids = flow.get('cfg_target_del_ids');\n\n// Check if array exists and has elements\nif(!target_ids || !Array.isArray(target_ids) || target_ids.length === 0) {\n    return [null, { payload: \"⚠️ Error: No configurations selected to delete!\" }];\n}\n\nlet configs = [];\ntry { \n    if(msg.payload) configs = JSON.parse(msg.payload); \n} catch(e) { }\n\n// Filter out ANY config whose ID exists in the target_ids array\nlet filtered = configs.filter(c => !target_ids.includes(c.id));\nmsg.payload = JSON.stringify(filtered, null, 2);\n\n// Clear the selection after processing\nflow.set('cfg_target_del_ids', []);\n\nreturn [msg, { payload: `🗑️ Deleted configs: [${target_ids.join(', ')}]` }];",
        "outputs": 2,
        "x": 520,
        "y": 700,
        "wires": [
            [
                "14587dad53056061"
            ],
            []
        ]
    },
    {
        "id": "14587dad53056061",
        "type": "file",
        "z": "89c26b2630a7d108",
        "name": "Write Delete",
        "filename": "/data/saved_sensors.json",
        "appendNewline": true,
        "overwriteFile": "true",
        "x": 730,
        "y": 700,
        "wires": [
            [
                "417256df7d7f068b",
                "c6cc1107f5d31b1d"
            ]
        ]
    },
    {
        "id": "1752f782b21f61be",
        "type": "link in",
        "z": "89c26b2630a7d108",
        "name": "link in 3",
        "links": [
            "c6cc1107f5d31b1d"
        ],
        "x": 795,
        "y": 1400,
        "wires": [
            [
                "a0e4ce86e61d7e70"
            ]
        ]
    },
    {
        "id": "c6cc1107f5d31b1d",
        "type": "link out",
        "z": "89c26b2630a7d108",
        "name": "link out 3",
        "mode": "link",
        "links": [
            "1752f782b21f61be"
        ],
        "x": 955,
        "y": 700,
        "wires": []
    },
    {
        "id": "c7696d58faac7022",
        "type": "link in",
        "z": "89c26b2630a7d108",
        "name": "link in 4",
        "links": [
            "29a9ac0ae18a1f57"
        ],
        "x": 1375,
        "y": 560,
        "wires": [
            [
                "d7dfe950f06ff51b"
            ]
        ]
    },
    {
        "id": "29a9ac0ae18a1f57",
        "type": "link out",
        "z": "89c26b2630a7d108",
        "name": "link out 4",
        "mode": "link",
        "links": [
            "c7696d58faac7022"
        ],
        "x": 745,
        "y": 760,
        "wires": []
    },
    {
        "id": "513c1950ef69e389",
        "type": "inject",
        "z": "89c26b2630a7d108",
        "name": "Load on Boot",
        "props": [],
        "repeat": "",
        "crontab": "",
        "once": true,
        "onceDelay": 0.5,
        "x": 1510,
        "y": 120,
        "wires": [
            [
                "b001f5a2ea9edced"
            ]
        ]
    },
    {
        "id": "b001f5a2ea9edced",
        "type": "file in",
        "z": "89c26b2630a7d108",
        "name": "Read sensor_types.json",
        "filename": "/data/sensor_types.json",
        "format": "utf8",
        "chunk": false,
        "x": 1750,
        "y": 120,
        "wires": [
            [
                "41a12cd7d803d01c"
            ]
        ]
    },
    {
        "id": "41a12cd7d803d01c",
        "type": "function",
        "z": "89c26b2630a7d108",
        "name": "Update All Dropdowns",
        "func": "let data = {};\ntry {\n    data = JSON.parse(msg.payload);\n} catch(e) { return null; }\n\nglobal.set('sensorTypesDB', data);\n\nlet opts = Object.keys(data).map(key => ({\n    label: key.charAt(0).toUpperCase() + key.slice(1).replace(/_/g, ' '),\n    value: key\n}));\n\nmsg.options = opts;\nmsg.payload = \"\";\nreturn msg;",
        "outputs": 1,
        "x": 2030,
        "y": 120,
        "wires": [
            [
                "84229573cbb609c6",
                "554a1a12eae4d72b"
            ]
        ]
    },
    {
        "id": "554a1a12eae4d72b",
        "type": "ui-dropdown",
        "z": "89c26b2630a7d108",
        "group": "e900fa4283c2f1cd",
        "name": "Select Sensor Type",
        "label": "Sensor Type",
        "order": 1,
        "width": 0,
        "height": 0,
        "passthru": true,
        "options": [],
        "x": 2300,
        "y": 80,
        "wires": [
            [
                "856603363f3089d0"
            ]
        ]
    },
    {
        "id": "84229573cbb609c6",
        "type": "ui-dropdown",
        "z": "89c26b2630a7d108",
        "group": "ui_group_create",
        "name": "Sensors Dropdown",
        "label": "Sensor Types",
        "order": 2,
        "width": 0,
        "height": 0,
        "passthru": true,
        "multiple": true,
        "options": [],
        "className": "",
        "x": 2300,
        "y": 160,
        "wires": [
            [
                "96f5a377bc015803"
            ]
        ]
    },
    {
        "id": "856603363f3089d0",
        "type": "function",
        "z": "89c26b2630a7d108",
        "name": "Fill Form Info",
        "func": "let typeName = msg.payload;\nglobal.set('lastSelectedId', typeName);\nlet db = global.get('sensorTypesDB') || {};\n\nif (typeName && db[typeName]) {\n    msg.payload = {\n        typeName: typeName,\n        min: db[typeName].range[0],\n        max: db[typeName].range[1]\n    };\n    return msg;\n} return null;",
        "outputs": 1,
        "x": 2550,
        "y": 80,
        "wires": [
            [
                "b2eb713f526ac7dd"
            ]
        ]
    },
    {
        "id": "d6643cfede4e4159",
        "type": "ui-button",
        "z": "89c26b2630a7d108",
        "group": "e900fa4283c2f1cd",
        "name": "Delete Button",
        "label": "Delete Type",
        "order": 2,
        "width": 0,
        "height": 0,
        "emulateClick": false,
        "color": "#ffffff",
        "className": "",
        "icon": "mdi-delete",
        "iconPosition": "left",
        "payload": "delete",
        "payloadType": "str",
        "topic": "delete",
        "topicType": "str",
        "buttonColor": "",
        "textColor": "",
        "iconColor": "",
        "enableClick": true,
        "enablePointerdown": false,
        "pointerdownPayload": "",
        "pointerdownPayloadType": "str",
        "enablePointerup": false,
        "pointerupPayload": "",
        "pointerupPayloadType": "str",
        "x": 2760,
        "y": 140,
        "wires": [
            [
                "23b437e91f3ea332"
            ]
        ]
    },
    {
        "id": "23b437e91f3ea332",
        "type": "function",
        "z": "89c26b2630a7d108",
        "name": "CRUD Logic Engine",
        "func": "let db = global.get('sensorTypesDB') || {};\n\nif (msg.topic === \"save\") {\n    let d = msg.payload;\n    let safeName = d.typeName.toLowerCase().replace(/ /g, \"_\");\n    \n    db[safeName] = {\n        range: [parseFloat(d.min), parseFloat(d.max)]\n    };\n}\nelse if (msg.topic === \"delete\") {\n    let selectedId = global.get('lastSelectedId');\n    if(selectedId && db[selectedId]) {\n        delete db[selectedId];\n    }\n}\n\nmsg.payload = JSON.stringify(db, null, 2);\nmsg.topic = \"cmd/system/reload\";\nreturn msg;",
        "outputs": 1,
        "x": 3020,
        "y": 100,
        "wires": [
            [
                "097b94979be78346",
                "72eb64a18962cff1",
                "e720ca2ebb3ab43c"
            ]
        ]
    },
    {
        "id": "097b94979be78346",
        "type": "file",
        "z": "89c26b2630a7d108",
        "name": "Write sensor_types.json",
        "filename": "/data/sensor_types.json",
        "filenameType": "str",
        "appendNewline": false,
        "createDir": true,
        "overwriteFile": "true",
        "encoding": "none",
        "x": 3320,
        "y": 60,
        "wires": [
            []
        ]
    },
    {
        "id": "72eb64a18962cff1",
        "type": "mqtt out",
        "z": "89c26b2630a7d108",
        "name": "MQTT: cmd/system/reload",
        "topic": "cmd/system/reload",
        "qos": "1",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "ff_mqtt_broker",
        "x": 3320,
        "y": 140,
        "wires": []
    },
    {
        "id": "96f5a377bc015803",
        "type": "function",
        "z": "89c26b2630a7d108",
        "name": "Save Sensors",
        "func": "flow.set('cfg_sensors', msg.payload);\nreturn msg;",
        "outputs": 1,
        "x": 2520,
        "y": 160,
        "wires": [
            []
        ]
    },
    {
        "id": "e720ca2ebb3ab43c",
        "type": "delay",
        "z": "89c26b2630a7d108",
        "name": "",
        "pauseType": "delay",
        "timeout": "500",
        "timeoutUnits": "milliseconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "allowrate": false,
        "outputs": 1,
        "x": 3290,
        "y": 280,
        "wires": [
            [
                "b001f5a2ea9edced"
            ]
        ]
    },
    {
        "id": "b2eb713f526ac7dd",
        "type": "ui-form",
        "z": "89c26b2630a7d108",
        "name": "Sensor Editor",
        "group": "e900fa4283c2f1cd",
        "label": "",
        "order": 3,
        "width": 0,
        "height": 0,
        "options": [
            {
                "label": "Sensor Type Name (ID)",
                "key": "typeName",
                "type": "text",
                "required": true,
                "rows": null
            },
            {
                "label": "Minimum Value",
                "key": "min",
                "type": "number",
                "required": true,
                "rows": null
            },
            {
                "label": "Maximum Value",
                "key": "max",
                "type": "number",
                "required": true,
                "rows": null
            }
        ],
        "formValue": {
            "typeName": "",
            "min": "",
            "max": ""
        },
        "submit": "Save / Create",
        "cancel": "Clear",
        "resetOnSubmit": false,
        "topic": "save",
        "topicType": "str",
        "splitLayout": false,
        "className": "",
        "dropdownOptions": [],
        "x": 2780,
        "y": 80,
        "wires": [
            [
                "23b437e91f3ea332"
            ]
        ]
    },
    {
        "id": "tour_node_mgmt",
        "type": "ui-template",
        "z": "89c26b2630a7d108",
        "group": "ui_group_create",
        "name": "Tour: Node Management",
        "order": 7,
        "width": 0,
        "height": 0,
        "format": "<link rel=\"stylesheet\" href=\"https://cdn.jsdelivr.net/npm/driver.js@1.3.1/dist/driver.css\"/>\n<img src=\"x\" style=\"display:none\" onerror=\"\n(function(){\n  if(window.__tnm) return; window.__tnm=1;\n  if(localStorage.getItem('tour_nm_done')) return;\n  var s=document.createElement('script');\n  s.src='https://cdn.jsdelivr.net/npm/driver.js@1.3.1/dist/driver.js.iife.js';\n  s.onload=function(){\n    setTimeout(function(){\n      var d=window.driver.js.driver({\n        showProgress:true,\n        animate:true,\n        opacity:0.75,\n        allowClose:true,\n        stagePadding:10,\n        popoverOffset:10,\n        steps:[\n{element:'#nrdb-ui-group-e900fa4283c2f1cd',popover:{title:'Manage Sensor Type',description:'Define custom sensor types with name, value range, and measurement units.',side:'top',align:'start'}},\n{element:'#nrdb-ui-widget-554a1a12eae4d72b',popover:{title:'1-1. Select Type',description:'Load an existing sensor type to edit, or create a new one from scratch.',side:'bottom',align:'start'}},\n{element:'#nrdb-ui-widget-b2eb713f526ac7dd',popover:{title:'1-2. Editor Form',description:'Set sensor type name, min value, and max value. Saved types appear in the Sensor Types dropdown.',side:'bottom',align:'start'}},\n{element:'#nrdb-ui-widget-d6643cfede4e4159',popover:{title:'1-3. Delete Type',description:'Remove a custom sensor type. Built-in types cannot be deleted.',side:'bottom',align:'start'}},\n{element:'#nrdb-ui-group-ui_group_create',popover:{title:'Create Sensor Node',description:'Deploy new IoT sensor containers. This form configures and launches a sensor.',side:'top',align:'start'}},\n{element:'#nrdb-ui-widget-599a1bcf052a2d6b',popover:{title:'2-1. Node ID',description:'Unique name for your sensor (e.g. factory_pump_1). Used as the MQTT topic prefix.',side:'bottom',align:'start'}},\n{element:'#nrdb-ui-widget-84229573cbb609c6',popover:{title:'2-2. Sensor Types',description:'Pick one or more sensor types to simulate (temperature, humidity, pressure, etc).',side:'bottom',align:'start'}},\n{element:'#nrdb-ui-widget-e34b9ac4c76bbf2b',popover:{title:'2-3. Behavior Profile',description:'Normal = steady readings. Failing = gradual decay. Erratic = random spikes.',side:'bottom',align:'start'}},\n{element:'#nrdb-ui-widget-d6e9ef46aea2ca6f',popover:{title:'2-4. Publish Interval',description:'How often (seconds) data is sent to MQTT. Lower = more frequent updates.',side:'bottom',align:'start'}},\n{element:'#nrdb-ui-widget-42a84a202cae8c2b',popover:{title:'2-5. Run & Save',description:'Deploys your sensor. Saves config and launches a Docker container.',side:'left',align:'start'}},\n{element:'#nrdb-ui-group-ui_group_deploy_log',popover:{title:'Deployment Log',description:'Real-time terminal output from sensor deployments, starts, and stops.',side:'top',align:'start'}},\n{element:'#nrdb-ui-widget-d7dfe950f06ff51b',popover:{title:'3-1. Terminal',description:'Shows container creation logs, MQTT connections, and sensor data in real time.',side:'left',align:'start'}},\n{element:'#nrdb-ui-group-2a7528eec5f798b0',popover:{title:'Saved Configurations',description:'View, re-deploy, or delete previously saved sensor configurations.',side:'top',align:'start'}},\n{element:'#nrdb-ui-widget-a0e4ce86e61d7e70',popover:{title:'4-1. Configs Table',description:'Lists all saved sensor configs with ID, profile type, and sensor types.',side:'bottom',align:'start'}},\n{element:'#nrdb-ui-widget-24a2a0c33fcea25b',popover:{title:'4-2. Select to Delete',description:'Pick one or more saved configs to remove from the list.',side:'bottom',align:'start'}},\n{element:'#nrdb-ui-widget-59d08ebc14ded4c9',popover:{title:'4-3. Delete Selected',description:'Removes the chosen config(s) from the saved list permanently.',side:'bottom',align:'start'}},\n{element:'#nrdb-ui-widget-6aaf537eb1e62b1c',popover:{title:'4-4. Run ALL Saved',description:'Mass-deploy every saved config at once. Containers launch 2 seconds apart.',side:'bottom',align:'start'}},\n{element:'#nrdb-ui-widget-dd8c797c7b829981',popover:{title:'4-5. Remove All',description:'Clears the entire saved configuration list. Cannot be undone.',side:'bottom',align:'start'}},\n{element:'#nrdb-ui-group-ui_group_node_control',popover:{title:'Node Control',description:'Control active sensor containers: start, stop, restart, or force-kill.',side:'top',align:'start'}},\n{element:'#nrdb-ui-widget-a9b32cc95c805692',popover:{title:'5-1. Target Node',description:'Select which running sensor container to control.',side:'bottom',align:'start'}},\n{element:'#nrdb-ui-widget-a56f2bec522482e9',popover:{title:'5-2. Action',description:'Choose command: Start, Stop, Kill, Pause, Unpause, Restart, or Delete.',side:'bottom',align:'start'}},\n{element:'#nrdb-ui-widget-3f1c960a7aec12de',popover:{title:'5-3. Execute Action',description:'Run the selected action on the target container. Effects are immediate.',side:'bottom',align:'start'}},\n{element:'#nrdb-ui-widget-6d71d041030d570b',popover:{title:'5-4. Kill ALL',description:'Force-stop every running sensor container at once. Use with caution.',side:'bottom',align:'start'}},\n{element:'#nrdb-ui-group-ui_group_sensors_list',popover:{title:'Active Sensors',description:'Live overview of every running sensor container and its status.',side:'top',align:'start'}},\n{element:'#nrdb-ui-widget-338566eff2953ae6',popover:{title:'6-1. Live Nodes Table',description:'Shows container ID, status, IP address, and uptime. Refreshes automatically.',side:'bottom',align:'start'}},\n{element:'#nrdb-ui-group-ui_group_sensor_monitor',popover:{title:'Live Sensor Feed',description:'Monitor real-time MQTT data streaming from your deployed sensors.',side:'top',align:'start'}},\n{element:'#nrdb-ui-widget-1453f448f840983f',popover:{title:'7-1. Select Sensor',description:'Pick which running sensor to monitor. Data appears in the terminal below.',side:'bottom',align:'start'}},\n{element:'#nrdb-ui-widget-d321091dc35acb56',popover:{title:'7-2. Start',description:'Begin monitoring. Live MQTT data streams into the terminal below.',side:'bottom',align:'start'}},\n{element:'#nrdb-ui-widget-8ad272094d5c84de',popover:{title:'7-3. Stop',description:'Stop the live feed. Terminal freezes showing the last received data.',side:'bottom',align:'start'}},\n{element:'#nrdb-ui-widget-b577b406436de1c3',popover:{title:'7-4. Data Terminal',description:'Displays live MQTT messages: sensor type, value, timestamp, and unit.',side:'left',align:'start'}}\n        ],\n        onDestroyed:function(){ localStorage.setItem('tour_nm_done','1'); },\n        onCloseClick:function(){ localStorage.setItem('tour_nm_done','1'); d.destroy(); }\n      });\n      d.drive();\n    },1200);\n  };\n  document.head.appendChild(s);\n})();\n\">",
        "storeOutMessages": true,
        "resendOnRefresh": true,
        "templateScope": "local",
        "className": "",
        "x": 0,
        "y": 0,
        "wires": [
            []
        ]
    },
    {
        "id": "helps_tour_toggle",
        "type": "ui-template",
        "z": "89c26b2630a7d108",
        "group": "ui_group_helps",
        "page": "",
        "ui": "",
        "name": "Tour Toggle",
        "order": 1,
        "width": "0",
        "height": "0",
        "format": "<div style=\"background:#1e1e1e;border-radius:8px;padding:24px;color:#e0e0e0;\">\n  <div style=\"text-align:center;margin-bottom:20px;\">\n    <div id=\"hlp-status\" style=\"font-size:18px;font-weight:600;margin-bottom:8px;\">Checking...</div>\n    <div id=\"hlp-desc\" style=\"font-size:13px;color:#999;margin-bottom:12px;\">Node Management tour</div>\n    <button id=\"hlp-btn\" style=\"padding:10px 28px;border:none;border-radius:6px;font-size:15px;cursor:pointer;color:#fff;\">Loading...</button>\n  </div>\n  <hr style=\"border-color:#444;margin:16px 0;\">\n  <div style=\"text-align:center;\">\n    <div id=\"hlp-soc-status\" style=\"font-size:18px;font-weight:600;margin-bottom:8px;\">Checking...</div>\n    <div id=\"hlp-soc-desc\" style=\"font-size:13px;color:#999;margin-bottom:12px;\">Security Operations tour</div>\n    <button id=\"hlp-soc-btn\" style=\"padding:10px 28px;border:none;border-radius:6px;font-size:15px;cursor:pointer;color:#fff;\">Loading...</button>\n  </div>\n</div>\n<img src=\"x\" style=\"display:none\" onerror=\"\n(function(){\n  if(window.__hlp) return; window.__hlp=1;\n  setTimeout(function(){\n    function makeToggle(stId,descId,btnId,key,page){\n      var st=document.getElementById(stId);\n      var desc=document.getElementById(descId);\n      var btn=document.getElementById(btnId);\n      if(!st||!btn) return;\n      function update(){\n        var done=localStorage.getItem(key);\n        if(!done){\n          st.textContent='Tour Active';\n          desc.textContent='Will auto-play on '+page+' page';\n          btn.textContent='Reset Tour';\n          btn.style.background='#10b981';\n        } else {\n          st.textContent='Tour Completed';\n          desc.textContent='Tour already shown on '+page;\n          btn.textContent='Re-enable Tour';\n          btn.style.background='#0094CE';\n        }\n      }\n      update();\n      btn.onclick=function(){ localStorage.removeItem(key); update(); };\n    }\n    makeToggle('hlp-status','hlp-desc','hlp-btn','tour_nm_done','Node Management');\n    makeToggle('hlp-soc-status','hlp-soc-desc','hlp-soc-btn','tour_soc_done','Security Operations');\n  },600);\n})();\n\">",
        "storeOutMessages": true,
        "passthru": true,
        "resendOnRefresh": true,
        "templateScope": "local",
        "className": "",
        "x": 0,
        "y": 0,
        "wires": [
            []
        ]
    },
    {
        "id": "tour_soc",
        "type": "ui-template",
        "z": "53b83243ce3bfc91",
        "group": "01d38afb921c168e",
        "name": "Tour: Security Operations",
        "order": 5,
        "width": 0,
        "height": 0,
        "format": "<link rel=\"stylesheet\" href=\"https://cdn.jsdelivr.net/npm/driver.js@1.3.1/dist/driver.css\"/>\n<img src=\"x\" style=\"display:none\" onerror=\"\n(function(){\n  if(window.__tsoc) return; window.__tsoc=1;\n  if(localStorage.getItem('tour_soc_done')) return;\n  var s=document.createElement('script');\n  s.src='https://cdn.jsdelivr.net/npm/driver.js@1.3.1/dist/driver.js.iife.js';\n  s.onload=function(){\n    setTimeout(function(){\n      var d=window.driver.js.driver({\n        showProgress:true,\n        animate:true,\n        opacity:0.75,\n        allowClose:true,\n        stagePadding:10,\n        popoverOffset:10,\n        steps:[\n{element:'#nrdb-ui-group-426c92f3f4d5bb85',popover:{title:'Active Network Topology',description:'Live view of all containers on iot_infralab_net. Shows IP addresses, hostnames, and connection status.',side:'top',align:'start'}},\n{element:'#nrdb-ui-widget-e2536164d2e97496',popover:{title:'1-1. Live Topology Table',description:'Auto-refreshing table of network members. Polls Docker every 3 seconds for real-time topology.',side:'bottom',align:'start'}},\n{element:'#nrdb-ui-group-8356bd12d00a4d35',popover:{title:'Security Controls',description:'Network security toolkit: isolate attackers, toggle Suricata mode, enable auto-protection.',side:'top',align:'start'}},\n{element:'#nrdb-ui-widget-c227d111b8fa867d',popover:{title:'2-1. Change Mosquitto Configs',description:'Toggle between default and vulnerable Mosquitto config. Reloads broker on change.',side:'bottom',align:'start'}},\n{element:'#nrdb-ui-widget-3710f20e7818afc3',popover:{title:'2-2. Change Suricata Profile',description:'Switch between IDS (alert-only), IPS (block), and Vulnerable (disabled) modes.',side:'bottom',align:'start'}},\n{element:'#nrdb-ui-widget-a32b63ed2ad62aa1',popover:{title:'2-3. Auto-Isolate Attackers',description:'Active NAC: automatically disconnects attacker containers from the lab network.',side:'bottom',align:'start'}},\n{element:'#nrdb-ui-widget-be08aa46efe093b0',popover:{title:'2-4. Select Attacker IP',description:'Dropdown of IPs correlated from Suricata alerts. Pick a target for manual isolation.',side:'bottom',align:'start'}},\n{element:'#nrdb-ui-widget-2f6836680ce01083',popover:{title:'2-5. Isolate Selected Target',description:'Disconnects the selected container from iot_infralab_net via Docker API.',side:'bottom',align:'start'}},\n{element:'#nrdb-ui-group-01d38afb921c168e',popover:{title:'AI Port Vulnerability Assessment',description:'AI-powered network security scanner. Uses Google Gemini to analyze open ports.',side:'top',align:'start'}},\n{element:'#nrdb-ui-widget-26a3f6eb20f9e9a7',popover:{title:'3-1. Select AI Model',description:'Choose which Gemini model to use for vulnerability analysis (e.g. gemini-2.0-flash).',side:'bottom',align:'start'}},\n{element:'#nrdb-ui-widget-dd7f612755519e71',popover:{title:'3-2. Run Security Audit',description:'Triggers a full nmap scan of 172.18.0.0/24 then feeds results to Gemini AI for analysis.',side:'left',align:'start'}},\n{element:'#nrdb-ui-widget-51a079a823aeb610',popover:{title:'3-3. Auditor Status',description:'Shows current status: idle, scanning, cooldown, or error. Includes cooldown countdown.',side:'bottom',align:'start'}},\n{element:'#nrdb-ui-widget-04be91e6f3722b0f',popover:{title:'3-4. AI Security Summary',description:'HTML report from Gemini AI. Shows detected vulnerabilities, risk levels, and recommendations.',side:'left',align:'start'}},\n{element:'#nrdb-ui-group-1384ea55c0ba1905',popover:{title:'Logs & Rules',description:'System audit log and live config display for Mosquitto and Suricata.',side:'top',align:'start'}},\n{element:'#nrdb-ui-widget-5a9e7b1d4c3ffce4',popover:{title:'4-1. SOC Log View',description:'Shows last 8 SOC actions plus real-time Mosquitto and Suricata configuration states.',side:'left',align:'start'}}\n        ],\n        onDestroyed:function(){ localStorage.setItem('tour_soc_done','1'); },\n        onCloseClick:function(){ localStorage.setItem('tour_soc_done','1'); d.destroy(); }\n      });\n      d.drive();\n    },1200);\n  };\n  document.head.appendChild(s);\n})();\n\">",
        "storeOutMessages": true,
        "resendOnRefresh": true,
        "templateScope": "local",
        "className": "",
        "x": 0,
        "y": 0,
        "wires": [
            []
        ]
    },
    {
        "id": "fce8349266f9f819",
        "type": "inject",
        "z": "53b83243ce3bfc91",
        "name": "Poll Network",
        "props": [],
        "repeat": "3",
        "crontab": "",
        "once": true,
        "onceDelay": 0.5,
        "topic": "",
        "x": 100,
        "y": 60,
        "wires": [
            [
                "fe5f944518faeb35"
            ]
        ]
    },
    {
        "id": "fe5f944518faeb35",
        "type": "http request",
        "z": "53b83243ce3bfc91",
        "name": "GET Containers",
        "method": "GET",
        "ret": "obj",
        "paytoqs": "ignore",
        "url": "http://docker-proxy:2375/containers/json?all=true",
        "tls": "",
        "persist": false,
        "proxy": "",
        "authType": "",
        "senderr": false,
        "x": 300,
        "y": 60,
        "wires": [
            [
                "1f8ece1238ec50d0"
            ]
        ]
    },
    {
        "id": "1f8ece1238ec50d0",
        "type": "function",
        "z": "53b83243ce3bfc91",
        "name": "Parse IPs & Update Map",
        "func": "let html = '<table style=\"width:100%; text-align:left; border-collapse:collapse; color:#e2e8f0;\"><tr style=\"border-bottom:1px solid #555;\"><th style=\"padding:6px;\">Node Name</th><th style=\"padding:6px;\">IP Address</th><th style=\"padding:6px;\">State</th></tr>';\nlet ipMap = {};\n\nif (msg.payload && Array.isArray(msg.payload)) {\n    msg.payload.forEach(c => {\n        let name = c.Names[0].replace('/','');\n        let nets = (c.NetworkSettings && c.NetworkSettings.Networks) ? c.NetworkSettings.Networks : {};\n        let netInfo = nets['iot_infralab_net'];\n        let ip = netInfo ? netInfo.IPAddress : null;\n        let state = c.State;\n        \n        if (ip) {\n            html += `<tr style=\"border-bottom:1px solid #333;\"><td style=\"padding:6px;\">${name}</td><td style=\"padding:6px;color:#3b82f6;font-family:monospace;font-weight:bold;\">${ip}</td><td style=\"padding:6px;color:#10b981;\">${state}</td></tr>`;\n            ipMap[ip] = name;\n        } else {\n            html += `<tr style=\"border-bottom:1px solid #333;\"><td style=\"padding:6px;color:#64748b;\">${name}</td><td style=\"padding:6px;color:#ef4444;font-family:monospace;\">Disconnected</td><td style=\"padding:6px;color:#64748b;\">${state}</td></tr>`;\n        }\n    });\n}\nhtml += '</table>';\n\n// Save the live active map globally so Suricata alerts can check against it\nflow.set('network_ip_map', ipMap);\n\nreturn { payload: html };",
        "outputs": 1,
        "x": 530,
        "y": 60,
        "wires": [
            [
                "e2536164d2e97496"
            ]
        ]
    },
    {
        "id": "e2536164d2e97496",
        "type": "ui-template",
        "z": "53b83243ce3bfc91",
        "group": "426c92f3f4d5bb85",
        "name": "Live Topology Table",
        "order": 1,
        "width": 0,
        "height": 0,
        "format": "<div style=\"padding:10px; background:#1e1e1e; border-radius:6px; color:#e2e8f0; max-height:200px; overflow-y:auto;\" v-html=\"msg.payload\"></div>",
        "storeOutMessages": true,
        "passthru": true,
        "resendOnRefresh": true,
        "templateScope": "local",
        "className": "",
        "x": 780,
        "y": 60,
        "wires": [
            []
        ]
    },
    {
        "id": "be08aa46efe093b0",
        "type": "ui-dropdown",
        "z": "53b83243ce3bfc91",
        "group": "8356bd12d00a4d35",
        "name": "Target Dropdown",
        "label": "Select Attacker IP",
        "tooltip": "Select the IP to kick off the network",
        "order": 4,
        "width": 0,
        "height": 0,
        "passthru": true,
        "multiple": false,
        "options": [],
        "payload": "",
        "className": "",
        "x": 1470,
        "y": 460,
        "wires": [
            [
                "e917f845bce7fc76"
            ]
        ]
    },
    {
        "id": "e917f845bce7fc76",
        "type": "function",
        "z": "53b83243ce3bfc91",
        "name": "Save Target ID",
        "func": "if(msg.payload) flow.set('soc_target', msg.payload);\nreturn msg;",
        "outputs": 1,
        "x": 1680,
        "y": 460,
        "wires": [
            []
        ]
    },
    {
        "id": "e3ee0ec9f1edc7d9",
        "type": "inject",
        "z": "53b83243ce3bfc91",
        "name": "Poll Suricata Alerts",
        "props": [],
        "repeat": "3.5",
        "crontab": "",
        "once": true,
        "onceDelay": 0.1,
        "topic": "",
        "x": 162,
        "y": 380.9999885559082,
        "wires": [
            [
                "99813c80a59c7673"
            ]
        ]
    },
    {
        "id": "99813c80a59c7673",
        "type": "function",
        "z": "53b83243ce3bfc91",
        "name": "Create Exec tail",
        "func": "msg.url = 'http://docker-proxy:2375/containers/suricata-ids/exec';\nmsg.method = 'POST';\nmsg.headers = { 'Content-Type': 'application/json' };\nmsg.payload = {\n    'AttachStdout': true,\n    'Tty': true,\n    'Cmd': ['sh', '-c', 'grep \\\"\\\\\"event_type\\\\\":\\\\\"alert\\\\\"\\\" /var/log/suricata/eve.json | tail -n 15']\n};\nreturn msg;",
        "outputs": 1,
        "x": 362,
        "y": 380.9999885559082,
        "wires": [
            [
                "21cbe85afb4cbc19"
            ]
        ]
    },
    {
        "id": "21cbe85afb4cbc19",
        "type": "http request",
        "z": "53b83243ce3bfc91",
        "name": "POST Create Exec",
        "method": "use",
        "ret": "obj",
        "paytoqs": "ignore",
        "url": "",
        "tls": "",
        "persist": false,
        "proxy": "",
        "authType": "",
        "senderr": false,
        "x": 552,
        "y": 380.9999885559082,
        "wires": [
            [
                "7cb0a20bb4374f33"
            ]
        ]
    },
    {
        "id": "7cb0a20bb4374f33",
        "type": "function",
        "z": "53b83243ce3bfc91",
        "name": "Start Exec",
        "func": "if (msg.payload && msg.payload.Id) {\n    msg.url = 'http://docker-proxy:2375/exec/' + msg.payload.Id + '/start';\n    msg.method = 'POST';\n    msg.headers = { 'Content-Type': 'application/json' };\n    msg.payload = { 'Detach': false, 'Tty': true };\n    return msg;\n}",
        "outputs": 1,
        "x": 732,
        "y": 380.9999885559082,
        "wires": [
            [
                "08cccde04215ef12"
            ]
        ]
    },
    {
        "id": "08cccde04215ef12",
        "type": "http request",
        "z": "53b83243ce3bfc91",
        "name": "POST Start Exec",
        "method": "use",
        "ret": "txt",
        "paytoqs": "ignore",
        "url": "",
        "tls": "",
        "persist": false,
        "proxy": "",
        "authType": "",
        "senderr": false,
        "x": 912,
        "y": 380.9999885559082,
        "wires": [
            [
                "bea7bfa2b9cc96e8"
            ]
        ]
    },
    {
        "id": "6c61d37b156ddc1f",
        "type": "function",
        "z": "53b83243ce3bfc91",
        "name": "Correlate Attackers for NAC",
        "func": "let attackers = msg.payload || [];\nlet ipMap = flow.get('network_ip_map') || {};\nlet options = [];\n\n// If there are no attackers, completely hide the dropdown options\nif (attackers.length === 0) {\n    return { options: [], payload: null };\n}\n\n// If attackers exist, map their IPs to live container names for the dropdown\nattackers.forEach(ip => {\n    let containerName = ipMap[ip];\n    if (containerName) {\n         options.push({ \n             label: `🚨 ${ip} (Node: ${containerName})`, \n             value: containerName, \n             type: 'str' \n         });\n    } else {\n        // In case the IPs have left the network, or it's external\n         options.push({ \n             label: `🚨 ${ip} (Unknown Device)`, \n             value: ip, \n             type: 'str' \n         });\n    }\n});\n\n// Auto-select the first attacker just to make the UI faster for the SOC operator\nlet firstTarget = options.length > 0 ? options[0].value : null;\nreturn { options: options, payload: firstTarget };",
        "outputs": 1,
        "x": 1220,
        "y": 460,
        "wires": [
            [
                "be08aa46efe093b0"
            ]
        ]
    },
    {
        "id": "82b8df3e5e81b0b3",
        "type": "ui-button",
        "z": "53b83243ce3bfc91",
        "group": "cf452f90a4917a01",
        "name": "Clear Alerts Btn",
        "label": "Acknowledge & Clear Alerts",
        "order": 2,
        "width": 6,
        "height": 0,
        "emulateClick": false,
        "tooltip": "Wipes the eve.json log file in the container",
        "color": "white",
        "bgcolor": "#4b5563",
        "className": "",
        "icon": "fa-trash",
        "iconPosition": "left",
        "payload": "",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "x": 120,
        "y": 460,
        "wires": [
            [
                "50091de1ff4a7ac1"
            ]
        ]
    },
    {
        "id": "50091de1ff4a7ac1",
        "type": "function",
        "z": "53b83243ce3bfc91",
        "name": "Prep File Wipe",
        "func": "msg.url = 'http://docker-proxy:2375/containers/suricata-ids/exec';\nmsg.method = 'POST';\nmsg.headers = { 'Content-Type': 'application/json' };\n// This command safely empties the log file inside the container\nmsg.payload = {\n    'AttachStdout': true,\n    'Tty': true,\n    'Cmd': ['sh', '-c', 'echo \"\" > /var/log/suricata/eve.json']\n};\nreturn msg;",
        "outputs": 1,
        "x": 320,
        "y": 460,
        "wires": [
            [
                "69cb967219e875c1"
            ]
        ]
    },
    {
        "id": "69cb967219e875c1",
        "type": "http request",
        "z": "53b83243ce3bfc91",
        "name": "Create Exec",
        "method": "use",
        "ret": "obj",
        "paytoqs": "ignore",
        "url": "",
        "tls": "",
        "persist": false,
        "proxy": "",
        "authType": "",
        "senderr": false,
        "x": 510,
        "y": 460,
        "wires": [
            [
                "4c843d3957eeccd7"
            ]
        ]
    },
    {
        "id": "4c843d3957eeccd7",
        "type": "function",
        "z": "53b83243ce3bfc91",
        "name": "Start File Wipe",
        "func": "if (msg.payload && msg.payload.Id) {\n    msg.url = 'http://docker-proxy:2375/exec/' + msg.payload.Id + '/start';\n    msg.method = 'POST';\n    msg.headers = { 'Content-Type': 'application/json' };\n    msg.payload = { 'Detach': false, 'Tty': true };\n    return msg;\n}",
        "outputs": 1,
        "x": 700,
        "y": 460,
        "wires": [
            [
                "f317249ac5d48a3e"
            ]
        ]
    },
    {
        "id": "f317249ac5d48a3e",
        "type": "http request",
        "z": "53b83243ce3bfc91",
        "name": "Execute Wipe",
        "method": "use",
        "ret": "txt",
        "paytoqs": "ignore",
        "url": "",
        "tls": "",
        "persist": false,
        "proxy": "",
        "authType": "",
        "senderr": false,
        "x": 900,
        "y": 460,
        "wires": [
            []
        ]
    },
    {
        "id": "26a3f6eb20f9e9a7",
        "type": "ui-dropdown",
        "z": "53b83243ce3bfc91",
        "group": "01d38afb921c168e",
        "name": "Model Selector",
        "label": "Select AI Model",
        "order": 1,
        "width": "6",
        "height": "1",
        "passthru": true,
        "multiple": false,
        "chips": false,
        "clearable": false,
        "options": [
            {
                "label": "Gemini 3.1",
                "value": "gemini-3.1-flash-lite-preview",
                "type": "str"
            },
            {
                "label": "Gemini 3.0 Flash",
                "value": "gemini-3-flash-preview",
                "type": "str"
            },
            {
                "label": "Gemini 1.5 Flash (Stable)",
                "value": "gemini-flash-latest",
                "type": "str"
            }
        ],
        "topic": "lab/security/model",
        "topicType": "str",
        "className": "",
        "typeIsComboBox": true,
        "msgTrigger": "onChange",
        "x": 120,
        "y": 560,
        "wires": [
            [
                "aaa0320e4df4c658"
            ]
        ]
    },
    {
        "id": "aaa0320e4df4c658",
        "type": "mqtt out",
        "z": "53b83243ce3bfc91",
        "name": "",
        "topic": "lab/security/model",
        "qos": "1",
        "retain": "true",
        "broker": "ff_mqtt_broker",
        "x": 370,
        "y": 560,
        "wires": []
    },
    {
        "id": "dd7f612755519e71",
        "type": "ui-button",
        "z": "53b83243ce3bfc91",
        "group": "01d38afb921c168e",
        "name": "Trigger Scan",
        "label": "Run Security Audit 🛡️",
        "order": 2,
        "width": "3",
        "height": "1",
        "emulateClick": false,
        "className": "",
        "icon": "gesture-tap",
        "iconPosition": "left",
        "payload": "SCAN_NOW",
        "payloadType": "str",
        "topic": "lab/security/trigger",
        "topicType": "str",
        "buttonColor": "",
        "textColor": "",
        "iconColor": "",
        "enableClick": true,
        "enablePointerdown": false,
        "pointerdownPayload": "",
        "pointerdownPayloadType": "str",
        "enablePointerup": false,
        "pointerupPayload": "",
        "pointerupPayloadType": "str",
        "x": 120,
        "y": 620,
        "wires": [
            [
                "43c1d8d02a89e143"
            ]
        ]
    },
    {
        "id": "43c1d8d02a89e143",
        "type": "mqtt out",
        "z": "53b83243ce3bfc91",
        "name": "",
        "topic": "lab/security/trigger",
        "qos": "",
        "retain": "",
        "broker": "ff_mqtt_broker",
        "x": 370,
        "y": 620,
        "wires": []
    },
    {
        "id": "c547116e17d82acc",
        "type": "mqtt in",
        "z": "53b83243ce3bfc91",
        "name": "",
        "topic": "lab/security/status",
        "qos": "2",
        "datatype": "utf8",
        "broker": "ff_mqtt_broker",
        "inputs": 0,
        "x": 130,
        "y": 700,
        "wires": [
            [
                "51a079a823aeb610"
            ]
        ]
    },
    {
        "id": "51a079a823aeb610",
        "type": "ui-text",
        "z": "53b83243ce3bfc91",
        "group": "01d38afb921c168e",
        "order": 3,
        "width": "3",
        "height": "1",
        "name": "Status Display",
        "label": "Auditor Status",
        "format": "{{msg.payload}}",
        "x": 380,
        "y": 700,
        "wires": []
    },
    {
        "id": "e766ae52683828ef",
        "type": "mqtt in",
        "z": "53b83243ce3bfc91",
        "name": "",
        "topic": "lab/security/report",
        "qos": "2",
        "datatype": "utf8",
        "broker": "ff_mqtt_broker",
        "inputs": 0,
        "x": 130,
        "y": 780,
        "wires": [
            [
                "7b63cf1e789c0bef",
                "04be91e6f3722b0f"
            ]
        ]
    },
    {
        "id": "7b63cf1e789c0bef",
        "type": "debug",
        "z": "53b83243ce3bfc91",
        "name": "debug 1",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 300,
        "y": 900,
        "wires": []
    },
    {
        "id": "04be91e6f3722b0f",
        "type": "ui-template",
        "z": "53b83243ce3bfc91",
        "group": "01d38afb921c168e",
        "page": "",
        "ui": "",
        "name": "AI Security Summary",
        "order": 4,
        "width": 0,
        "height": 0,
        "head": "",
        "format": "<div style=\"font-family: sans-serif; line-height: 1.5;\">\n    <div v-html=\"msg.payload\"></div>\n</div>",
        "storeOutMessages": true,
        "passthru": true,
        "resendOnRefresh": true,
        "templateScope": "local",
        "className": "",
        "x": 420,
        "y": 780,
        "wires": [
            []
        ]
    },
    {
        "id": "0f902d13eb7aaa73",
        "type": "function",
        "z": "53b83243ce3bfc91",
        "name": "Prep Suricata Restart",
        "func": "// Step 4: Restart Suricata so it re-attaches to Mosquitto's network space\nmsg.url = \"http://docker-proxy:2375/containers/suricata-ids/restart\";\nmsg.method = \"POST\";\nmsg.payload = {};\nreturn msg;",
        "outputs": 1,
        "x": 1640,
        "y": 1000,
        "wires": [
            [
                "3f91e3e609243315"
            ]
        ]
    },
    {
        "id": "3f91e3e609243315",
        "type": "http request",
        "z": "53b83243ce3bfc91",
        "name": "POST Restart Suricata",
        "method": "use",
        "ret": "txt",
        "paytoqs": "ignore",
        "url": "",
        "tls": "",
        "persist": false,
        "proxy": "",
        "authType": "",
        "senderr": false,
        "x": 1900,
        "y": 1000,
        "wires": [
            [
                "2a6bd4127eb59aec"
            ]
        ]
    },
    {
        "id": "c227d111b8fa867d",
        "type": "ui-switch",
        "z": "53b83243ce3bfc91",
        "name": "Change Mosquitto Configs",
        "label": "Change Mosquitto Configs",
        "group": "8356bd12d00a4d35",
        "order": 1,
        "width": 6,
        "height": 1,
        "passthru": false,
        "decouple": false,
        "topic": "topic",
        "topicType": "msg",
        "style": "default",
        "className": "",
        "layout": "",
        "clickableArea": "switch",
        "onvalue": "true",
        "onvalueType": "bool",
        "onicon": "mdi-lock",
        "oncolor": "success",
        "offvalue": "false",
        "offvalueType": "bool",
        "officon": "mdi-lock-open",
        "offcolor": "error",
        "x": 160,
        "y": 1000,
        "wires": [
            [
                "6125bf9ac8505c34"
            ]
        ]
    },
    {
        "id": "6125bf9ac8505c34",
        "type": "function",
        "z": "53b83243ce3bfc91",
        "name": "Prep File Swap Command",
        "func": "// Tell the Mosquitto container to copy the correct profile over the active mosquitto.conf\nif (msg.payload === true) {\n    msg.cmd = [\"cp\", \"/mosquitto/config/mosquitto_hardened.conf\", \"/mosquitto/config/mosquitto.conf\"];\n    msg.notification_text = \"Broker Hardened & Restarted\";\n} else {\n    msg.cmd = [\"cp\", \"/mosquitto/config/mosquitto_vulnerable.conf\", \"/mosquitto/config/mosquitto.conf\"];\n    msg.notification_text = \"Broker Vulnerable & Restarted\";\n}\n\n// Step 1: Create the Exec instance inside iot_broker\nmsg.url = \"http://docker-proxy:2375/containers/iot_broker/exec\";\nmsg.method = \"POST\";\nmsg.payload = {\n    \"AttachStdout\": false,\n    \"AttachStderr\": false,\n    \"Tty\": false,\n    \"Cmd\": msg.cmd\n};\nreturn msg;",
        "outputs": 1,
        "x": 400,
        "y": 1000,
        "wires": [
            [
                "15f8c63dc688b354"
            ]
        ]
    },
    {
        "id": "15f8c63dc688b354",
        "type": "http request",
        "z": "53b83243ce3bfc91",
        "name": "Create Exec",
        "method": "use",
        "ret": "obj",
        "paytoqs": "ignore",
        "url": "",
        "tls": "",
        "persist": false,
        "proxy": "",
        "authType": "",
        "senderr": false,
        "x": 620,
        "y": 1000,
        "wires": [
            [
                "f58689c59ff854ed"
            ]
        ]
    },
    {
        "id": "f58689c59ff854ed",
        "type": "function",
        "z": "53b83243ce3bfc91",
        "name": "Start Exec Command",
        "func": "// Step 2: Trigger the copy command we just created\nif (msg.payload && msg.payload.Id) {\n    msg.url = \"http://docker-proxy:2375/exec/\" + msg.payload.Id + \"/start\";\n    msg.method = \"POST\";\n    msg.payload = { \"Detach\": false, \"Tty\": false };\n    return msg;\n}",
        "outputs": 1,
        "x": 810,
        "y": 1000,
        "wires": [
            [
                "7d8b9dc089ad3abc"
            ]
        ]
    },
    {
        "id": "7d8b9dc089ad3abc",
        "type": "http request",
        "z": "53b83243ce3bfc91",
        "name": "Execute Copy",
        "method": "use",
        "ret": "txt",
        "paytoqs": "ignore",
        "url": "",
        "tls": "",
        "persist": false,
        "proxy": "",
        "authType": "",
        "senderr": false,
        "x": 1010,
        "y": 1000,
        "wires": [
            [
                "6f35b840280857d5"
            ]
        ]
    },
    {
        "id": "6f35b840280857d5",
        "type": "function",
        "z": "53b83243ce3bfc91",
        "name": "Prep Docker Restart",
        "func": "// Step 3: Restart Mosquitto so it reads the newly copied file\nmsg.url = \"http://docker-proxy:2375/containers/iot_broker/restart\";\nmsg.method = \"POST\";\nmsg.payload = {};\nreturn msg;",
        "outputs": 1,
        "x": 1210,
        "y": 1000,
        "wires": [
            [
                "94400dfbe11a7123"
            ]
        ]
    },
    {
        "id": "94400dfbe11a7123",
        "type": "http request",
        "z": "53b83243ce3bfc91",
        "name": "POST Restart",
        "method": "use",
        "ret": "txt",
        "paytoqs": "ignore",
        "url": "",
        "tls": "",
        "persist": false,
        "proxy": "",
        "authType": "",
        "senderr": false,
        "x": 1410,
        "y": 1000,
        "wires": [
            [
                "0f902d13eb7aaa73"
            ]
        ]
    },
    {
        "id": "3710f20e7818afc3",
        "type": "ui-switch",
        "z": "53b83243ce3bfc91",
        "name": "Change Suricata Profile",
        "label": "Change Suricata Profile",
        "group": "8356bd12d00a4d35",
        "order": 2,
        "width": 0,
        "height": 0,
        "passthru": true,
        "decouple": false,
        "topic": "topic",
        "topicType": "msg",
        "style": "",
        "className": "",
        "layout": "",
        "clickableArea": "switch",
        "onvalue": "true",
        "onvalueType": "bool",
        "onicon": "",
        "oncolor": "",
        "offvalue": "false",
        "offvalueType": "bool",
        "officon": "",
        "offcolor": "",
        "x": 150,
        "y": 1080,
        "wires": [
            [
                "791108ba526ec331"
            ]
        ]
    },
    {
        "id": "791108ba526ec331",
        "type": "function",
        "z": "53b83243ce3bfc91",
        "name": "Prepare Rule Swap Exec",
        "func": "if (msg.payload === true) {\n    msg.cmd = [\"cp\", \"/etc/suricata/rules/local.rules.ids\", \"/etc/suricata/rules/local.rules\"];\n    msg.mode_text = \"IDS Mode (Alert)\";\n} else {\n    msg.cmd = [\"cp\", \"/etc/suricata/rules/local.rules.vuln\", \"/etc/suricata/rules/local.rules\"];\n    msg.mode_text = \"Vulnerable Mode\";\n}\n\nmsg.url = \"http://docker-proxy:2375/containers/suricata-ids/exec\";\nmsg.method = \"POST\";\nmsg.payload = {\n    \"AttachStdout\": false,\n    \"AttachStderr\": false,\n    \"Tty\": false,\n    \"Cmd\": msg.cmd\n};\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 360,
        "y": 1080,
        "wires": [
            [
                "d785a52144bd695c"
            ]
        ]
    },
    {
        "id": "d785a52144bd695c",
        "type": "http request",
        "z": "53b83243ce3bfc91",
        "name": "Create CP Exec",
        "method": "use",
        "ret": "obj",
        "paytoqs": "ignore",
        "url": "",
        "tls": "",
        "persist": false,
        "proxy": "",
        "insecureHTTPParser": false,
        "authType": "",
        "senderr": false,
        "headers": [],
        "x": 570,
        "y": 1080,
        "wires": [
            [
                "badcf84e1dc568e6"
            ]
        ]
    },
    {
        "id": "badcf84e1dc568e6",
        "type": "function",
        "z": "53b83243ce3bfc91",
        "name": "Start CP Exec",
        "func": "if (!msg.payload || !msg.payload.Id) {\n    return null;\n}\nmsg.url = \"http://docker-proxy:2375/exec/\" + msg.payload.Id + \"/start\";\nmsg.method = \"POST\";\nmsg.payload = {\n    \"Detach\": false,\n    \"Tty\": false\n};\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 760,
        "y": 1080,
        "wires": [
            [
                "2d1144a69f01e12d"
            ]
        ]
    },
    {
        "id": "2d1144a69f01e12d",
        "type": "http request",
        "z": "53b83243ce3bfc91",
        "name": "Run CP Exec",
        "method": "use",
        "ret": "txt",
        "paytoqs": "ignore",
        "url": "",
        "tls": "",
        "persist": false,
        "proxy": "",
        "insecureHTTPParser": false,
        "authType": "",
        "senderr": false,
        "headers": [],
        "x": 940,
        "y": 1080,
        "wires": [
            [
                "c6fe4759fd05c9e5"
            ]
        ]
    },
    {
        "id": "c6fe4759fd05c9e5",
        "type": "function",
        "z": "53b83243ce3bfc91",
        "name": "Prepare Reload Exec",
        "func": "msg.url = \"http://docker-proxy:2375/containers/suricata-ids/exec\";\nmsg.method = \"POST\";\nmsg.payload = {\n    \"AttachStdout\": false,\n    \"AttachStderr\": false,\n    \"Tty\": false,\n    \"Cmd\": [\"suricatasc\", \"-c\", \"reload-rules\"]\n};\n// Ensure we pass the mode_text to the end of the flow so the notification is accurate\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 370,
        "y": 1140,
        "wires": [
            [
                "9cbfb443c4c7f83f"
            ]
        ]
    },
    {
        "id": "9cbfb443c4c7f83f",
        "type": "http request",
        "z": "53b83243ce3bfc91",
        "name": "Create Reload Exec",
        "method": "use",
        "ret": "obj",
        "paytoqs": "ignore",
        "url": "",
        "tls": "",
        "persist": false,
        "proxy": "",
        "insecureHTTPParser": false,
        "authType": "",
        "senderr": false,
        "headers": [],
        "x": 580,
        "y": 1140,
        "wires": [
            [
                "c6b40dfb18936b46"
            ]
        ]
    },
    {
        "id": "c6b40dfb18936b46",
        "type": "function",
        "z": "53b83243ce3bfc91",
        "name": "Start Reload Exec",
        "func": "if (!msg.payload || !msg.payload.Id) {\n    return null;\n}\nmsg.url = \"http://docker-proxy:2375/exec/\" + msg.payload.Id + \"/start\";\nmsg.method = \"POST\";\nmsg.payload = {\n    \"Detach\": false,\n    \"Tty\": false\n};\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 780,
        "y": 1140,
        "wires": [
            [
                "0bf095aaca6eaae8"
            ]
        ]
    },
    {
        "id": "0bf095aaca6eaae8",
        "type": "http request",
        "z": "53b83243ce3bfc91",
        "name": "Run Reload Exec",
        "method": "use",
        "ret": "txt",
        "paytoqs": "ignore",
        "url": "",
        "tls": "",
        "persist": false,
        "proxy": "",
        "insecureHTTPParser": false,
        "authType": "",
        "senderr": false,
        "headers": [],
        "x": 970,
        "y": 1140,
        "wires": [
            [
                "8b4ae8c2eab34a92"
            ]
        ]
    },
    {
        "id": "8b4ae8c2eab34a92",
        "type": "function",
        "z": "53b83243ce3bfc91",
        "name": "Format Notification",
        "func": "msg.topic = 'system_log';\nmsg.payload = \"🛡️ SURICATA EVENT: Ruleset automatically swapped to [\" + msg.mode_text + \"]\";\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1180,
        "y": 1140,
        "wires": [
            [
                "f101078e40659b3c",
                "5a9e7b1d4c3ffce4"
            ]
        ]
    },
    {
        "id": "f101078e40659b3c",
        "type": "debug",
        "z": "53b83243ce3bfc91",
        "name": "Suricata Status",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 1370,
        "y": 1120,
        "wires": []
    },
    {
        "id": "5a9e7b1d4c3ffce4",
        "type": "ui-template",
        "z": "53b83243ce3bfc91",
        "group": "1384ea55c0ba1905",
        "page": "",
        "ui": "",
        "name": "SOC Log View",
        "order": 1,
        "width": "0",
        "height": "0",
        "format": "<template>\n    <div class=\"soc-container\">\n        \n        <div class=\"sys-logs-wrapper\">\n            <div class=\"sys-log-header\">\n                <v-icon icon=\"mdi-console-line\" class=\"icon-space\"></v-icon> SOC AUDIT LOG (ACTIONS & ALERTS)\n            </div>\n            <div class=\"sys-log-content\">\n                <div v-if=\"logs.length === 0\" style=\"color: #64748b;\">Awaiting operator actions...</div>\n                <div v-for=\"(log, index) in logs\" :key=\"index\" class=\"log-entry\">\n                    <span class=\"log-time\">{{ log.time }}</span> \n                    <span class=\"log-msg\">{{ log.text }}</span>\n                </div>\n            </div>\n        </div>\n\n        \n        <div v-if=\"!configs?.mosquitto\" class=\"waiting\">\n            Awaiting live configuration sync...\n        </div>\n        \n        <div v-else class=\"tables-wrapper\">\n            <table class=\"soc-table mosq-table\">\n                <thead>\n                    <tr>\n                        <th>\n                            <v-icon icon=\"mdi-message-text-outline\" class=\"icon-space\"></v-icon> \n                            iot_broker : /mosquitto/config/mosquitto.conf\n                        </th>\n                    </tr>\n                </thead>\n                <tbody>\n                    <tr>\n                        <td><pre>{{ configs.mosquitto }}</pre></td>\n                    </tr>\n                </tbody>\n            </table>\n\n            <table class=\"soc-table suri-table\">\n                <thead>\n                    <tr>\n                        <th>\n                            <v-icon icon=\"mdi-shield-check\" class=\"icon-space\"></v-icon> \n                            suricata-ids : /etc/suricata/rules/local.rules\n                        </th>\n                    </tr>\n                </thead>\n                <tbody>\n                    <tr>\n                        <td><pre>{{ configs.suricata }}</pre></td>\n                    </tr>\n                </tbody>\n            </table>\n        </div>\n    </div>\n</template>\n\n<script>\nexport default {\n    data() {\n        return {\n            configs: { mosquitto: '', suricata: '' },\n            logs: []\n        }\n    },\n    watch: {\n        msg: {\n            deep: true,\n            handler(newMsg) {\n                if (!newMsg) return;\n                \n                // Handle new System Log Events\n                if (newMsg.topic === 'system_log') {\n                    const timeStr = new Date().toLocaleTimeString();\n                    this.logs.unshift({ time: `[${timeStr}]`, text: newMsg.payload });\n                    \n                    // Keep only the last 8 events to prevent the UI from getting too tall\n                    if (this.logs.length > 8) this.logs.pop();\n                } \n                // Handle Live Docker Config Polling\n                else if (newMsg.payload && newMsg.payload.mosquitto !== undefined) {\n                    this.configs = newMsg.payload;\n                }\n            }\n        }\n    }\n}\n</script>\n\n<style>\n/* Base Container */\n.soc-container {\n    width: 100%;\n    height: 100%;\n    padding: 15px;\n    background-color: #121212;\n    border-radius: 6px;\n    box-sizing: border-box;\n    overflow-y: auto;\n}\n.waiting {\n    text-align: center;\n    color: #64748b;\n    margin-top: 20px;\n    font-family: sans-serif;\n}\n.tables-wrapper {\n    display: flex;\n    flex-direction: column;\n    gap: 20px;\n}\n\n/* Global Table Styles */\n.soc-table {\n    width: 100%;\n    border-collapse: collapse;\n    font-family: sans-serif;\n    background-color: #1e293b;\n    box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.5);\n}\n.soc-table th {\n    padding: 12px;\n    text-align: left;\n    color: #f1f5f9;\n    font-size: 14px;\n    font-weight: 600;\n}\n.soc-table td {\n    background-color: #0f172a;\n    padding: 15px;\n}\n.soc-table pre {\n    margin: 0;\n    font-family: monospace;\n    white-space: pre-wrap;\n    word-wrap: break-word;\n    font-size: 13px;\n}\n.icon-space { margin-right: 8px; }\n\n/* Mosquitto Specific Colors */\n.mosq-table th { border-left: 4px solid #3b82f6; }\n.mosq-table th .v-icon { color: #3b82f6; }\n.mosq-table pre { color: #38bdf8; }\n\n/* Suricata Specific Colors */\n.suri-table th { border-left: 4px solid #ef4444; }\n.suri-table th .v-icon { color: #ef4444; }\n.suri-table pre { color: #10b981; }\n\n/* --- NEW: System Logs Styles --- */\n.sys-logs-wrapper {\n    margin-bottom: 20px;\n    background-color: #1e293b;\n    border-radius: 4px;\n    border-left: 4px solid #f59e0b; /* Amber alert color */\n    box-shadow: 0 4px 6px -1px rgba(0,0,0,0.5);\n}\n.sys-log-header {\n    padding: 10px 12px;\n    color: #f1f5f9;\n    font-weight: 600;\n    font-size: 14px;\n    background-color: rgba(0,0,0,0.2);\n    border-bottom: 1px solid #334155;\n}\n.sys-log-content {\n    padding: 12px;\n    font-family: monospace;\n    font-size: 13px;\n    max-height: 140px;\n    overflow-y: auto;\n}\n.log-entry { margin-bottom: 6px; }\n.log-time { color: #94a3b8; margin-right: 8px; }\n.log-msg { color: #fbbf24; }\n</style>",
        "storeOutMessages": true,
        "passthru": true,
        "resendOnRefresh": true,
        "templateScope": "local",
        "className": "",
        "x": 1240,
        "y": 160,
        "wires": [
            []
        ]
    },
    {
        "id": "2a6bd4127eb59aec",
        "type": "function",
        "z": "53b83243ce3bfc91",
        "name": "Format Toast",
        "func": "msg.topic = 'system_log';\nif (msg.statusCode >= 200 && msg.statusCode < 300) {\n    msg.payload = \"🔒 MOSQUITTO EVENT: \" + msg.notification_text;\n} else {\n    msg.payload = `❌ MOSQUITTO ERROR: Failed to restart broker (API returned ${msg.statusCode})`;\n}\nreturn msg;",
        "outputs": 1,
        "x": 1650,
        "y": 1080,
        "wires": [
            [
                "5a9e7b1d4c3ffce4"
            ]
        ]
    },
    {
        "id": "a32b63ed2ad62aa1",
        "type": "ui-switch",
        "z": "53b83243ce3bfc91",
        "name": "NAC Auto-Protect Mode",
        "label": "Auto-Isolate Attackers (Active NAC)",
        "group": "8356bd12d00a4d35",
        "order": 3,
        "width": 0,
        "height": 0,
        "passthru": true,
        "decouple": false,
        "topic": "nac_mode",
        "onvalue": "true",
        "onvalueType": "bool",
        "offvalue": "false",
        "offvalueType": "bool",
        "x": 185.9999885559082,
        "y": 171.0000057220459,
        "wires": [
            [
                "803349493d477cc8"
            ]
        ]
    },
    {
        "id": "c7ef7b0e1f9143ef",
        "type": "function",
        "z": "53b83243ce3bfc91",
        "name": "Auto-Isolate Trigger",
        "func": "let isAuto = flow.get('nac_auto');\n// FIX 1: Safely handle both boolean and string representations from the dashboard switch\nif (isAuto !== true && isAuto !== \"true\") return null;\n\nlet attackers = msg.payload || [];\nif (attackers.length === 0) return null;\n\nlet ipMap = flow.get('network_ip_map') || {};\nlet isolated = flow.get('auto_isolated') || {};\nlet apiMsgs = [];\nlet uiMsgs = [];\nlet now = Date.now();\n\nattackers.forEach(ip => {\n    // FIX 2: If the IP map hasn't updated fast enough to catch the attacker, fallback to the lab default name\n    let container = ipMap[ip] || \"iot_attacker_node\";\n\n    // FIX 3: 30-Second Cooldown. Instead of locking forever, allow re-isolation after 30 seconds for lab testing\n    if (container && (!isolated[container] || (now - isolated[container] > 30000))) {\n        isolated[container] = now;\n        apiMsgs.push({\n            url: 'http://docker-proxy:2375/networks/iot_infralab_net/disconnect',\n            method: 'POST',\n            payload: { \"Container\": container, \"Force\": true },\n            containerName: container\n        });\n        uiMsgs.push({ topic: 'system_log', payload: `⚡ [ACTIVE NAC] Threat detected! Auto-isolating ${container} (${ip})...` });\n    }\n});\n\nflow.set('auto_isolated', isolated);\n\nif (apiMsgs.length > 0) return [apiMsgs, uiMsgs];\nreturn null;",
        "outputs": 2,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 390,
        "y": 240,
        "wires": [
            [
                "d23401a13c109ee0"
            ],
            [
                "5a9e7b1d4c3ffce4"
            ]
        ]
    },
    {
        "id": "2f6836680ce01083",
        "type": "ui-button",
        "z": "53b83243ce3bfc91",
        "group": "8356bd12d00a4d35",
        "name": "Manual Isolate Btn",
        "label": "Isolate Selected Target",
        "order": 5,
        "width": 0,
        "height": 0,
        "color": "#ffffff",
        "bgcolor": "#ef4444",
        "icon": "mdi-lan-disconnect",
        "x": 150,
        "y": 300,
        "wires": [
            [
                "08d97859a5d29e9d"
            ]
        ]
    },
    {
        "id": "08d97859a5d29e9d",
        "type": "function",
        "z": "53b83243ce3bfc91",
        "name": "Prep Manual Disconnect",
        "func": "let target = flow.get('soc_target');\nif(!target) return [null, {payload: \"⚠️ Select an IP from the dropdown first!\"}];\n\nlet apiMsg = {\n    url: 'http://docker-proxy:2375/networks/iot_infralab_net/disconnect',\n    method: 'POST',\n    payload: { \"Container\": target, \"Force\": true },\n    containerName: target\n};\n\n// Mark as isolated so auto-mode doesn't try it again later\nlet isolated = flow.get('auto_isolated') || {};\nisolated[target] = true;\nflow.set('auto_isolated', isolated);\n\nreturn [apiMsg, {payload: `Manual NAC: Isolating ${target}...`}];",
        "outputs": 2,
        "x": 390,
        "y": 300,
        "wires": [
            [
                "d23401a13c109ee0"
            ],
            [
                "5a9e7b1d4c3ffce4"
            ]
        ]
    },
    {
        "id": "d23401a13c109ee0",
        "type": "http request",
        "z": "53b83243ce3bfc91",
        "name": "POST Network Disconnect",
        "method": "use",
        "ret": "txt",
        "paytoqs": "ignore",
        "url": "",
        "tls": "",
        "persist": false,
        "proxy": "",
        "authType": "",
        "senderr": false,
        "x": 640,
        "y": 200,
        "wires": [
            [
                "e97b5e31885b6e31"
            ]
        ]
    },
    {
        "id": "e97b5e31885b6e31",
        "type": "function",
        "z": "53b83243ce3bfc91",
        "name": "Format API Result",
        "func": "msg.topic = 'system_log';\nif(msg.statusCode === 200 || msg.statusCode === 204 || msg.statusCode === 500) {\n    msg.payload = `✅ NAC ACTION: Successfully isolated container [${msg.containerName}] from the network.`;\n} else {\n    msg.payload = `❌ NAC FAILED: Could not isolate target. Status: ${msg.statusCode}`;\n}\nreturn msg;",
        "outputs": 1,
        "x": 890,
        "y": 220,
        "wires": [
            [
                "5a9e7b1d4c3ffce4"
            ]
        ]
    },
    {
        "id": "803349493d477cc8",
        "type": "function",
        "z": "53b83243ce3bfc91",
        "name": "Save State",
        "func": "flow.set('nac_auto', msg.payload);\nmsg.topic = 'system_log';\nmsg.payload = msg.payload ? \"⚡ NAC AUTO-PROTECT: ACTIVE (Automatic Isolation Enabled)\" : \"⚠️ NAC AUTO-PROTECT: PASSIVE (Manual Review Required)\";\nreturn msg;",
        "outputs": 1,
        "x": 570,
        "y": 140,
        "wires": [
            [
                "5a9e7b1d4c3ffce4"
            ]
        ]
    },
    {
        "id": "01b119705a5dc3ff",
        "type": "inject",
        "z": "53b83243ce3bfc91",
        "name": "Poll Live Config Files",
        "props": [],
        "repeat": "5",
        "crontab": "",
        "once": true,
        "onceDelay": 0.5,
        "topic": "",
        "x": 140,
        "y": 1320,
        "wires": [
            [
                "ba9805537f962ad2"
            ]
        ]
    },
    {
        "id": "ba9805537f962ad2",
        "type": "function",
        "z": "53b83243ce3bfc91",
        "name": "1. Prep Mosquitto Cat",
        "func": "msg.url = \"http://docker-proxy:2375/containers/iot_broker/exec\";\nmsg.method = \"POST\";\nmsg.payload = {\n    \"AttachStdout\": true,\n    \"Tty\": true,\n    \"Cmd\": [\"cat\", \"/mosquitto/config/mosquitto.conf\"]\n};\nreturn msg;",
        "outputs": 1,
        "x": 360,
        "y": 1320,
        "wires": [
            [
                "877124e460d9b5d0"
            ]
        ]
    },
    {
        "id": "877124e460d9b5d0",
        "type": "http request",
        "z": "53b83243ce3bfc91",
        "name": "Create Exec",
        "method": "use",
        "ret": "obj",
        "paytoqs": "ignore",
        "url": "",
        "tls": "",
        "persist": false,
        "proxy": "",
        "authType": "",
        "senderr": false,
        "x": 550,
        "y": 1320,
        "wires": [
            [
                "693a2e29fc4dd823"
            ]
        ]
    },
    {
        "id": "693a2e29fc4dd823",
        "type": "function",
        "z": "53b83243ce3bfc91",
        "name": "Start Exec",
        "func": "if (msg.payload && msg.payload.Id) {\n    msg.url = \"http://docker-proxy:2375/exec/\" + msg.payload.Id + \"/start\";\n    msg.method = \"POST\";\n    msg.payload = { \"Detach\": false, \"Tty\": true };\n    return msg;\n}",
        "outputs": 1,
        "x": 710,
        "y": 1320,
        "wires": [
            [
                "2f9bb4791d534af9"
            ]
        ]
    },
    {
        "id": "2f9bb4791d534af9",
        "type": "http request",
        "z": "53b83243ce3bfc91",
        "name": "Run Mosq Cat",
        "method": "use",
        "ret": "txt",
        "paytoqs": "ignore",
        "url": "",
        "tls": "",
        "persist": false,
        "proxy": "",
        "authType": "",
        "senderr": false,
        "x": 860,
        "y": 1320,
        "wires": [
            [
                "0c845e846f767f0e"
            ]
        ]
    },
    {
        "id": "0c845e846f767f0e",
        "type": "function",
        "z": "53b83243ce3bfc91",
        "name": "2. Save & Prep Suricata Cat",
        "func": "// Strip hidden Docker control characters to ensure clean text\nlet cleanMosq = msg.payload.replace(/[^\\x20-\\x7E\\n\\r]/g, \"\");\n// Remove empty lines for a tighter UI\ncleanMosq = cleanMosq.split('\\n').filter(line => line.trim() !== '').join('\\n');\n\n// Store Mosquitto output safely while we fetch Suricata\nmsg.mosq_conf = cleanMosq;\n\n// Prepare Suricata command\nmsg.url = \"http://docker-proxy:2375/containers/suricata-ids/exec\";\nmsg.method = \"POST\";\nmsg.payload = {\n    \"AttachStdout\": true,\n    \"Tty\": true,\n    \"Cmd\": [\"cat\", \"/etc/suricata/rules/local.rules\"]\n};\nreturn msg;",
        "outputs": 1,
        "x": 1060,
        "y": 1320,
        "wires": [
            [
                "3f717cce3f84d5c3"
            ]
        ]
    },
    {
        "id": "3f717cce3f84d5c3",
        "type": "http request",
        "z": "53b83243ce3bfc91",
        "name": "Create Exec",
        "method": "use",
        "ret": "obj",
        "paytoqs": "ignore",
        "url": "",
        "tls": "",
        "persist": false,
        "proxy": "",
        "authType": "",
        "senderr": false,
        "x": 330,
        "y": 1380,
        "wires": [
            [
                "0e26d6aa9601189d"
            ]
        ]
    },
    {
        "id": "0e26d6aa9601189d",
        "type": "function",
        "z": "53b83243ce3bfc91",
        "name": "Start Exec",
        "func": "if (msg.payload && msg.payload.Id) {\n    msg.url = \"http://docker-proxy:2375/exec/\" + msg.payload.Id + \"/start\";\n    msg.method = \"POST\";\n    msg.payload = { \"Detach\": false, \"Tty\": true };\n    return msg;\n}",
        "outputs": 1,
        "x": 490,
        "y": 1380,
        "wires": [
            [
                "a32d9f1d81d01ab7"
            ]
        ]
    },
    {
        "id": "a32d9f1d81d01ab7",
        "type": "http request",
        "z": "53b83243ce3bfc91",
        "name": "Run Suri Cat",
        "method": "use",
        "ret": "txt",
        "paytoqs": "ignore",
        "url": "",
        "tls": "",
        "persist": false,
        "proxy": "",
        "authType": "",
        "senderr": false,
        "x": 650,
        "y": 1380,
        "wires": [
            [
                "2c185cf0420c3e4c"
            ]
        ]
    },
    {
        "id": "2c185cf0420c3e4c",
        "type": "function",
        "z": "53b83243ce3bfc91",
        "name": "3. Format SOC Terminal",
        "func": "let cleanSuri = msg.payload.replace(/[^\\x20-\\x7E\\n\\r]/g, \"\");\ncleanSuri = cleanSuri.split('\\n').filter(line => line.trim() !== '').join('\\n');\nlet mosq = msg.mosq_conf;\n\n// Send pure data to the Vue template\nmsg.payload = {\n    mosquitto: mosq,\n    suricata: cleanSuri\n};\n\n// CRITICAL: Force the topic so the UI knows this is file data\nmsg.topic = \"live_configs\";\n\nreturn msg;",
        "outputs": 1,
        "x": 850,
        "y": 1380,
        "wires": [
            [
                "5a9e7b1d4c3ffce4"
            ]
        ]
    },
    {
        "id": "b565bc15d8e76d42",
        "type": "ui-template",
        "z": "53b83243ce3bfc91",
        "group": "cf452f90a4917a01",
        "page": "",
        "ui": "",
        "name": "Suricata Alert Terminal",
        "order": 1,
        "width": 0,
        "height": 0,
        "format": "<template>\n    <div class=\"suri-terminal-container\">\n        <div class=\"terminal-content\">\n            <pre v-if=\"msg && msg.payload\" :class=\"{ 'alert-text': msg.payload.includes('🚨'), 'secure-text': !msg.payload.includes('🚨') }\">{{ msg.payload }}</pre>\n            <pre v-else class=\"secure-text\">🟢 System Secure: Watching for active threats in eve.json...</pre>\n        </div>\n    </div>\n</template>\n\n<style>\n.suri-terminal-container {\n    background: #020617;\n    border: 1px solid #ef4444;\n    border-radius: 4px;\n    display: flex;\n    flex-direction: column;\n    height: 100%;\n    min-height: 280px;\n    overflow: hidden;\n}\n.terminal-content {\n    padding: 12px;\n    overflow-y: auto;\n    flex-grow: 1;\n}\n.terminal-content pre {\n    margin: 0;\n    font-family: 'JetBrains Mono', monospace;\n    font-size: 13px;\n    white-space: pre-wrap;\n    line-height: 1.5;\n}\n.alert-text { color: #f87171; }\n.secure-text { color: #4ade80; }\n</style>",
        "storeOutMessages": true,
        "passthru": true,
        "resendOnRefresh": true,
        "templateScope": "local",
        "className": "",
        "x": 1680,
        "y": 320,
        "wires": [
            []
        ]
    },
    {
        "id": "bea7bfa2b9cc96e8",
        "type": "function",
        "z": "53b83243ce3bfc91",
        "name": "Parse Suricata & Extract IPs",
        "func": "let raw = msg.payload || '';\nlet lines = raw.split('\\n');\nlet alerts = [];\nlet attackerIPs = new Set();\nlet newSOCMsgs = [];\n\nlet lastAlertTime = flow.get('last_suricata_alert_time') || 0;\nlet highestTime = lastAlertTime;\n\nfor (let i = 0; i < lines.length; i++) {\n    let line = lines[i].trim();\n    if (!line) continue;\n    let jsonStart = line.indexOf('{\"timestamp\"');\n    if (jsonStart !== -1) {\n        try {\n            let evt = JSON.parse(line.substring(jsonStart));\n            if (evt.event_type === 'alert') {\n                let evtTime = new Date(evt.timestamp).getTime();\n                let time = new Date(evt.timestamp).toLocaleTimeString();\n                let sig = evt.alert.signature;\n                let src = evt.src_ip;\n                alerts.push(`[${time}] 🚨 DETECTED: ${sig}\\n    Source: ${src}`);\n                if (evt.src_ip) attackerIPs.add(evt.src_ip);\n                \n                if (evtTime > lastAlertTime) {\n                    newSOCMsgs.push({ topic: 'system_log', payload: `🚨 SURICATA ALARM: ${sig} (Source: ${src})` });\n                    if (evtTime > highestTime) highestTime = evtTime;\n                }\n            }\n        } catch(e) {}\n    }\n}\nflow.set('last_suricata_alert_time', highestTime);\n\nalerts = alerts.reverse().slice(0, 10);\n\nlet msgAlerts = { topic: 'suricata_alerts', payload: '' };\nif (alerts.length === 0) {\n    msgAlerts.payload = '🟢 System Secure: Watching for active threats in eve.json...';\n} else {\n    msgAlerts.payload = alerts.join('\\n\\n');\n}\n\nlet msgAttackers = { payload: Array.from(attackerIPs) };\n\nreturn [msgAlerts, msgAttackers, newSOCMsgs];",
        "outputs": 3,
        "x": 1180,
        "y": 380,
        "wires": [
            [
                "b565bc15d8e76d42"
            ],
            [
                "6c61d37b156ddc1f",
                "c7ef7b0e1f9143ef"
            ],
            [
                "5a9e7b1d4c3ffce4"
            ]
        ]
    },
    {
        "id": "8deaa0ec0d2e015b",
        "type": "function",
        "z": "b78d14cc362e1196",
        "name": "Loading Msg",
        "func": "return { payload: '[*] Compiling payload...\\n[*] Connecting to daemon...\\n[*] Please wait for execution to finish...' };",
        "outputs": 1,
        "x": 420,
        "y": 440,
        "wires": [
            [
                "b06b645f5d9bfd12"
            ]
        ]
    },
    {
        "id": "f3a234f009c5f686",
        "type": "ui-button",
        "z": "b78d14cc362e1196",
        "group": "7d01403463477825",
        "name": "Phase 0 Button",
        "label": "Start Attacker Node",
        "order": 1,
        "width": 0,
        "height": 0,
        "emulateClick": false,
        "tooltip": "Creates node isolated from target network",
        "color": "white",
        "bgcolor": "#475569",
        "className": "",
        "icon": "server",
        "iconPosition": "left",
        "payload": "",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "buttonColor": "",
        "textColor": "",
        "iconColor": "",
        "enableClick": true,
        "enablePointerdown": false,
        "pointerdownPayload": "",
        "pointerdownPayloadType": "str",
        "enablePointerup": false,
        "pointerupPayload": "",
        "pointerupPayloadType": "str",
        "x": 80,
        "y": 40,
        "wires": [
            [
                "54a75fb40cd57891",
                "8deaa0ec0d2e015b"
            ]
        ]
    },
    {
        "id": "54a75fb40cd57891",
        "type": "function",
        "z": "b78d14cc362e1196",
        "name": "Prep Create",
        "func": "msg.url = 'http://docker-proxy:2375/containers/create?name=iot_attacker_node';\nmsg.method = 'POST';\n// Important: explicitly define request timeout to avoid 120s limit failure\nmsg.timeout = 300000; \nmsg.payload = {\n  'Image': 'iot-attacker',\n  'Tty': true,\n  'OpenStdin': true,\n  'HostConfig': {\n    'NetworkMode': 'bridge',\n    'AutoRemove': true\n  }\n};\nreturn msg;",
        "outputs": 1,
        "x": 420,
        "y": 80,
        "wires": [
            [
                "5938ca266a62db7b"
            ]
        ]
    },
    {
        "id": "5938ca266a62db7b",
        "type": "http request",
        "z": "b78d14cc362e1196",
        "name": "Create API",
        "method": "POST",
        "ret": "obj",
        "paytoqs": "ignore",
        "url": "",
        "tls": "",
        "persist": false,
        "proxy": "",
        "authType": "",
        "senderr": false,
        "x": 580,
        "y": 80,
        "wires": [
            [
                "994e6124db30d480"
            ]
        ]
    },
    {
        "id": "994e6124db30d480",
        "type": "function",
        "z": "b78d14cc362e1196",
        "name": "Prep Start",
        "func": "if(!msg.payload || !msg.payload.Id) {\n  return [null, {payload:'[-] Failed to create container. Already exists?\\n' + JSON.stringify(msg.payload)}];\n}\nmsg.url = 'http://docker-proxy:2375/containers/iot_attacker_node/start';\nmsg.method = 'POST';\nmsg.payload = {};\nmsg.timeout = 300000;\nreturn [msg, null];",
        "outputs": 2,
        "x": 740,
        "y": 80,
        "wires": [
            [
                "9d2629760da4dba4"
            ],
            [
                "b06b645f5d9bfd12"
            ]
        ]
    },
    {
        "id": "9d2629760da4dba4",
        "type": "http request",
        "z": "b78d14cc362e1196",
        "name": "Start API",
        "method": "POST",
        "ret": "txt",
        "paytoqs": "ignore",
        "url": "",
        "tls": "",
        "persist": false,
        "proxy": "",
        "authType": "",
        "senderr": false,
        "x": 900,
        "y": 80,
        "wires": [
            [
                "e188ef681638795c"
            ]
        ]
    },
    {
        "id": "e188ef681638795c",
        "type": "function",
        "z": "b78d14cc362e1196",
        "name": "Parse Success",
        "func": "msg.payload = '[+] Attacker VM successfully provisioned.\\n[+] Container running outside target network (isolated bridge).\\n[+] Ready to execute Phase 1.';\nreturn msg;",
        "outputs": 1,
        "x": 1050,
        "y": 80,
        "wires": [
            [
                "b06b645f5d9bfd12"
            ]
        ]
    },
    {
        "id": "ba12655f18c4af1e",
        "type": "ui-button",
        "z": "b78d14cc362e1196",
        "group": "7d01403463477825",
        "name": "Phase 1 Button",
        "label": "Breach Into Network",
        "order": 2,
        "width": 0,
        "height": 0,
        "emulateClick": false,
        "tooltip": "Connects attacker to internal network",
        "color": "white",
        "bgcolor": "#57534e",
        "className": "",
        "icon": "login",
        "iconPosition": "left",
        "payload": "",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "buttonColor": "",
        "textColor": "",
        "iconColor": "",
        "enableClick": true,
        "enablePointerdown": false,
        "pointerdownPayload": "",
        "pointerdownPayloadType": "str",
        "enablePointerup": false,
        "pointerupPayload": "",
        "pointerupPayloadType": "str",
        "x": 80,
        "y": 100,
        "wires": [
            [
                "fb7f5ec1c7e90584",
                "8deaa0ec0d2e015b"
            ]
        ]
    },
    {
        "id": "fb7f5ec1c7e90584",
        "type": "function",
        "z": "b78d14cc362e1196",
        "name": "Set Connect POST",
        "func": "msg.url = 'http://docker-proxy:2375/networks/iot_infralab_net/connect';\nmsg.method = 'POST';\nmsg.payload = { \"Container\": \"iot_attacker_node\" };\nmsg.timeout = 300000;\nreturn msg;",
        "outputs": 1,
        "x": 440,
        "y": 140,
        "wires": [
            [
                "11777b1bd8b603cb"
            ]
        ]
    },
    {
        "id": "11777b1bd8b603cb",
        "type": "http request",
        "z": "b78d14cc362e1196",
        "name": "Connect API",
        "method": "use",
        "ret": "txt",
        "paytoqs": "ignore",
        "url": "",
        "tls": "",
        "persist": false,
        "proxy": "",
        "authType": "",
        "senderr": false,
        "x": 620,
        "y": 140,
        "wires": [
            [
                "46242eb6875059d1"
            ]
        ]
    },
    {
        "id": "46242eb6875059d1",
        "type": "function",
        "z": "b78d14cc362e1196",
        "name": "Fmt Response",
        "func": "if(msg.statusCode === 200) {\n  msg.payload = '[+] Initial Access Achieved.\\n[+] Exploit successful. Attacker node bridged into iot_infralab_net.\\n[+] Target internal network is now reachable.';\n} else if(msg.statusCode === 403) {\n  msg.payload = '[*] Target perimeter already breached.\\n[*] Node is already attached to the internal network.\\n[+] Proceed to Phase 2.';\n} else {\n  msg.payload = '[-] Sploit Failed. Make sure Phase 0 is complete.\\nError: ' + msg.payload;\n}\nreturn msg;",
        "outputs": 1,
        "x": 790,
        "y": 140,
        "wires": [
            [
                "b06b645f5d9bfd12"
            ]
        ]
    },
    {
        "id": "e91e042b507e0a99",
        "type": "ui-button",
        "z": "b78d14cc362e1196",
        "group": "7d01403463477825",
        "name": "Phase 2 Button",
        "label": "Reconnaissance (Nmap)",
        "order": 3,
        "width": 0,
        "height": 0,
        "emulateClick": false,
        "tooltip": "Fast Nmap subnet scan",
        "color": "white",
        "bgcolor": "#0284c7",
        "className": "",
        "icon": "wifi_tethering",
        "iconPosition": "left",
        "payload": "",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "buttonColor": "",
        "textColor": "",
        "iconColor": "",
        "enableClick": true,
        "enablePointerdown": false,
        "pointerdownPayload": "",
        "pointerdownPayloadType": "str",
        "enablePointerup": false,
        "pointerupPayload": "",
        "pointerupPayloadType": "str",
        "x": 100,
        "y": 160,
        "wires": [
            [
                "657a51cff56a8575",
                "8deaa0ec0d2e015b"
            ]
        ]
    },
    {
        "id": "657a51cff56a8575",
        "type": "function",
        "z": "b78d14cc362e1196",
        "name": "Cmd: Nmap Fast",
        "func": "// Explicitly check the status of Port 1883 instead of blind grepping.\n//     'OUTPUT=$(nmap -sS -p 8086,1880,1883 --min-rate 100 172.18.0.0/24); ' \nmsg.cmd = [\n    'sh', '-c',\n    'nmap -sS -p 8086,1880,1883 --min-rate 100 172.18.0.0/24'\n];\nreturn msg;",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 420,
        "y": 200,
        "wires": [
            [
                "f9c9ced707da3789"
            ]
        ]
    },
    {
        "id": "d60c24acd2df66f0",
        "type": "ui-button",
        "z": "b78d14cc362e1196",
        "group": "7d01403463477825",
        "name": "Phase 4 Button",
        "label": "Impact (DDoS Flood)",
        "order": 5,
        "width": 0,
        "height": 0,
        "emulateClick": false,
        "tooltip": "Hping3 Broker Flood",
        "color": "white",
        "bgcolor": "#dc2626",
        "className": "",
        "icon": "bolt",
        "iconPosition": "left",
        "payload": "",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "buttonColor": "",
        "textColor": "",
        "iconColor": "",
        "enableClick": true,
        "enablePointerdown": false,
        "pointerdownPayload": "",
        "pointerdownPayloadType": "str",
        "enablePointerup": false,
        "pointerupPayload": "",
        "pointerupPayloadType": "str",
        "x": 100,
        "y": 280,
        "wires": [
            [
                "1d9233aac0236c75",
                "8deaa0ec0d2e015b"
            ]
        ]
    },
    {
        "id": "1d9233aac0236c75",
        "type": "function",
        "z": "b78d14cc362e1196",
        "name": "Cmd: Hping3",
        "func": "msg.cmd = ['hping3', '-S', '-p', '1883', '-c', '1000', '-i', 'u1000', 'mosquitto'];\nreturn msg;",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 420,
        "y": 320,
        "wires": [
            [
                "f9c9ced707da3789"
            ]
        ]
    },
    {
        "id": "b19e09082a24eb43",
        "type": "http request",
        "z": "b78d14cc362e1196",
        "name": "Exec Create API",
        "method": "use",
        "ret": "obj",
        "paytoqs": "ignore",
        "url": "",
        "tls": "",
        "persist": false,
        "proxy": "",
        "authType": "",
        "senderr": false,
        "x": 800,
        "y": 260,
        "wires": [
            [
                "a2c52300aa8f1443"
            ]
        ]
    },
    {
        "id": "a2c52300aa8f1443",
        "type": "function",
        "z": "b78d14cc362e1196",
        "name": "Start Exec Trigger",
        "func": "if(!msg.payload || !msg.payload.Id) {\n  return [null, {payload: '[-] ERROR: Execution failed. Ensure Phase 0 & 1 were completed first.'}];\n}\nmsg.url = 'http://docker-proxy:2375/exec/' + msg.payload.Id + '/start';\nmsg.method = 'POST';\nmsg.timeout = 300000;\nmsg.payload = { 'Detach': false, 'Tty': true };\nreturn [msg, null];",
        "outputs": 2,
        "x": 990,
        "y": 260,
        "wires": [
            [
                "2ae86581d34f9eb7"
            ],
            []
        ]
    },
    {
        "id": "2ae86581d34f9eb7",
        "type": "http request",
        "z": "b78d14cc362e1196",
        "name": "Start Cmd Request",
        "method": "use",
        "ret": "txt",
        "paytoqs": "ignore",
        "url": "",
        "tls": "",
        "persist": false,
        "proxy": "",
        "authType": "",
        "senderr": false,
        "x": 1210,
        "y": 260,
        "wires": [
            [
                "b93b4da2d3aa8772"
            ]
        ]
    },
    {
        "id": "a4381f9196d8c23f",
        "type": "ui-button",
        "z": "b78d14cc362e1196",
        "group": "7d01403463477825",
        "name": "Phase 5 Button",
        "label": "Remove Attacker Node",
        "order": 6,
        "width": 0,
        "height": 0,
        "emulateClick": false,
        "tooltip": "Force remove the container to hide tracks",
        "color": "white",
        "bgcolor": "#7f1d1d",
        "className": "",
        "icon": "delete_forever",
        "iconPosition": "left",
        "payload": "",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "buttonColor": "",
        "textColor": "",
        "iconColor": "",
        "enableClick": true,
        "enablePointerdown": false,
        "pointerdownPayload": "",
        "pointerdownPayloadType": "str",
        "enablePointerup": false,
        "pointerupPayload": "",
        "pointerupPayloadType": "str",
        "x": 230,
        "y": 380,
        "wires": [
            [
                "cdd015f4ef35764c",
                "8deaa0ec0d2e015b"
            ]
        ]
    },
    {
        "id": "cdd015f4ef35764c",
        "type": "function",
        "z": "b78d14cc362e1196",
        "name": "Prep Delete",
        "func": "msg.url = 'http://docker-proxy:2375/containers/iot_attacker_node?force=true';\nmsg.method = 'DELETE';\nmsg.timeout = 300000;\nreturn msg;",
        "outputs": 1,
        "x": 420,
        "y": 380,
        "wires": [
            [
                "ddce95da8c7ffabe"
            ]
        ]
    },
    {
        "id": "ddce95da8c7ffabe",
        "type": "http request",
        "z": "b78d14cc362e1196",
        "name": "Delete API",
        "method": "use",
        "ret": "txt",
        "paytoqs": "ignore",
        "url": "",
        "tls": "",
        "persist": false,
        "proxy": "",
        "authType": "",
        "senderr": false,
        "x": 580,
        "y": 380,
        "wires": [
            [
                "9fab6ce3108062bd"
            ]
        ]
    },
    {
        "id": "9fab6ce3108062bd",
        "type": "function",
        "z": "b78d14cc362e1196",
        "name": "Parse Success",
        "func": "if(msg.statusCode >= 200 && msg.statusCode < 300) {\n    msg.payload = '[*] Wiping target logs...\\n[+] Evidence Burned.\\n[+] Attacker container forcefully destroyed and removed from underlying host.\\n[+] Kill Chain Sequence Complete. Exiting...';\n} else {\n    msg.payload = '[-] Failed to destroy track. Is the container already dead?\\nError: ' + msg.payload;\n}\nreturn msg;",
        "outputs": 1,
        "x": 770,
        "y": 380,
        "wires": [
            [
                "b06b645f5d9bfd12"
            ]
        ]
    },
    {
        "id": "b7ec64369078978c",
        "type": "ui-button",
        "z": "b78d14cc362e1196",
        "group": "7d01403463477825",
        "name": "Sniff Btn",
        "label": "Start Interception (Sniffer)",
        "order": 4,
        "width": 0,
        "height": 0,
        "emulateClick": false,
        "tooltip": "Sniff all MQTT traffic",
        "color": "",
        "bgcolor": "#10b981",
        "className": "",
        "icon": "",
        "iconPosition": "left",
        "payload": "",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "buttonColor": "",
        "textColor": "",
        "iconColor": "",
        "enableClick": true,
        "enablePointerdown": false,
        "pointerdownPayload": "",
        "pointerdownPayloadType": "str",
        "enablePointerup": false,
        "pointerupPayload": "",
        "pointerupPayloadType": "str",
        "x": 220,
        "y": 260,
        "wires": [
            [
                "1d1ca2216f6d3a10",
                "a2be4dd380abfee3"
            ]
        ]
    },
    {
        "id": "1d1ca2216f6d3a10",
        "type": "function",
        "z": "b78d14cc362e1196",
        "name": "Set Sniff",
        "func": "msg.cmd=['python','mqtt_sniff.py','--broker','mosquitto']; return msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 400,
        "y": 260,
        "wires": [
            [
                "f9c9ced707da3789"
            ]
        ]
    },
    {
        "id": "a2be4dd380abfee3",
        "type": "function",
        "z": "b78d14cc362e1196",
        "name": "Loading msg",
        "func": "msg.payload = '> Currently sniffing for 10s... Please wait';\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 630,
        "y": 220,
        "wires": [
            [
                "b06b645f5d9bfd12"
            ]
        ]
    },
    {
        "id": "b06b645f5d9bfd12",
        "type": "ui-template",
        "z": "b78d14cc362e1196",
        "group": "a70e7057f4859509",
        "page": "",
        "ui": "",
        "name": "Hacker Terminal",
        "order": 1,
        "width": 0,
        "height": 0,
        "format": "<template>\n    <div class=\"hacker-terminal\">\n        <div v-html=\"msg.payload || '<span class=\\'prompt\\'>root@iot-attacker:~#</span> <span class=\\'waiting-text\\'>Awaiting target node deployment...</span>'\"></div>\n    </div>\n</template>\n\n<style>\n.hacker-terminal {\n    background: #0f172a;\n    padding: 15px;\n    height: 100%;\n    min-height: 450px;\n    overflow-y: auto;\n    font-family: monospace;\n    margin: 0;\n    border-radius: 4px;\n    box-sizing: border-box;\n    color: #10b981; /* Default terminal green */\n}\n.prompt { color: #38bdf8; font-weight: bold; }\n.cmd-text { color: #f8fafc; }\n.output-success { color: #10b981; white-space: pre-wrap; margin-top: 10px; }\n.output-blocked { color: #94a3b8; white-space: pre-wrap; margin-top: 10px; }\n.waiting-text { color: #64748b; }\n.alert-box {\n    color: #ef4444;\n    font-weight: bold;\n    padding: 10px;\n    border: 1px solid #ef4444;\n    background: rgba(239, 68, 68, 0.1);\n    border-radius: 4px;\n    margin-top: 15px;\n}\n.alert-sub {\n    font-size: 12px;\n    color: #fca5a5;\n    font-weight: normal;\n}\n</style>",
        "storeOutMessages": true,
        "passthru": true,
        "resendOnRefresh": true,
        "templateScope": "local",
        "className": "",
        "x": 1600,
        "y": 300,
        "wires": [
            []
        ]
    },
    {
        "id": "f9c9ced707da3789",
        "type": "function",
        "z": "b78d14cc362e1196",
        "name": "Prep Exec Target",
        "func": "let cmd = msg.cmd;\n\n// SAVE THE COMMAND: Store it so the terminal can print what was just run\nmsg.executed_cmd = cmd.join(' ');\n\nmsg.url = 'http://docker-proxy:2375/containers/iot_attacker_node/exec';\nmsg.method = 'POST';\nmsg.timeout = 300000;\nmsg.payload = {\n  'AttachStdout': true,\n  'AttachStderr': true,\n  'Tty': true,\n  'Cmd': cmd\n};\nreturn msg;",
        "outputs": 1,
        "x": 610,
        "y": 260,
        "wires": [
            [
                "b19e09082a24eb43"
            ]
        ]
    },
    {
        "id": "b93b4da2d3aa8772",
        "type": "function",
        "z": "b78d14cc362e1196",
        "name": "Buffer to Terminal Format",
        "func": "let rawCmd = msg.executed_cmd || \"unknown command\";\n\n// 1. Reconstruct the dynamic terminal prompt using CSS classes\nlet output = `<span class=\"prompt\">root@iot-attacker:~#</span> <span class=\"cmd-text\">${rawCmd}</span><br>`;\n\nif (typeof msg.payload === 'object') {\n    msg.payload = JSON.stringify(msg.payload, null, 2);\n}\n\nlet resultText = msg.payload || \"\";\nif (resultText.trim() === \"\") {\n    resultText = \"[+] Execution finished successfully (No terminal output returned).\";\n}\n\n// 2. Threat Analysis: Smarter detection for IPS/NAC blocks\nlet isBlocked = false;\nlet lowerResult = resultText.toLowerCase();\n\n// Look for definitive network disconnects or firewall drops, \n// completely ignoring standard numbers like '104' to prevent false positives.\nif (lowerResult.includes(\"host seems down\") || \n    (lowerResult.includes(\"filtered\") && rawCmd.includes(\"nmap\")) || \n    lowerResult.includes(\"connection refused\") ||\n    lowerResult.includes(\"reset by peer\") ||\n    lowerResult.includes(\"[errno 104]\") ||\n    lowerResult.includes(\"error 104\")) { \n    isBlocked = true;\n}\n\n// 3. Format the raw output (Escape HTML tags)\nresultText = resultText.replace(/</g, \"&lt;\").replace(/>/g, \"&gt;\");\nlet outputClass = isBlocked ? \"output-blocked\" : \"output-success\";\noutput += `<div class=\"${outputClass}\">${resultText}</div>`;\n\n// 4. Inject the Red Blocked Alert ONLY if actually blocked\nif (isBlocked) {\n    output += `<div class=\"alert-box\">`;\n    output += `🚨 EXPLOIT FAILED: CONNECTION INTERCEPTED BY IPS/NAC 🚨<br>`;\n    output += `<span class=\"alert-sub\">The target forcefully rejected the attack (Dropped packets / TCP Reset / Connection Severed).</span>`;\n    output += `</div>`;\n}\n\nmsg.payload = output;\nreturn msg;",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1470,
        "y": 260,
        "wires": [
            [
                "b06b645f5d9bfd12"
            ]
        ]
    },
    {
        "id": "030bec7b7de86264",
        "type": "influxdb out",
        "z": "4acab47cf7e84e94",
        "influxdb": "17435d09976b7d21",
        "name": "Write to Influxdb",
        "measurement": "sensor_data",
        "precision": "",
        "retentionPolicy": "",
        "database": "database",
        "precisionV18FluxV20": "ms",
        "retentionPolicyV18Flux": "",
        "org": "IoT-InfraLab",
        "bucket": "sensor_data",
        "x": 580,
        "y": 100,
        "wires": []
    },
    {
        "id": "0a3d5de1d4fa2473",
        "type": "function",
        "z": "4acab47cf7e84e94",
        "name": "Format Data",
        "func": "let sensorData = msg.payload;\n\n// Create an array to hold all the InfluxDB data points\nlet influxPayload = [];\n\n// Loop through each sensor type (e.g., temperature, vibration) in the 'readings' object\nfor (const [sensorType, value] of Object.entries(sensorData.readings)) {\n    influxPayload.push([\n        // 1. The Fields (The actual numbers we want to graph)\n        {\n            value: value\n        },\n        // 2. The Tags (This tells InfluxDB everything it needs to know to separate the data)\n        {\n            sensor_id: sensorData.sensor_id,\n            sensor_type: sensorType,\n            profile: sensorData.profile\n        }\n    ]);\n}\n\n// Overwrite msg.payload with the formatted array InfluxDB expects\nmsg.payload = influxPayload;\n\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 370,
        "y": 100,
        "wires": [
            [
                "030bec7b7de86264"
            ]
        ]
    },
    {
        "id": "f2325d189ff9fa90",
        "type": "debug",
        "z": "4acab47cf7e84e94",
        "name": "debug 4",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 420,
        "y": 160,
        "wires": []
    },
    {
        "id": "6f3982de69635a89",
        "type": "mqtt in",
        "z": "4acab47cf7e84e94",
        "name": "Listen to All Sensors",
        "topic": "sensors/#",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "bda5655996317aa0",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 130,
        "y": 100,
        "wires": [
            [
                "f2325d189ff9fa90",
                "0a3d5de1d4fa2473"
            ]
        ]
    },
    {
        "id": "ui_btn_start_grafana",
        "type": "ui-button",
        "z": "4acab47cf7e84e94",
        "group": "f57ba6f4611ca27c",
        "name": "Power ON Grafana",
        "label": "▶️ Power ON Grafana",
        "order": 1,
        "width": 6,
        "height": "1",
        "emulateClick": false,
        "tooltip": "Boot up the Grafana Analytics Container",
        "color": "white",
        "bgcolor": "#10b981",
        "className": "",
        "icon": "",
        "iconPosition": "left",
        "payload": "",
        "payloadType": "str",
        "topic": "",
        "topicType": "str",
        "buttonColor": "",
        "textColor": "",
        "iconColor": "",
        "enableClick": true,
        "enablePointerdown": false,
        "pointerdownPayload": "",
        "pointerdownPayloadType": "str",
        "enablePointerup": false,
        "pointerupPayload": "",
        "pointerupPayloadType": "str",
        "x": 130,
        "y": 240,
        "wires": [
            [
                "http_start_grafana"
            ]
        ]
    },
    {
        "id": "ui_btn_stop_grafana",
        "type": "ui-button",
        "z": "4acab47cf7e84e94",
        "group": "f57ba6f4611ca27c",
        "name": "Power OFF Grafana",
        "label": "⏹️ Power OFF Grafana",
        "order": 3,
        "width": 6,
        "height": "1",
        "emulateClick": false,
        "tooltip": "Kill the Grafana Analytics Container",
        "color": "white",
        "bgcolor": "#ef4444",
        "className": "",
        "icon": "",
        "iconPosition": "left",
        "payload": "",
        "payloadType": "str",
        "topic": "",
        "topicType": "str",
        "buttonColor": "",
        "textColor": "",
        "iconColor": "",
        "enableClick": true,
        "enablePointerdown": false,
        "pointerdownPayload": "",
        "pointerdownPayloadType": "str",
        "enablePointerup": false,
        "pointerupPayload": "",
        "pointerupPayloadType": "str",
        "x": 130,
        "y": 300,
        "wires": [
            [
                "http_stop_grafana"
            ]
        ]
    },
    {
        "id": "http_start_grafana",
        "type": "http request",
        "z": "4acab47cf7e84e94",
        "name": "POST /start",
        "method": "POST",
        "ret": "txt",
        "paytoqs": "ignore",
        "url": "http://docker-proxy:2375/containers/grafana/start",
        "tls": "",
        "persist": false,
        "proxy": "",
        "authType": "",
        "senderr": false,
        "x": 370,
        "y": 240,
        "wires": [
            [
                "debug_docker_response"
            ]
        ]
    },
    {
        "id": "http_stop_grafana",
        "type": "http request",
        "z": "4acab47cf7e84e94",
        "name": "POST /stop",
        "method": "POST",
        "ret": "txt",
        "paytoqs": "ignore",
        "url": "http://docker-proxy:2375/containers/grafana/stop",
        "tls": "",
        "persist": false,
        "proxy": "",
        "authType": "",
        "senderr": false,
        "x": 370,
        "y": 300,
        "wires": [
            [
                "debug_docker_response"
            ]
        ]
    },
    {
        "id": "inject_auto_kill",
        "type": "inject",
        "z": "4acab47cf7e84e94",
        "name": "Auto-Kill on Boot",
        "props": [],
        "repeat": "",
        "crontab": "",
        "once": true,
        "onceDelay": "2",
        "topic": "",
        "x": 130,
        "y": 360,
        "wires": [
            []
        ]
    },
    {
        "id": "debug_docker_response",
        "type": "debug",
        "z": "4acab47cf7e84e94",
        "name": "Docker API Response",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 600,
        "y": 260,
        "wires": []
    },
    {
        "id": "e3ed85fc26827843",
        "type": "ui-template",
        "z": "4acab47cf7e84e94",
        "group": "f57ba6f4611ca27c",
        "page": "",
        "ui": "",
        "name": "Open Grafana UI",
        "order": 2,
        "width": 12,
        "height": 1,
        "format": "<template>\n    <v-btn \n        color=\"#f59e0b\" \n        variant=\"elevated\" \n        block\n        class=\"text-none font-weight-bold\"\n        style=\"color: white !important;\"\n        href=\"http://localhost:3000/\" \n        target=\"_blank\"\n        prepend-icon=\"mdi-chart-line\">\n        📊 Open Grafana Dashboard\n    </v-btn>\n</template>",
        "storeOutMessages": true,
        "passthru": true,
        "resendOnRefresh": true,
        "templateScope": "local",
        "className": "",
        "x": 130,
        "y": 420,
        "wires": [
            [
                "a534dbea4ddca405"
            ]
        ]
    },
    {
        "id": "a534dbea4ddca405",
        "type": "delay",
        "z": "4acab47cf7e84e94",
        "name": "",
        "pauseType": "delay",
        "timeout": "5",
        "timeoutUnits": "seconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "allowrate": false,
        "outputs": 1,
        "x": 320,
        "y": 420,
        "wires": [
            []
        ]
    }
]