text/nodered_flows/node_management.json
[
    {
        "id": "c350aeb8fed5a51f",
        "type": "tab",
        "label": "Node Management",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "f00606ef2fb489a0",
        "type": "ui-text-input",
        "z": "c350aeb8fed5a51f",
        "group": "ui_group_create",
        "name": "Node ID Input",
        "label": "Node ID (e.g. factory_pump_1)",
        "order": 1,
        "width": 0,
        "height": 0,
        "topic": "topic",
        "topicType": "msg",
        "mode": "text",
        "tooltip": "",
        "delay": 300,
        "passthru": true,
        "sendOnDelay": true,
        "sendOnBlur": true,
        "sendOnEnter": true,
        "className": "",
        "clearable": false,
        "sendOnClear": false,
        "icon": "",
        "iconPosition": "left",
        "iconInnerPosition": "inside",
        "x": 160,
        "y": 100,
        "wires": [
            [
                "af66a6ea1394bf38"
            ]
        ]
    },
    {
        "id": "af66a6ea1394bf38",
        "type": "function",
        "z": "c350aeb8fed5a51f",
        "name": "Save ID",
        "func": "flow.set('cfg_node_id', msg.payload);\nreturn msg;",
        "outputs": 1,
        "x": 360,
        "y": 100,
        "wires": [
            []
        ]
    },
    {
        "id": "5a349d1617bd11c5",
        "type": "ui-dropdown",
        "z": "c350aeb8fed5a51f",
        "group": "ui_group_create",
        "name": "Sensors Dropdown",
        "label": "Sensor Types",
        "tooltip": "",
        "order": 2,
        "width": 0,
        "height": 0,
        "passthru": true,
        "multiple": true,
        "options": [
            {
                "label": "Temperature",
                "value": "temperature",
                "type": "str"
            },
            {
                "label": "Vibration",
                "value": "vibration",
                "type": "str"
            },
            {
                "label": "Pressure",
                "value": "pressure",
                "type": "str"
            },
            {
                "label": "Humidity",
                "value": "humidity",
                "type": "str"
            },
            {
                "label": "Power Draw",
                "value": "power_draw",
                "type": "str"
            }
        ],
        "payload": "",
        "topic": "topic",
        "topicType": "msg",
        "className": "",
        "x": 170,
        "y": 160,
        "wires": [
            [
                "b610494005eae2d0"
            ]
        ]
    },
    {
        "id": "b610494005eae2d0",
        "type": "function",
        "z": "c350aeb8fed5a51f",
        "name": "Save Sensors",
        "func": "flow.set('cfg_sensors', msg.payload);\nreturn msg;",
        "outputs": 1,
        "x": 370,
        "y": 160,
        "wires": [
            []
        ]
    },
    {
        "id": "cf7032ad6384bbc7",
        "type": "ui-dropdown",
        "z": "c350aeb8fed5a51f",
        "group": "ui_group_create",
        "name": "Profile Dropdown",
        "label": "Behavior Profile",
        "tooltip": "",
        "order": 3,
        "width": 0,
        "height": 0,
        "passthru": true,
        "multiple": false,
        "options": [
            {
                "label": "Normal (Baseline)",
                "value": "normal",
                "type": "str"
            },
            {
                "label": "Failing (Gradual wear)",
                "value": "failing",
                "type": "str"
            },
            {
                "label": "Erratic (Spikes)",
                "value": "erratic",
                "type": "str"
            }
        ],
        "payload": "",
        "topic": "topic",
        "topicType": "msg",
        "className": "",
        "x": 170,
        "y": 220,
        "wires": [
            [
                "9ec8f49a4a9ac8c9"
            ]
        ]
    },
    {
        "id": "9ec8f49a4a9ac8c9",
        "type": "function",
        "z": "c350aeb8fed5a51f",
        "name": "Save Profile",
        "func": "flow.set('cfg_profile', msg.payload);\nreturn msg;",
        "outputs": 1,
        "x": 370,
        "y": 220,
        "wires": [
            []
        ]
    },
    {
        "id": "df6d0a10f331d709",
        "type": "ui-text-input",
        "z": "c350aeb8fed5a51f",
        "group": "ui_group_create",
        "name": "Interval Input",
        "label": "Publish Interval (in seconds)",
        "order": 4,
        "width": 0,
        "height": 0,
        "topic": "topic",
        "topicType": "msg",
        "mode": "number",
        "tooltip": "How often the sensor sends data",
        "delay": 300,
        "passthru": true,
        "className": "",
        "x": 160,
        "y": 280,
        "wires": [
            [
                "4571cc0a9276c3da"
            ]
        ]
    },
    {
        "id": "4571cc0a9276c3da",
        "type": "function",
        "z": "c350aeb8fed5a51f",
        "name": "Save Interval",
        "func": "flow.set('cfg_interval', msg.payload);\nreturn msg;",
        "outputs": 1,
        "x": 370,
        "y": 280,
        "wires": [
            []
        ]
    },
    {
        "id": "785eb0349d3c9c3c",
        "type": "ui-button",
        "z": "c350aeb8fed5a51f",
        "group": "ui_group_create",
        "name": "Save Config Btn",
        "label": "Run & Save",
        "order": 5,
        "width": 3,
        "tooltip": "Save these settings and launch exactly now",
        "color": "white",
        "bgcolor": "#3b82f6",
        "icon": "save",
        "payload": "run_save",
        "payloadType": "str",
        "topic": "topic",
        "x": 150,
        "y": 340,
        "wires": [
            [
                "22be8fab2e72050e"
            ]
        ]
    },
    {
        "id": "btn_run_only_new_id",
        "type": "ui-button",
        "z": "c350aeb8fed5a51f",
        "group": "ui_group_create",
        "name": "Run Only Btn",
        "label": "Run Only",
        "order": 6,
        "width": 3,
        "tooltip": "Launch sensor without saving the configuration",
        "color": "white",
        "bgcolor": "#6366f1",
        "icon": "rocket",
        "payload": "run_only",
        "payloadType": "str",
        "topic": "topic",
        "x": 150,
        "y": 380,
        "wires": [
            [
                "22be8fab2e72050e"
            ]
        ]
    },
    {
        "id": "22be8fab2e72050e",
        "type": "function",
        "z": "c350aeb8fed5a51f",
        "name": "Construct Config",
        "func": "let n_id = flow.get('cfg_node_id');\nif(!n_id || typeof n_id !== 'string' || !n_id.trim()) {\n    return [null, { payload: '⚠️ [VALIDATION FAILED] Node ID is required to save/run.' }];\n}\n\nif(n_id.length > 30) {\n    return [null, { payload: '⚠️ [VALIDATION FAILED] Node ID must not exceed 30 characters.' }];\n}\n\nlet regex = /^[a-zA-Z0-9][a-zA-Z0-9_.-]+$/;\nif(!regex.test(n_id)) {\n    return [null, { payload: '⚠️ [VALIDATION FAILED] Node ID has invalid characters. Use alphanumeric, dash, or underscore.' }];\n}\n\nlet s_types = flow.get('cfg_sensors');\nif (!s_types || (Array.isArray(s_types) && s_types.length === 0)) {\n    return [null, { payload: '⚠️ [VALIDATION FAILED] At least one Sensor Type must be selected.' }];\n}\nif (Array.isArray(s_types)) s_types = s_types.join(',');\n\nlet prof = flow.get('cfg_profile');\nif(!prof || prof === 'none') {\n    return [null, { payload: '⚠️ [VALIDATION FAILED] Behavior Profile must be selected.' }];\n}\n\nlet intrvl = flow.get('cfg_interval') || 5;\n\nmsg.new_config = {\n    id: n_id,\n    types: s_types,\n    profile: prof,\n    interval: intrvl,\n    saved_at: new Date().toISOString()\n};\n\n// Check if this run was triggered by Run & Save or Run Only\nmsg.action_type = msg.payload || 'run_save'; \n\nreturn [msg, null];",
        "outputs": 2,
        "x": 350,
        "y": 360,
        "wires": [
            [
                "router_save_vs_run"
            ],
            [
                "41f32fc1c4201df6"
            ]
        ]
    },
    {
        "id": "router_save_vs_run",
        "type": "switch",
        "z": "c350aeb8fed5a51f",
        "name": "Route by Action",
        "property": "action_type",
        "propertyType": "msg",
        "rules": [
            { "t": "eq", "v": "run_save", "vt": "str" },
            { "t": "eq", "v": "run_only", "vt": "str" }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 550,
        "y": 360,
        "wires": [
            [
                "c09f71532a57aeba"
            ],
            [
                "118565f3faaca870"
            ]
        ]
    },
    {
        "id": "c09f71532a57aeba",
        "type": "file in",
        "z": "c350aeb8fed5a51f",
        "name": "Read Configs (Check)",
        "filename": "/data/saved_sensors.json",
        "format": "utf8",
        "x": 780,
        "y": 340,
        "wires": [
            [
                "c62df6640062f9b2"
            ]
        ]
    },
    {
        "id": "c62df6640062f9b2",
        "type": "function",
        "z": "c350aeb8fed5a51f",
        "name": "Check ID & Append",
        "func": "let configs = [];\ntry {\n    if (msg.payload) {\n        configs = JSON.parse(msg.payload);\n    }\n} catch(e) { }\n\n// Check if ID exists!\nlet exists = configs.findIndex(c => c.id === msg.new_config.id);\nif (exists >= 0) {\n    return [null, null, { payload: `❌ [VALIDATION FAILED] Saved Configuration '${msg.new_config.id}' already exists!` }];\n}\n\nconfigs.push(msg.new_config);\nmsg.payload = JSON.stringify(configs, null, 2);\n\nreturn [msg, { payload: msg.new_config }, { payload: `✅ Configuration [${msg.new_config.id}] saved... Dispatching deployment.`}];",
        "outputs": 3,
        "x": 990,
        "y": 340,
        "wires": [
            [
                "2d995772cdda576f"
            ],
            [
                "118565f3faaca870"
            ],
            [
                "41f32fc1c4201df6",
                "80bd503c02b12755"
            ]
        ]
    },
    {
        "id": "2d995772cdda576f",
        "type": "file",
        "z": "c350aeb8fed5a51f",
        "name": "Write Configs",
        "filename": "/data/saved_sensors.json",
        "appendNewline": true,
        "overwriteFile": "true",
        "x": 1200,
        "y": 300,
        "wires": [
            [
                "a6e7a9d2271d8de0"
            ]
        ]
    },
    {
        "id": "80bd503c02b12755",
        "type": "ui-notification",
        "z": "c350aeb8fed5a51f",
        "ui": "8bcc34ca17387ebb",
        "position": "top right",
        "color": "#facc15",
        "displayTime": "3",
        "showCountdown": true,
        "outputs": 1,
        "allowDismiss": true,
        "raw": false,
        "name": "Saved Alert",
        "x": 1210,
        "y": 360,
        "wires": [
            []
        ]
    },
    {
        "id": "118565f3faaca870",
        "type": "function",
        "z": "c350aeb8fed5a51f",
        "name": "Build Docker Cmd",
        "func": "let cfg = msg.new_config || msg.payload;\n\nmsg.sensor_config = cfg;\nmsg.url = 'http://docker-proxy:2375/containers/create?name=' + cfg.id;\nmsg.payload = {\n    \"Image\": \"iot-sensor\",\n    \"Env\": [\n        \"SENSOR_ID=\" + cfg.id,\n        \"SENSOR_TYPES=\" + cfg.types,\n        \"NODE_PROFILE=\" + cfg.profile,\n        \"INTERVAL=\" + cfg.interval,\n        \"MQTT_BROKER=mosquitto\"\n    ],\n    \"HostConfig\": {\n        \"NetworkMode\": \"iot_infralab_net\",\n        \"AutoRemove\": true\n    }\n};\nreturn msg;",
        "outputs": 1,
        "x": 800,
        "y": 420,
        "wires": [
            [
                "d43d046beb4f81f7"
            ]
        ]
    },
    {
        "id": "d43d046beb4f81f7",
        "type": "http request",
        "z": "c350aeb8fed5a51f",
        "name": "Docker POST Create",
        "method": "POST",
        "ret": "obj",
        "paytoqs": "ignore",
        "url": "",
        "tls": "",
        "persist": false,
        "proxy": "",
        "authType": "",
        "senderr": false,
        "x": 1010,
        "y": 420,
        "wires": [
            [
                "83b7a06ce3b431fd"
            ]
        ]
    },
    {
        "id": "83b7a06ce3b431fd",
        "type": "function",
        "z": "c350aeb8fed5a51f",
        "name": "Build Start Request",
        "func": "if(!msg.payload.Id){\n    msg.payload = '❌ [DOCKER ERROR] ' + JSON.stringify(msg.payload);\n    return [null, msg];\n}\nlet logMsg = { payload: '↳ Container ID: ' + msg.payload.Id.substring(0,12) + '. Starting...' };\nmsg.url = 'http://docker-proxy:2375/containers/' + msg.payload.Id + '/start';\nmsg.payload = {};\nreturn [msg, logMsg];",
        "outputs": 2,
        "x": 1220,
        "y": 420,
        "wires": [
            [
                "9d6be9800d13f055"
            ],
            [
                "41f32fc1c4201df6"
            ]
        ]
    },
    {
        "id": "9d6be9800d13f055",
        "type": "http request",
        "z": "c350aeb8fed5a51f",
        "name": "Docker POST Start",
        "method": "POST",
        "ret": "txt",
        "paytoqs": "ignore",
        "url": "",
        "x": 1440,
        "y": 420,
        "wires": [
            [
                "a5f229a75f6c9dac"
            ]
        ]
    },
    {
        "id": "a5f229a75f6c9dac",
        "type": "function",
        "z": "c350aeb8fed5a51f",
        "name": "Deployment Success Log",
        "func": "if(msg.statusCode === 204){\n    msg.payload = `✅ Node dynamically deployed on network.\\n`;\n} else {\n    msg.payload = `❌ Error starting node.\\n${msg.payload}`;\n}\nreturn msg;",
        "outputs": 1,
        "x": 1650,
        "y": 420,
        "wires": [
            [
                "41f32fc1c4201df6"
            ]
        ]
    },
    {
        "id": "41f32fc1c4201df6",
        "type": "ui-template",
        "z": "c350aeb8fed5a51f",
        "group": "ui_group_deploy_log",
        "name": "Terminal",
        "order": 1,
        "width": 0,
        "height": 0,
        "format": "<pre style=\"background:#1e1e1e;color:#0f0;padding:15px;height:350px;overflow-y:auto;font-family:monospace;margin:0;white-space:pre-wrap;\" v-text=\"msg.payload||'Awaiting deployment commands...' \"></pre>",
        "storeOutMessages": true,
        "resendOnRefresh": true,
        "templateScope": "local",
        "x": 1880,
        "y": 380,
        "wires": [[]]
    },
    {
        "id": "a6e7a9d2271d8de0",
        "type": "link out",
        "z": "c350aeb8fed5a51f",
        "name": "Refresh Configs Table",
        "links": [
            "aff6d87a170a4f35"
        ],
        "x": 1360,
        "y": 300,
        "wires": []
    },
    {
        "id": "aff6d87a170a4f35",
        "type": "link in",
        "z": "c350aeb8fed5a51f",
        "name": "In Refresh Configs",
        "links": [
            "a6e7a9d2271d8de0"
        ],
        "x": 150,
        "y": 520,
        "wires": [
            [
                "8c0951b5375d8334"
            ]
        ]
    },
    {
        "id": "2907a234cc2484be",
        "type": "inject",
        "z": "c350aeb8fed5a51f",
        "name": "Load Configs GUI",
        "props": [],
        "repeat": "5",
        "once": true,
        "onceDelay": 0.5,
        "x": 170,
        "y": 480,
        "wires": [
            [
                "8c0951b5375d8334"
            ]
        ]
    },
    {
        "id": "8c0951b5375d8334",
        "type": "file in",
        "z": "c350aeb8fed5a51f",
        "name": "Read Configs Table",
        "filename": "/data/saved_sensors.json",
        "format": "utf8",
        "x": 370,
        "y": 500,
        "wires": [
            [
                "a9010518c9813608"
            ]
        ]
    },
    {
        "id": "a9010518c9813608",
        "type": "function",
        "z": "c350aeb8fed5a51f",
        "name": "Format JSON->HTML/Dropdown",
        "func": "let configs = [];\ntry {\n    if (msg.payload) configs = JSON.parse(msg.payload);\n} catch(e) {}\n\nlet html = '<table style=\"width:100%; text-align:left; border-collapse:collapse;\"><tr style=\"border-bottom:1px solid #555;\"><th style=\"padding:4px;\">ID</th><th style=\"padding:4px;\">Profile</th><th style=\"padding:4px;\">Sensors</th></tr>';\nlet dd_opts = [];\n\nif(configs.length > 0){\n    configs.forEach(c => {\n        html += `<tr style=\"border-bottom:1px solid #333;\"><td style=\"padding:4px;color:#60a5fa;\">${c.id}</td><td style=\"padding:4px;\">${c.profile}</td><td style=\"padding:4px;font-size:0.85em;color:#aaa;\">${c.types}</td></tr>`;\n        dd_opts.push({label: c.id, value: c.id, type: 'str'});\n    });\n} else {\n    html += '<tr><td colspan=\"3\" style=\"text-align:center;padding:10px;\">No saved configs</td></tr>';\n    dd_opts = [{label: \"No Configs\", value: \"none\", type: \"str\"}];\n}\nhtml += '</table>';\n\nreturn [{payload: html}, {options: dd_opts}];",
        "outputs": 2,
        "x": 610,
        "y": 500,
        "wires": [
            [
                "046c88458eb00d52"
            ],
            [
                "ui_dropdown_del_config"
            ]
        ]
    },
    {
        "id": "046c88458eb00d52",
        "type": "ui-template",
        "z": "c350aeb8fed5a51f",
        "group": "2a7528eec5f798b0",
        "name": "Saved Configs Table",
        "order": 1,
        "width": 0,
        "height": 0,
        "format": "<div style=\"padding:10px; background:#1e1e1e; color:#e0e0e0; border-radius:6px; font-family:monospace; font-size:14px;\"><pre style=\"margin:0;\" v-html=\"msg.payload\"></pre></div>",
        "storeOutMessages": true,
        "resendOnRefresh": true,
        "x": 860,
        "y": 480,
        "wires": [[]]
    },
    {
        "id": "ui_dropdown_del_config",
        "type": "ui-dropdown",
        "z": "c350aeb8fed5a51f",
        "group": "2a7528eec5f798b0",
        "name": "Select Config to Delete",
        "label": "Target Configuration",
        "order": 2,
        "passthru": true,
        "multiple": false,
        "options": [],
        "typeIsComboBox": true,
        "msgTrigger": "onChange",
        "x": 880,
        "y": 520,
        "wires": [
            [
                "set_cfg_target_del_id"
            ]
        ]
    },
    {
        "id": "set_cfg_target_del_id",
        "type": "function",
        "z": "c350aeb8fed5a51f",
        "name": "Save Target ID",
        "func": "if (msg.payload && typeof msg.payload === 'string') {\n    flow.set('cfg_target_del_id', msg.payload);\n} else if (msg.payload && msg.payload.value) {\n    flow.set('cfg_target_del_id', msg.payload.value);\n}\nreturn msg;",
        "outputs": 1,
        "x": 1100,
        "y": 520,
        "wires": [[]]
    },
    {
        "id": "137bcd576fbb5d1c",
        "type": "ui-button",
        "z": "c350aeb8fed5a51f",
        "group": "2a7528eec5f798b0",
        "name": "Run All Saved Configs",
        "label": "Run ALL Saved Nodes",
        "order": 4,
        "color": "white",
        "bgcolor": "#8b5cf6",
        "icon": "play",
        "x": 160,
        "y": 620,
        "wires": [
            [
                "92cf873e3c28c007"
            ]
        ]
    },
    {
        "id": "92cf873e3c28c007",
        "type": "file in",
        "z": "c350aeb8fed5a51f",
        "name": "Read Mass Configs",
        "filename": "/data/saved_sensors.json",
        "format": "utf8",
        "x": 370,
        "y": 620,
        "wires": [
            [
                "b7af56a8e067e375",
                "7f73126384609845"
            ]
        ]
    },
    {
        "id": "7f73126384609845",
        "type": "function",
        "z": "c350aeb8fed5a51f",
        "name": "Log Start Mass",
        "func": "return { payload: \"🚀 INITIATING MASS DEPLOYMENT of all saved configurations...\"};",
        "outputs": 1,
        "x": 580,
        "y": 580,
        "wires": [
            [
                "41f32fc1c4201df6"
            ]
        ]
    },
    {
        "id": "b7af56a8e067e375",
        "type": "function",
        "z": "c350aeb8fed5a51f",
        "name": "Spawn Splitters",
        "func": "let configs = [];\ntry { if (msg.payload) configs = JSON.parse(msg.payload); } catch(e) {}\nif(configs.length === 0) {\n    return [null, { payload: \"⚠️ [VALIDATION FAILED] No saved configurations exist. Cannot Mass Deploy.\" }];\n}\n\nlet delay = 0;\nlet msgs = [];\nconfigs.forEach(cfg => {\n    msgs.push({ \n        payload: cfg,\n        delay: delay\n    }); \n    delay += 2000;\n});\nreturn [msgs, { payload: `🚀 Starting sequential Mass Deploy of ${configs.length} sensors...` }];",
        "outputs": 2,
        "x": 580,
        "y": 620,
        "wires": [
            [
                "5e9ec1158973eb5c"
            ],
            [
                "41f32fc1c4201df6"
            ]
        ]
    },
    {
        "id": "5e9ec1158973eb5c",
        "type": "delay",
        "z": "c350aeb8fed5a51f",
        "name": "Stagger Spawn",
        "pauseType": "delayv",
        "timeout": "5",
        "timeoutUnits": "seconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "outputs": 1,
        "x": 760,
        "y": 620,
        "wires": [
            [
                "118565f3faaca870"
            ]
        ]
    },
    {
        "id": "6537bd8fb43f8b92",
        "type": "ui-button",
        "z": "c350aeb8fed5a51f",
        "group": "2a7528eec5f798b0",
        "name": "Del Config Btn",
        "label": "Delete Config",
        "order": 2,
        "color": "white",
        "bgcolor": "#ef4444",
        "icon": "trash",
        "x": 140,
        "y": 700,
        "wires": [
            [
                "be25dc41bcdcdaa2"
            ]
        ]
    },
    {
        "id": "be25dc41bcdcdaa2",
        "type": "file in",
        "z": "c350aeb8fed5a51f",
        "name": "Read Data Delete",
        "filename": "/data/saved_sensors.json",
        "format": "utf8",
        "x": 350,
        "y": 700,
        "wires": [
            [
                "991b52f8986e7854"
            ]
        ]
    },
    {
        "id": "991b52f8986e7854",
        "type": "function",
        "z": "c350aeb8fed5a51f",
        "name": "Filter Delete",
        "func": "let target_id = flow.get('cfg_target_del_id');\nif(!target_id || target_id === 'none') { \n   return [null, { payload: \"⚠️ [VALIDATION FAILED] Please select a configuration to delete.\" }]; \n}\n\nlet configs = [];\ntry { if(msg.payload) configs = JSON.parse(msg.payload); } catch(e) {}\n\nconfigs = configs.filter(c => c.id !== target_id);\nmsg.payload = JSON.stringify(configs, null, 2);\nflow.set('cfg_target_del_id', null);\nreturn [msg, { payload: `🗑️ Deleted configuration [${target_id}]` }];",
        "outputs": 2,
        "x": 530,
        "y": 700,
        "wires": [
            [
                "96b28f213d8853c8"
            ],
            [
                "41f32fc1c4201df6"
            ]
        ]
    },
    {
        "id": "96b28f213d8853c8",
        "type": "file",
        "z": "c350aeb8fed5a51f",
        "name": "Write Delete",
        "filename": "/data/saved_sensors.json",
        "appendNewline": true,
        "overwriteFile": "true",
        "x": 710,
        "y": 700,
        "wires": [
            [
                "trigger_refresh_configs_del2"
            ]
        ]
    },
    {
        "id": "trigger_refresh_configs_del2",
        "type": "delay",
        "z": "c350aeb8fed5a51f",
        "name": "Wait for Write",
        "pauseType": "delay",
        "timeout": "500",
        "timeoutUnits": "milliseconds",
        "rate": "1",
        "x": 880,
        "y": 700,
        "wires": [
            [
                "a6e7a9d2271d8de0"
            ]
        ]
    },
    {
        "id": "btn_wipe_all_configs",
        "type": "ui-button",
        "z": "c350aeb8fed5a51f",
        "group": "2a7528eec5f798b0",
        "name": "Wipe Configs Btn",
        "label": "Remove All Configs",
        "order": 5,
        "color": "white",
        "bgcolor": "#b91c1c",
        "icon": "trash",
        "payload": "[]",
        "x": 150,
        "y": 760,
        "wires": [
            [
                "write_wipe_configs",
                "log_wipe_configs"
            ]
        ]
    },
    {
        "id": "write_wipe_configs",
        "type": "file",
        "z": "c350aeb8fed5a51f",
        "name": "Erase File",
        "filename": "/data/saved_sensors.json",
        "overwriteFile": "true",
        "x": 350,
        "y": 760,
        "wires": [
            [
                "a6e7a9d2271d8de0"
            ]
        ]
    },
    {
        "id": "log_wipe_configs",
        "type": "function",
        "z": "c350aeb8fed5a51f",
        "name": "Log Wipe",
        "func": "return { payload: \"🗑️ [SYSTEM] All saved sensor configurations have been wiped.\" };",
        "outputs": 1,
        "x": 350,
        "y": 800,
        "wires": [
            [
                "41f32fc1c4201df6"
            ]
        ]
    },
    {
        "id": "b52d4de4b0b8f139",
        "type": "inject",
        "z": "c350aeb8fed5a51f",
        "name": "Poll Live Sensors",
        "props": [],
        "repeat": "3",
        "crontab": "",
        "once": true,
        "onceDelay": 0.5,
        "x": 170,
        "y": 840,
        "wires": [
            [
                "1a2466a8b03da105"
            ]
        ]
    },
    {
        "id": "1a2466a8b03da105",
        "type": "http request",
        "z": "c350aeb8fed5a51f",
        "name": "Get Containers",
        "method": "GET",
        "url": "http://docker-proxy:2375/containers/json?all=true",
        "x": 380,
        "y": 840,
        "wires": [
            [
                "732bccdf74da681d"
            ]
        ]
    },
    {
        "id": "732bccdf74da681d",
        "type": "function",
        "z": "c350aeb8fed5a51f",
        "name": "Parse Live Nodes",
        "func": "let html = '<table style=\"width:100%; text-align:left; border-collapse:collapse;\"><tr style=\"border-bottom:1px solid #555;\"><th style=\"padding:4px;\">Node ID</th><th style=\"padding:4px;\">State</th><th style=\"padding:4px;\">Status</th></tr>';\nlet opts = [];\nif(msg.payload && Array.isArray(msg.payload)){\n    let sensors = msg.payload.filter(c => c.Image === 'iot-sensor' || c.Image === 'iot-sensor:latest');\n    sensors.forEach(c => {\n        let name = c.Names[0].replace('/','');\n        let status = c.Status;\n        let state = c.State;\n        let color = state === 'running' ? '#10b981' : (state === 'paused' ? '#f59e0b' : '#ef4444');\n        if(state === 'exited') color = '#ef4444';\n        html += `<tr style=\"border-bottom:1px solid #333;\"><td style=\"padding:4px;\">${name}</td><td style=\"padding:4px;color:${color}\">${state}</td><td style=\"padding:4px;font-size:0.85em;color:#aaa;\">${status}</td></tr>`;\n        opts.push({label: name, value: name, type: 'str'});\n    });\n    if(sensors.length === 0) {\n        html += '<tr><td colspan=\"3\" style=\"text-align:center;padding:10px;\">No sensors actively running</td></tr>';\n        opts.push({label: \"No Active Nodes\", value: \"none\", type: \"str\"});\n    }\n}\nhtml += '</table>';\nreturn [{payload: html}, {options: opts}];",
        "outputs": 2,
        "x": 610,
        "y": 840,
        "wires": [
            [
                "5693e5e6bfc17c87"
            ],
            [
                "0892ed3b1b481494",
                "795f504fd6dae5d2"
            ]
        ]
    },
    {
        "id": "5693e5e6bfc17c87",
        "type": "ui-template",
        "z": "c350aeb8fed5a51f",
        "group": "ui_group_sensors_list",
        "name": "Live Nodes Table",
        "order": 1,
        "format": "<div style=\"padding:10px; background:#1e1e1e; color:#e0e0e0; border-radius:6px; font-family:monospace; font-size:14px;\"><pre style=\"margin:0;\" v-html=\"msg.payload\"></pre></div>",
        "x": 850,
        "y": 800,
        "wires": [[]]
    },
    {
        "id": "0892ed3b1b481494",
        "type": "ui-dropdown",
        "z": "c350aeb8fed5a51f",
        "group": "ui_group_node_control",
        "name": "Target Node Dropdown",
        "label": "Target Active Node",
        "order": 1,
        "passthru": true,
        "options": [],
        "typeIsComboBox": true,
        "msgTrigger": "onChange",
        "x": 860,
        "y": 880,
        "wires": [
            [
                "a7621896dc9aba0b"
            ]
        ]
    },
    {
        "id": "a7621896dc9aba0b",
        "type": "function",
        "z": "c350aeb8fed5a51f",
        "name": "Save Action Target",
        "func": "if(msg.payload && typeof msg.payload === 'string') {\n    flow.set('cfg_target_node', msg.payload);\n} else if (msg.payload && msg.payload.value) {\n    flow.set('cfg_target_node', msg.payload.value);\n}\nreturn msg;",
        "outputs": 1,
        "x": 1090,
        "y": 880,
        "wires": [[]]
    },
    {
        "id": "2ab2588ab2711330",
        "type": "ui-dropdown",
        "z": "c350aeb8fed5a51f",
        "group": "ui_group_node_control",
        "name": "Select Action",
        "label": "Action",
        "order": 2,
        "passthru": true,
        "typeIsComboBox": true,
        "msgTrigger": "onChange",
        "options": [
            { "label": "Start Container", "value": "start", "type": "str" },
            { "label": "Stop Container", "value": "stop", "type": "str" },
            { "label": "Crash Container (Kill)", "value": "kill", "type": "str" },
            { "label": "Pause Container", "value": "pause", "type": "str" },
            { "label": "Unpause Container", "value": "unpause", "type": "str" },
            { "label": "Restart Container", "value": "restart", "type": "str" },
            { "label": "Delete (Force)", "value": "delete", "type": "str" }
        ],
        "x": 150,
        "y": 940,
        "wires": [
            [
                "414f611348f38ecc"
            ]
        ]
    },
    {
        "id": "414f611348f38ecc",
        "type": "function",
        "z": "c350aeb8fed5a51f",
        "name": "Save Action",
        "func": "if(msg.payload && typeof msg.payload === 'string') {\n    flow.set('cfg_target_action', msg.payload);\n} else if (msg.payload && msg.payload.value) {\n    flow.set('cfg_target_action', msg.payload.value);\n}\nreturn msg;",
        "outputs": 1,
        "x": 350,
        "y": 940,
        "wires": [[]]
    },
    {
        "id": "2b95e017413955c2",
        "type": "ui-button",
        "z": "c350aeb8fed5a51f",
        "group": "ui_group_node_control",
        "name": "Apply Action",
        "label": "Execute Action",
        "order": 3,
        "color": "white",
        "bgcolor": "#3b82f6",
        "icon": "play",
        "x": 150,
        "y": 1000,
        "wires": [
            [
                "95c1d565db60c23f"
            ]
        ]
    },
    {
        "id": "95c1d565db60c23f",
        "type": "function",
        "z": "c350aeb8fed5a51f",
        "name": "Prep Request",
        "func": "let target_node = flow.get('cfg_target_node');\nlet action = flow.get('cfg_target_action');\nif(!target_node || target_node === 'none') { \n    return [null, { payload: '⚠️ [VALIDATION FAILED] You must select a Target Active Node.' }]; \n}\nif(!action || action === 'none') { \n    return [null, { payload: '⚠️ [VALIDATION FAILED] You must select an Action to execute.' }]; \n}\n\nif(action === 'delete') {\n    msg.method = 'DELETE';\n    msg.url = 'http://docker-proxy:2375/containers/' + target_node + '?force=true';\n} else if (action === 'kill') {\n    msg.method = 'POST';\n    msg.url = 'http://docker-proxy:2375/containers/' + target_node + '/kill';\n} else {\n    msg.method = 'POST';\n    msg.url = 'http://docker-proxy:2375/containers/' + target_node + '/' + action;\n}\nlet log = { payload: `⏳ Executing ${action.toUpperCase()} on node: ${target_node}...` };\nreturn [msg, log];",
        "outputs": 2,
        "x": 360,
        "y": 1000,
        "wires": [
            [
                "4d49aa1cb33c9929"
            ],
            [
                "41f32fc1c4201df6"
            ]
        ]
    },
    {
        "id": "4d49aa1cb33c9929",
        "type": "http request",
        "z": "c350aeb8fed5a51f",
        "name": "Exec Action",
        "method": "use",
        "url": "",
        "x": 550,
        "y": 1000,
        "wires": [
            [
                "dc68edcd9ef37667"
            ]
        ]
    },
    {
        "id": "dc68edcd9ef37667",
        "type": "function",
        "z": "c350aeb8fed5a51f",
        "name": "Action Result",
        "func": "if(msg.statusCode >= 200 && msg.statusCode < 300) {\n    msg.payload = '✅ Action completed successfully.\\n';\n} else {\n    msg.payload = '❌ Action failed: ' + msg.payload + '\\n';\n}\nreturn msg;",
        "outputs": 1,
        "x": 730,
        "y": 1000,
        "wires": [
            [
                "41f32fc1c4201df6"
            ]
        ]
    },
    {
        "id": "e8e6ccd707655fdd",
        "type": "ui-button",
        "z": "c350aeb8fed5a51f",
        "group": "ui_group_node_control",
        "name": "Kill All",
        "label": "Kill ALL Live Sensors",
        "order": 4,
        "color": "white",
        "bgcolor": "#ef4444",
        "icon": "trash",
        "x": 130,
        "y": 1080,
        "wires": [
            [
                "a0d8aa6125b62a6a",
                "27566e9f9b7a5bb3"
            ]
        ]
    },
    {
        "id": "a0d8aa6125b62a6a",
        "type": "function",
        "z": "c350aeb8fed5a51f",
        "name": "Log Kill All",
        "func": "return { payload: '🔥 ALL SENSORS EVACUATION TRIGGERED...' };",
        "outputs": 1,
        "x": 330,
        "y": 1040,
        "wires": [
            [
                "41f32fc1c4201df6"
            ]
        ]
    },
    {
        "id": "27566e9f9b7a5bb3",
        "type": "http request",
        "z": "c350aeb8fed5a51f",
        "name": "Get Sensors Wipe",
        "method": "GET",
        "url": "http://docker-proxy:2375/containers/json?all=true",
        "x": 330,
        "y": 1080,
        "wires": [
            [
                "1166d050ea1cf60a"
            ]
        ]
    },
    {
        "id": "1166d050ea1cf60a",
        "type": "function",
        "z": "c350aeb8fed5a51f",
        "name": "Extract IDs to Kill",
        "func": "let sensors = [];\nif(msg.payload && Array.isArray(msg.payload)){\n    sensors = msg.payload.filter(c => c.Image === 'iot-sensor' || c.Image === 'iot-sensor:latest');\n}\nif(sensors.length === 0) {\n    return [null, { payload: \"⚠️ [VALIDATION FAILED] No active sensor containers found to kill.\" }];\n}\nlet msgs = sensors.map(s => {\n    return {\n        url: 'http://docker-proxy:2375/containers/' + s.Id + '?force=true',\n        method: 'DELETE'\n    };\n});\nreturn [msgs, { payload: `🔥 Executing Kill/Wipe on ${msgs.length} active sensors...` }];",
        "outputs": 2,
        "x": 550,
        "y": 1080,
        "wires": [
            [
                "2873f47084b7bc66"
            ],
            [
                "41f32fc1c4201df6"
            ]
        ]
    },
    {
        "id": "2873f47084b7bc66",
        "type": "http request",
        "z": "c350aeb8fed5a51f",
        "name": "HTTP Wipe",
        "method": "use",
        "url": "",
        "x": 750,
        "y": 1080,
        "wires": [[]]
    },
    {
        "id": "795f504fd6dae5d2",
        "type": "ui-dropdown",
        "z": "c350aeb8fed5a51f",
        "group": "ui_group_sensor_monitor",
        "name": "Monitor Target",
        "label": "Select Sensor:",
        "order": 2,
        "x": 860,
        "y": 960,
        "wires": [
            [
                "f5889619bebc44cb"
            ]
        ]
    },
    {
        "id": "f5889619bebc44cb",
        "type": "function",
        "z": "c350aeb8fed5a51f",
        "name": "Save Target MQTT",
        "func": "if(msg.payload) flow.set('cfg_monitor_node', msg.payload);\nreturn msg;",
        "outputs": 1,
        "x": 1070,
        "y": 960,
        "wires": [[]]
    },
    {
        "id": "c6f6c4c009b8dd68",
        "type": "ui-button",
        "z": "c350aeb8fed5a51f",
        "group": "ui_group_sensor_monitor",
        "name": "Start Monitor Btn",
        "label": "Start",
        "order": 3,
        "color": "white",
        "bgcolor": "#10b981",
        "icon": "fa-play",
        "x": 190,
        "y": 1160,
        "wires": [
            [
                "29bcbb274350f0df"
            ]
        ]
    },
    {
        "id": "498434262bac3cc0",
        "type": "ui-button",
        "z": "c350aeb8fed5a51f",
        "group": "ui_group_sensor_monitor",
        "name": "Stop Monitor Btn",
        "label": "Stop",
        "order": 4,
        "color": "white",
        "bgcolor": "#ef4444",
        "icon": "fa-stop",
        "x": 170,
        "y": 1220,
        "wires": [
            [
                "f209c7e18ff8f7dd"
            ]
        ]
    },
    {
        "id": "29bcbb274350f0df",
        "type": "function",
        "z": "c350aeb8fed5a51f",
        "name": "Activate Stream",
        "func": "let target = flow.get('cfg_monitor_node');\nif (!target || target === 'none') { \n    msg.payload = \"⚠️ [VALIDATION FAILED] Please select a target active sensor to monitor.\"; \n    return msg; \n}\n\nflow.set('sensor_monitor_active', true);\nflow.set('mqtt_terminal_logs', []);\nmsg.payload = `[SYSTEM] Connected to Mosquitto Broker.\\nListening for MQTT telemetry matching [${target}]...`;\nreturn msg;",
        "outputs": 1,
        "x": 400,
        "y": 1160,
        "wires": [
            [
                "11131a1f5fc2d537"
            ]
        ]
    },
    {
        "id": "f209c7e18ff8f7dd",
        "type": "function",
        "z": "c350aeb8fed5a51f",
        "name": "Deactivate Stream",
        "func": "let target = flow.get('cfg_monitor_node') || 'sensor';\nflow.set('sensor_monitor_active', false);\nmsg.payload = `[SYSTEM] Filter deactivated.\\nStopped listening for [${target}].`;\nreturn msg;",
        "outputs": 1,
        "x": 390,
        "y": 1220,
        "wires": [
            [
                "11131a1f5fc2d537"
            ]
        ]
    },
    {
        "id": "418f9cda65faf380",
        "type": "mqtt in",
        "z": "c350aeb8fed5a51f",
        "name": "Subscribe: All Traffic (#)",
        "topic": "#",
        "broker": "51da8597d9054cc4",
        "x": 180,
        "y": 1280,
        "wires": [
            [
                "77926673dfcad923"
            ]
        ]
    },
    {
        "id": "77926673dfcad923",
        "type": "function",
        "z": "c350aeb8fed5a51f",
        "name": "Smart Filter",
        "func": "let active = flow.get('sensor_monitor_active');\nlet target = flow.get('cfg_monitor_node');\nif (!active || !target) return null;\n\nlet topic = msg.topic;\nlet payloadStr = typeof msg.payload === 'object' ? JSON.stringify(msg.payload) : String(msg.payload);\n\nif (topic.includes(target) || payloadStr.includes(target)) {\n    let time = new Date().toLocaleTimeString();\n    if (typeof msg.payload === 'object') {\n        payloadStr = JSON.stringify(msg.payload, null, 2);\n    }\n    let logEntry = `[${time}] Topic: ${topic}\\n${payloadStr}`;\n    let logs = flow.get('mqtt_terminal_logs') || [];\n    logs.push(logEntry);\n    if (logs.length > 5) logs.shift();\n    flow.set('mqtt_terminal_logs', logs);\n    msg.payload = logs.join('\\n----------------------------------\\n');\n    return msg;\n}\nreturn null;",
        "outputs": 1,
        "x": 410,
        "y": 1280,
        "wires": [
            [
                "11131a1f5fc2d537"
            ]
        ]
    },
    {
        "id": "11131a1f5fc2d537",
        "type": "ui-template",
        "z": "c350aeb8fed5a51f",
        "group": "ui_group_sensor_monitor",
        "name": "MQTT Data Terminal",
        "order": 1,
        "format": "<div style=\"background:#1e1e1e; border: 1px solid #333; border-radius:8px; box-shadow: 0 4px 15px rgba(0,0,0,0.5); margin-top: 5px;\">\n    <div style=\"background:#2d2d2d; padding:8px 15px; border-bottom:1px solid #444; border-radius: 8px 8px 0 0; color:#888; font-family:sans-serif; font-size:12px; display:flex; align-items:center;\">\n       <span style=\"margin-left:15px; color:#a3a3a3; font-weight:500;\"><i class=\"fa fa-wifi\"></i> mosquitto-broker-stream</span>\n    </div>\n    <pre style=\"color:#22d3ee; padding:15px; height:240px; overflow-y:auto; font-family:'Fira Code', 'Courier New', monospace; font-size:13px; margin:0; white-space:pre-wrap; line-height: 1.4;\" v-text=\"msg.payload||'Broker connection pending...' \"></pre>\n</div>",
        "x": 660,
        "y": 1200,
        "wires": [[]]
    },
    {
        "id": "ui_group_create",
        "type": "ui-group",
        "name": "Create Sensor Node",
        "page": "ui_page_management",
        "width": "6",
        "order": 1,
        "showTitle": true
    },
    {
        "id": "8bcc34ca17387ebb",
        "type": "ui-base",
        "name": "My Dashboard",
        "path": "/dashboard"
    },
    {
        "id": "ui_group_deploy_log",
        "type": "ui-group",
        "name": "Deployment Log",
        "page": "ui_page_management",
        "width": "6",
        "order": 2,
        "showTitle": true
    },
    {
        "id": "2a7528eec5f798b0",
        "type": "ui-group",
        "name": "Saved Configurations",
        "page": "ui_page_management",
        "width": "6",
        "order": 3,
        "showTitle": true
    },
    {
        "id": "ui_group_sensors_list",
        "type": "ui-group",
        "name": "Active Sensors",
        "page": "ui_page_management",
        "width": "6",
        "order": 5,
        "showTitle": true
    },
    {
        "id": "ui_group_node_control",
        "type": "ui-group",
        "name": "Node Control",
        "page": "ui_page_management",
        "width": "6",
        "order": 4,
        "showTitle": true
    },
    {
        "id": "ui_group_sensor_monitor",
        "type": "ui-group",
        "name": "Live Sensor Feed",
        "page": "ui_page_management",
        "width": "6",
        "order": 6,
        "showTitle": true
    },
    {
        "id": "51da8597d9054cc4",
        "type": "mqtt-broker",
        "name": "Makmal MQTT Broker",
        "broker": "mosquitto",
        "port": "1883"
    },
    {
        "id": "ui_page_management",
        "type": "ui-page",
        "name": "Node Management",
        "ui": "8bcc34ca17387ebb",
        "path": "/node-management",
        "icon": "server",
        "layout": "grid",
        "theme": "c382198a61249f47",
        "order": 1
    },
    {
        "id": "c382198a61249f47",
        "type": "ui-theme",
        "name": "Default Theme",
        "colors": {
            "surface": "#ffffff",
            "primary": "#0094CE",
            "bgPage": "#eeeeee",
            "groupBg": "#ffffff",
            "groupOutline": "#cccccc"
        }
    }
]
